{% extends "Cungfoo/base.twig" %}

{% block content %}
  <h3>{{ "job.crud.list" | trans }}</h3>
  <div class="box">
    <table class="table">
      <thead>
        <tr>
          <th>{{ "job.name" | trans }}</th>
          <th>{{ "job.type" | trans }}</th>
          <th>{{ "job.message" | trans }}</th>
          <th>{{ "job.created_at" | trans }}</th>
          <th>{{ "job.completed_at" | trans }}</th>
          <th>{{ "list.actions" | trans }}</th>
        </tr>
      </thead>
      <tbody>
      {% for job in jobs %}
        <tr>
          <td class="center">{{ job.name }}</td>
          <td class="center">{{ job.type }}</td>
          <td class="center">{{ job.message }}</td>
          <td class="center">{{ job.createdAt | date("m/d/Y H:i:s") }}</td>
          <td class="center">{{ job.completedAt | date("m/d/Y H:i:s") }}</td>
          <td class="center"><a href="{{ path('job_log_list', {'id':job.id}) }}"><i class="icon-list-alt"></i></a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

