<div class="radiusBox2 greyM form">
        <h2>{{ "coordonnees_contact.vos_coordonnees"|trans }}</h2>
        <form id="annulationForm" method="post" action="{{ app.requesr.requestUri }}" novalidate="" enctype="multipart/form-data">
            <div class="errors"></div>
            <fieldset>
                <legend class="h4-like">{{ "coordonnees_contact.vos_coordonnees"|trans }}</legend>
                <table>
                    <tbody>
                    <tr>
                        <th class="label">{{ form_label(form.civilite) }}</th>
                        <td class="field">{{ form_widget(form.civilite) }}</td>
                        <th class="label">{{ form_label(form.prenom) }}</th>
                        <td class="field">{{ form_widget(form.prenom) }}</td>
                    </tr>
                    <tr>
                        <th class="label">{{ form_label(form.nom) }}</th>
                        <td class="field">{{ form_widget(form.nom) }}</td>
                    </tr>
                    <tr>
                        <th class="label">{{ form_label(form.type) }}</th>
                        <td class="field">{{ form_widget(form.type) }}</td>
                    </tr>
                    <tr>
                        <th class="label">{{ form_label(form.ville) }}</th>
                        <td class="field">{{ form_widget(form.ville) }}</td>
                        <th class="label">{{ form_label(form.adresse) }}</th>
                        <td class="field" rowspan="2">{{ form_widget(form.adresse) }}</td>
                    </tr>
                    <tr>
                        <th class="label">{{ form_label(form.code_postal) }}</th>
                        <td class="field">{{ form_widget(form.code_postal) }}</td>
                    </tr>
                    <tr>
                        <th class="label">{{ form_label(form.pays) }}</th>
                        <td class="field">{{ form_widget(form.pays) }}</td>
                        <th class="label">{{ form_label(form.email) }}</th>
                        <td class="field">{{ form_widget(form.email) }}</td>
                    </tr>
                    <tr>
                        <th class="label">{{ form_label(form.telephone) }}</th>
                        <td class="field">{{ form_widget(form.telephone) }}</td>
                        <th class="label">{{ form_label(form.fax) }}</th>
                        <td class="field">{{ form_widget(form.fax) }}</td>
                    </tr>
                </tbody></table>
            </fieldset>
            <fieldset>
                <legend class="h4-like">{{ "coordonnees_contact.votre_message"|trans }}</legend>
                <table>
                    <tbody>
                        <tr>
                            <th class="label">{{ form_label(form.sujet) }}</th>
                            <td class="field">{{ form_widget(form.sujet) }}</td>
                        </tr>
                        <tr>
                            <th class="label"></th>
                            <td class="field">{{ form_widget(form.message) }}</td>
                        </tr>
                        <tr>
                            <th class="label"></th>
                            <td class="field">{{ form_widget(form.captcha) }}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="bt fushia big right" name="annulationForm">Envoyer</button>
                <div style="display: none;">
                    {{ form_rest(form) }}
                </div>
            </fieldset>
        </form>
</div>
