<span class="nbResult"><span class="nb">{{ list.element | length }}</span>{{ "general.resultats"|trans }}</span>
<div class="typeAff">
    <span>{{ "general.toggle"|trans }}</span>
    <button id="btList" class="button picto active">{{ "general.list"|trans }}</button>
    <button id="btMap" class="button picto">{{ "general.map"|trans }}</button>
</div>
<div id="widgetRange">
    {{ "general.budget_range"|trans }}
    <div id="noUiSlider" class="noUiSlider horizontal"></div>
</div>
