<div id="results" class="clear">
    {% for etab in list.element %}
    <div data-id="{{ path('infobox_camping', {idResalys: etab.model.code}) }}" class="itemResult {% if list.type == 0 %}itemCatalogue{% endif %} clear" data-critplus="SRV2,SRV6,SRV7,AL1,TH4,TH3,TH2,TH5,SC1,SC2,SC3,SC4,SC5,TH1,AL2" data-crit="SIT4,SIT3,SIT7,DST1,">
        <!-- item.title -->
        <div class="itemResultTitle">
            <input type="checkbox" name="compar" value="idCamp1">
            {{ etab.model.name }} {{ etab.model.categorie.stars }}
            {% if list.type == 1 %}
            <span class="dates">du {{ etab.start_date }} au {{ etab.end_date }}</span>
            {% endif %}
        </div>
        <!-- item.left -->
        <div class="itemResultLeft">
            <img src="{{ asset(etab.model.vignette) }}" alt="" class="boxborder">
        </div>
        <!-- item.center -->
        <div class="itemResultCenter">
            <p>- Accès direct à la plage</p>
            <p>- Cadre boisé</p>
            <p>- Parc aquatique</p>
            <p>- Nombreuses animations</p>

            {# TODO
            <div class="pictos">
                <img src="{{ asset('images/vacancesdirectes/dyn/results/picto.png') }}" alt="">
                <img src="{{ asset('images/vacancesdirectes/dyn/results/picto.png') }}" alt="">
                <img src="{{ asset('images/vacancesdirectes/dyn/results/picto.png') }}" alt="">
            </div>
            #}

            <a class="bt sombre" href="{{ path('destination_camping', { pays: etab.model.pays.slug, region: etab.model.region.slug, ville: etab.model.ville.slug, camping: etab.model.slug }) }}">{{ "general.decouvrir_le_camping" | trans }}</a>
        </div>
        <!-- item.right -->
        <div class="itemResultRight">
            <span class="bt trans">{{ "general.en_savoir_plus" | trans }}<br>{{ "general.sur_la_destination" | trans }}</span>

            <div class="itemResultPopDest" style="display:none;"><div>
                <h3>{{ etab.model.ville }}</h3>
                <img height="93" width="211" alt="" src="http://pimg.devlint.fr/211x93/ccc/333/*" class="iDestImg1 boxborder">
                <img height="65" width="146" alt="" src="http://pimg.devlint.fr/146x65/ccc/333/*" class="iDestImg2 boxborder">

                <div class="infoPop">
                {% if etab.model.eventPrioritaire %}
                    <img height="66" width="67" class="left boxborder" alt="{{ etab.model.eventPrioritaire.name }}" src="{{ etab.model.eventPrioritaire.image }}">
                    {{ etab.model.eventPrioritaire.name }} - {{ etab.model.eventPrioritaire.address }} - {{ etab.model.eventPrioritaire.zipcode }} {{ etab.model.eventPrioritaire.city }}
                    {{ etab.model.eventPrioritaire.strDate }}
                    {# TODO <a class="button trans" href="#_">{{ "general.plus_evenements" | trans }}</a> #}
                {% endif %}
                </div>

                <div class="infoPop">
                {% if etab.model.poiPrioritaire %}
                    <img height="66" width="67" class="left boxborder" alt="{{ etab.model.poiPrioritaire.name }}" src="{{ etab.model.poiPrioritaire.image }}">
                    {{ etab.model.poiPrioritaire.name }}
                    {# TODO <a class="button trans" href="#_">{{ "general.plus_visite" | trans }}</a> #}
                {% endif %}
                </div>

                {# TODO
                <div class="imanqPop">
                    <h4>&Agrave; ne pas manquer</h4>

                    <a class="bt trans" href="#_">{{ etab.model.countPoi }} {{ "fiche.sites_a_visiter" | trans }}</a>
                    <a class="bt trans" href="#_">{{ etab.model.countActivitesSportives }} {{ "fiche.activites_sportives" | trans }}</a>
                    <a class="bt trans" href="#_">{{ etab.model.countEvenementsCulturels }} {{ "fiche.evenements_culturels" | trans }}</a>
                </div>
                #}

                <a class="bt big grisC" href="{{ path('destination_ville', {pays: etab.model.pays.slug, region: etab.model.region.slug, ville: etab.model.ville.slug })}}">{{ "general.decouvrir" | trans }} {{ etab.model.ville }}</a>
            </div></div>
        </div>
        <!-- item.bottom -->
        <div class="itemResultBottom clear">
            {% if list.type == 1 %}
                {% set loopParent = loop %}
                {% for proposal in etab.extra %}
                    {% set discount = proposal.adult_price != proposal.adult_price_without_discounts %}
                    <div class="linePrice {% if discount %}promotion{% endif %} {% if loop.first %}checked{% endif %}">
                        <label for="{{ "camp" ~ etab.model.code }}-{{ loopParent.index ~ loop.index }}"><input type="radio" id="{{ "camp" ~ etab.model.code }}-{{ loopParent.index ~ loop.index }}" name="{{ "camp" ~ etab.model.code }}-{{ loopParent.index }}" {% if loop.first %}checked="checked"{% endif %}> {{ proposal.room_types.room_type.room_type_label }} <span class="price">{{ proposal.adult_price|number_format }} €</span></label>
                        {% if discount %}
                        <span class="stain fushia cover">
                            <span class="promo">-{{ ((proposal.adult_price_without_discounts|number_format - proposal.adult_price|number_format) * 100 / proposal.adult_price_without_discounts)|number_format }}%</span>
                            <span class="price">{{ proposal.adult_price|number_format }}€</span>
                            <span class="aulieude">{{ "general.au_lieu_de" | trans }} {{ proposal.adult_price_without_discounts|number_format }} €</span>
                        </span>
                        {% else %}
                        <span class="stain fushia cover">
                            <span class="price">{{ proposal.adult_price|number_format }} €</span>
                        </span>
                        {% endif %}
                        <a class="bt big" href="{{ path('couloir_detail_sejour', {proposalKey: proposal.proposal_key}) }}">{{ "general.reserver" | trans }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <div class="linePrice catalogue checked">
                    <span class="stain fushia cover">
                        <span class="apartirde">{{ "general.a_partir_de" | trans }} </span>
                        <span class="price">{{ etab.model.minimumPrice|number_format }} €</span>
                    </span>
                    <a class="bt big" href="{{ path('destination_camping', {pays: etab.model.pays.slug, region: etab.model.region.slug, ville: etab.model.ville.slug, camping: etab.model.slug}) }}#frameResalys">{{ "general.reserver" | trans }}</a>
                </div>
            {% endif %}
        </div>
    </div><!-- // .itemResult -->
    {% endfor %}
</div><!-- // #result -->
