{% extends "base.twig" %}

{% block title %}
{% spaceless %}
    {{ "seo.title.bonPlan" | trans ({'%bonPlan%': seo}) }}
{% endspaceless %}
{% endblock %}

{% block metaDescription %}
{% spaceless %}
    {{ "seo.meta.bonPlan" | trans  ({'%bonPlan%': seo})}}
{% endspaceless %}
{% endblock %}

{% block leftColumn %}
    <h1>{{ bonPlan.name }}</h1>

    <p class="description">{{ bonPlan.description }}</p> {# Description #}

    {% if bonPlan.imagePage %}
    <img class="bdPict" src="{{ asset(bonPlan.imagePage) }}" alt="">
    {% endif %}

    {% if list.element|length > 0 %}
    {% include 'Listing/_filters.twig' %}
    {% endif %}
    {% include 'Listing/_gmap.twig' %}
    {% include 'Listing/_listing.twig' %}
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
    <div id="greyBoxes">
        {% include 'Bloc/informations.twig' %}
    </div>
{% endblock %}
