{% extends "base.twig" %}

{% block title %}
{% spaceless %}
    {{ bonPlan.seoTitle | trans ({'%bonPlan%': bonPlan.name}) }}
{% endspaceless %}
{% endblock %}

{% block metaDescription %}
{% spaceless %}
    {{ bonPlan.seoDescription | trans  ({'%bonPlan%': bonPlan.name})}}
{% endspaceless %}
{% endblock %}

{% block leftColumn %}

    {% include "Breadcrumbs/_breadcrumbs.twig" %}

    <h1> {{ "bon_plan.title" | trans ({'%bonPlan%': bonPlan.name}) }}</h1>

    <div class="richText">{{ bonPlan.description | raw }}</div>{# Description #}

    {% if bonPlan.imagePage %}
    <img class="bdPict" src="{{ asset(bonPlan.imagePage) }}" alt="">
    {% endif %}

    {% if list.element|length > 0 %}
    {% include 'Listing/_filters.twig' %}
    {% endif %}
    {% include 'Listing/_gmap.twig' %}
    {% include 'Listing/_listing.twig' %}
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
    <div id="greyBoxes">
        {{ esi(path('widget', {'name': 'reassurance'})) }}
    </div>
{% endblock %}
