{% extends 'base.twig' %}

{% block title %}{{ title }}{% endblock %}
{% block metaDescription %}{{ metaDescription }}{% endblock %}

{% block bodyClass %}result{% endblock %}

{% block leftColumn %}
    <h1 itemprop="name">
        {{ h1 }}
    </h1>
    {% if intro != "" %}<p class="description">{{ intro | nl2br }}</p>{% endif %}
    {% if list.element|length > 0 %}
    {% include 'Listing/_filters.twig' %}
    {% endif %}
    {% include 'Listing/_gmap.twig' %}
    {% include 'Listing/_listing.twig' %}
    {% if texteOffre != "" %}<p>{{ texteOffre }}</p>{% endif %}
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}

    {{ render(path('search_filter')) }}
{% endblock %}
