{% extends "base.twig" %}

{% block title %}Packages{% endblock %}

{% block headjs %}{{ parent() }}
,{search: templatePath + "js/vacancesdirectes/search.js?v={{ app.config.get('version') }}"}
{% endblock %}

{% block content %}
    <div id="searchContainerReservation" class="column clear">
        <div class="searchBox full-width">
            <form id="searchForm" class="searchBlock" action="{{ path(app.request.get('_route')) }}" method="post">
                <fieldset>
                    <legend>Remplissez les séjours de vos adhérents</legend>

                    <div class="error">{{ form_errors(achatLineaireForm) }}</div>

                    <ol>
                        <li id="AchatLineaire_isBasseSaison" data-already-linear="1" style="display:none;">
                            {{ form_widget(achatLineaireForm.isBasseSaison) }}
                        </li>
                        <li>
                            <div class="selectContainer clear">
                                {{ form_widget(achatLineaireForm.pays) }}
                                {{ form_widget(achatLineaireForm.region) }}
                            </div>
                        </li>
                        <li>
                            <div class="selectContainer clear">
                                {{ form_widget(achatLineaireForm.campings, { 'attr': {'class': 'sMultSelect'}}) }}
                            </div>
                        </li>
                        <li>
                            <div class="selectContainer clear">
                                {{ form_widget(achatLineaireForm.nbAdultes) }}
                                {{ form_widget(achatLineaireForm.nbEnfants) }}
                            </div>
                        </li>
                        <li class="clear">
                            <div id="datepicker">
                                {{ form_widget(achatLineaireForm.dateDebut, { 'attr': {'class': 'hidden'}}) }}
                                {{ form_widget(achatLineaireForm.dateFin, { 'attr': {'class': 'hidden'}}) }}
                                <div id="datepickerField" class="clear">
                                    <input type="text" name="datepicker" id="datepickerInput" readonly="readonly" placeholder="Dates d'arrivée et de départ" /><span class="date"></span>
                                </div>
                                <div id="datepickerCalendar">

                                </div>
                            </div>
                            <button type="submit" class="bt fushia">Rechercher</button>
                        </li>
                    </ol>
                </fieldset>
                {{ form_rest(achatLineaireForm) }}

                <script type="text/javascript">
                    var fStartDate = '2013/04/06',                  // must be a saturday
                            fEndDate = '2013/10/26',                // must be a saturday
                            linear = "reservation",
                            numMinWeeks = 1,                       // minimum number of weeks selectable (for linear mini)
                            info = "";
                </script>

                <script type="text/javascript">
                    var getRegionsByPays    = "{{ path('search_get_regions_by_pays') }}";
                    var getCampingsByPays   = "{{ path('search_get_campings_by_pays') }}";
                    var getCampingsByRegion = "{{ path('search_get_campings_by_region') }}";
                </script>
            </form>
            <div id="searchText" class="searchBlock">
                <h2>Choisissez votre séjour</h2>
                <div id="searchTextContent">
                    <p>Vous avez ici accès à toutes les disponibilités Vacances directes/Village Center. Vous retrouvez donc les disponibilités des produits que vous avez achetés, et afin d'obtenir les meilleurs résultats pour vos adhérents, vous avez également accès à toutes les disponilibilités au coup par coup.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
