{% for etab in bon_plan.element %}
    {% for proposal in etab.extra %}
    <form id="camping-{{ etab.model.slug }}" method="POST" class="element">
        <input type="hidden" name="{{ "camp" ~ etab.model.code }}-{{ loopParent.index }}" value="{{ proposal|serialize }}" />
        <div class="clear linkParent itemGetCampingFiche">
            <img class="boxborder left" src="{{ asset(etab.model.vignette) }}" width="119" height="86" alt="" />
            <div class="details left">
                <span class="title">{{ etab.model.name }} {{ etab.model.categorie.stars }}</span>
                <span class="region">{{ etab.model.ville.region }}</span>
                <span class="period">Du {{ etab.start_date }} au {{ etab.end_date }}</span>
                {% set discount = proposal.adult_price != proposal.adult_price_without_discounts %}
                {% if discount %}
                    <span class="condition"><a href="{{ path('destination_camping', { pays: etab.model.pays.slug, region: etab.model.region.slug, ville: etab.model.ville.slug, camping: etab.model.slug }) }}" class="price linkBlock">{{ proposal.adult_price|number_format }}<span class="fine">&nbsp;</span>€ {{ "general.au_lieu_de" | trans }} {{ proposal.adult_price_without_discounts|number_format }}<span class="fine">&nbsp;</span>€</a><br>
                    {{ proposal.room_types.room_type.room_type_label }}</span>
                {% else %}
                    <span class="condition"><a href="{{ path('destination_camping', { pays: etab.model.pays.slug, region: etab.model.region.slug, ville: etab.model.ville.slug, camping: etab.model.slug }) }}" class="price linkBlock">{{ proposal.adult_price|number_format }}<span class="fine">&nbsp;</span>€</a><br>
                    {{ proposal.room_types.room_type.room_type_label }}</span>
                {% endif %}
            </div>
        </div>
    </form>
    {% endfor %}
{% endfor %}
