<div id="lastLocations" class="locationForwards clear">
	{% set nbpassage = 1 %}
    {% for etab in dispos.element %}
		{% if nbpassage == 1 %}
			<div class="stamp grey">
				<h2><span class="counter">J - {{ etab.days_countdown }}</span>{{ "home.early_booking" | trans }}</h2>
			</div>
			{% set nbpassage = 2 %}
		{% endif %}
        {% for proposal in etab.extra %}
        <form id="camping-{{ etab.model.slug }}" method="POST">
            <input type="hidden" name="{{ "camp" ~ etab.model.code }}-{{ loopParent.index }}" value="{{ proposal|serialize }}" />
            <div class="element clear linkParent itemGetCampingFiche">
                <div class="details left">
                    <span class="title">{{ etab.model.name }} {{ etab.model.categorie.stars }}</span>
					<span class="region left">{{ etab.model.ville.region }}</span>
				</div>
				<div class="price right">
					{{ proposal.adult_price|number_format }}
					<span class="fine">&nbsp;</span>€ 
                    {% set discount = proposal.adult_price != proposal.adult_price_without_discounts %}
                    {% if discount %}
                        <span class="condition clear">{{ "general.au_lieu_de" | trans }} <span class="barre">{{ proposal.adult_price_without_discounts|number_format }}<span class="fine">&nbsp;</span>€</span></span>
                    {% endif %}
				</div>
				<div class="clear"></div>
				<div class="period left">{{ "listing.du" | trans }} {{ etab.start_date }} {{ "listing.au" | trans }} {{ etab.end_date }}</div>
				<a href="{{ path('destination_camping', { pays: etab.model.pays.slug, region: etab.model.region.slug, ville: etab.model.ville.slug, camping: etab.model.slug }) }}" id="btnReserver" class="right linkBlock">Reserver</a> 
			</div>
        </form>
        {% endfor %}
    {% else %}
    
    {% endfor %}
	{% if nbpassage == 1 %}
		<div class="stamp grey">
			<h2>{{ "home.early_booking" | trans }}</h2>
		</div>
	{% endif %}
    {% if bon_plan %}
    <a href="{{ path('bonsplans', {'slug': bon_plan.slug}) }}" class="bt link right">{{ "home.early_booking.link" | trans  ({'%number%': dispos.element|length }) }}</a>
    {% endif %}
</div>
