{% extends "base.twig" %}

{% block title %}Packages{% endblock %}

{% block headjs %}{{ parent() }}
,{search: templatePath + "js/vacancesdirectes/search.js"}
{% endblock %}

{% block content %}
    <!--<div id="linearSwitcher">
        <p>
            <label>Rechercher de :</label>
            <input type = "radio"
                   name = "linearType"
                   id = "classicLinear"
                   value = "classic"
                   checked = "checked" />
            <label for = "classicLinear">linéaires classiques</label>
            <input type = "radio"
                   name = "linearType"
                   id = "miniLinear"
                   value = "mini" />
            <label for = "miniLinear">linéaires basse saison</label>
        </p>
    </div>-->

    <div id="searchContainer" class="column clearboth">
        <div id="searchPrincipal" class="searchBox classic">
            <form id="searchForm" class="searchBlock" action="{{ path(app.request.get('_route')) }}" method="post">
                <fieldset>
                    <legend>Recherche de linéaires classiques</legend>

                    <pre>{{ form_errors(achatLineaireForm) }}</pre>

                    <ol>
                        <li>
                            <div class="selectContainer clear">
                                {{ form_widget(achatLineaireForm.pays) }}
                                {{ form_widget(achatLineaireForm.region) }}
                            </div>
                        </li>
                        <li>
                            <div class="selectContainer clear">
                                {{ form_widget(achatLineaireForm.campings, { 'attr': {'class': 'sMultSelect'}}) }}
                            </div>
                        </li>
                        <li>
                            <div id="widget">
                                {{ form_widget(achatLineaireForm.dateDebut, { 'attr': {'class': 'hidden'}}) }}
                                {{ form_widget(achatLineaireForm.dateFin, { 'attr': {'class': 'hidden'}}) }}
                                <div id="widgetField" class="clear">
                                    <input type="text" name="datepicker" id="widgetInput" readonly="readonly" /><span class="date"></span>
                                </div>
                                <div id="widgetCalendar">

                                </div>
                            </div>
                            <button type="submit" class="bt fushia">Rechercher</button>
                        </li>
                    </ol>
                </fieldset>
                {{ form_rest(achatLineaireForm) }}

                <script type="text/javascript">
                    var getRegionsByPays    = "{{ path('search_get_regions_by_pays') }}";
                    var getCampingsByPays   = "{{ path('search_get_campings_by_pays') }}";
                    var getCampingsByRegion = "{{ path('search_get_campings_by_region') }}";
                </script>
            </form>
            <div id="searchText" class="searchBlock">
                <div id="searchTextContent">
                    <p>Vous souhaitez réserver un linéaire haute saison : Profitez de 8 semaines minimum consécutives (du 06/07 au 31/08/13) sur le ou les campings spécialement choisis par vos soins. Vous pouvez aisément ajouter, dès l’achat, des semaines consécutives avant ou après le linéaire (135€ la semaine). N’oubliez pas, grâce à ce linéaire, vous pouvez acheter un linéaire mini : 6 semaines consécutives en basse saison (135€ la semaine) !</p>
                </div>
            </div>
        </div>


        <div class="column clearboth" id="discoverContainer">

            <iframe id="frameResalys" src="{{ path('resalys_wrapper', {
                webuser: 'web_ce_achat_fr',
                display: 'default',
                tokens: 'ignore_token',
                session: app.session.get('resalys_user').session,
                template: 'search_product_results',
                actions: 'updateProductCriterias;getProductProposals',
                criterias_object_name: 'search_form',
                product_CMSCriteria_ALL: 'ALL',
                search_page: '1',
                product_CMSCriteria_PHS: '',
                product_start_date: "now" | date("d/m/Y"),
            }) }}" width="960px" height="700px"></iframe>
        </div>
{% endblock %}
