{% extends "base.twig" %}

{% block title %}
{% spaceless %}
    {{ poi.seoTitle | trans ({'%poi%': poi.name, '%ville%': poi.city})}}
{% endspaceless %}
{% endblock %}

{% block metaDescription %}
{% spaceless %}
    {{ poi.seoDescription | trans  ({'%poi%': poi.name, '%ville%': poi.city})}}
{% endspaceless %}
{% endblock %}

{% block leftColumn %}

    {% include "Breadcrumbs/_breadcrumbs.twig" %}

    {# Bloc titre + accroche + picto #}
    <h1>{{ poi.name }}</h1> {# Titre #}
    <div class="description content clear">
        <img class="left border" src="{{ poi.image }}">
        <p>{{ poi.presentation }}</p>
    </div>

    <div class="radiusBox3">
        <h2 class="title">{{ "poi.informations_pratiques" | trans }}</h2>
        <div class="content clear">
            <div class="contentL">
                <p>{{ poi.zipcode }} {{ poi.city }}</p>
                <p>
                    {% if poi.address != "" or poi.address2 != "" %} <span class="label">{{ "poi.adresse" | trans }}</span><br />
                        {% if poi.address != "" %} {{ poi.address }}<br> {% endif %}
                        {% if poi.address2 != "" %}{{ poi.address2 }}<br> {% endif %}
                    {% endif %}
                    {{ poi.zipcode }} {{ poi.city }}<br />
                    {% if poi.tel != "" %} <span class="label">{{ "poi.tel" | trans }}</span> {{ poi.tel }}<br /> {% endif %}
                    {% if poi.fax != "" %} <span class="label">{{ "poi.fax" | trans }}</span> {{ poi.fax }}<br /> {% endif %}
                    {% if poi.email != "" %} <span class="label">{{ "poi.email" | trans }}</span> {{ poi.email }} {% endif %}
                </p>
            </div>
            <div class="contentR">
                {% if poi.categorie != "" %} <p><span class="label">{{ "poi.categorie" | trans }}</span> {{ poi.categorie }}</p> {% endif %}
                {% if poi.type != "" %} <p><span class="label">{{ "poi.type" | trans }}</span> {{ poi.type }}</p> {% endif %}
                {% if poi.transport != "" %} <p><span class="label">{{ "poi.transport" | trans }}</span> {{ poi.transport }}</p> {% endif %}
            </div>
            {% if poi.website != "" %}<a class="bt fushia ib right clearboth" href="{{ poi.website }}" target="_blank">{{ "poi.acceder_site" | trans }}</a>{% endif %}
        </div>
    </div>

    {# Bloc "Notre sélection de campings" #}
    <h2 class="h3-like">{{ "destination.campings_selection_title" | trans }}</h2>
    {% include 'Listing/_listing.twig' %}

{% endblock %}

{% block rightColumn %}

    {% include 'Form/_search_engine.twig' %}
    <div id="greyBoxes">
        {{ esi(path('widget', {'name': 'sejour_reussi'})) }}
        {{ esi(path('widget', {'name': 'reassurance'})) }}
    </div>

{% endblock %}
