{% extends 'base.twig' %}

{% block javascripts %}{{ parent() }}
    <script type="text/javascript" src="{{ asset('js/cungfoo/confirm-bootstrap.js') }}"></script>
{% endblock %}

{% block content %}
    <h2>{{ "portfolio.crud.list" | trans }}</h2>

    {#
    <ul class="portfolio-list">
    {% for media in medias %}
        <li>
            <a href="{{ path('portfolio_media', {id: media.id}) }}"><img src="{{ asset(media.pathMiniature) }}" /></a>
        </li>
    {% endfor %}
    </ul>
    #}

    {% if medias.nextPage %}
        <hr/>
        <div class="pagination pagination-centered">
            <ul>
                {% if medias.page != medias.previousPage %}
                <li><a href="{{ path ('portfolio', {'page': medias.previousPage}) }}">{{ "medias.previous" | trans }}</a></li>
                {% endif %}
                {% for link in medias.links %}
                <li {% if medias.page == link %}class="active"{% endif %}><a href="{{ path ('portfolio', {'page': link}) }}">{{ link }}</a></li>
                {% endfor %}
                {% if medias.page != medias.nextPage %}
                <li><a href="{{ path ('portfolio', {'page': medias.nextPage}) }}">{{ "medias.next" | trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <table class="table table-striped table-bordered portfolio-list">
    <thead>
        <tr>
            <th>Media informations</th>
            <th>Tags</th>
            <th>Miniature</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for media in medias %}
        {% include 'Portfolio/media-row-table.twig' %}
    {% endfor %}
    </tbody>
    </table>

    {% if medias.nextPage %}
        <hr/>
        <div class="pagination pagination-centered">
            <ul>
                {% if medias.page != medias.previousPage %}
                <li><a href="{{ path ('portfolio', {'page': medias.previousPage}) }}">{{ "medias.previous" | trans }}</a></li>
                {% endif %}
                {% for link in medias.links %}
                <li {% if medias.page == link %}class="active"{% endif %}><a href="{{ path ('portfolio', {'page': link}) }}">{{ link }}</a></li>
                {% endfor %}
                {% if medias.page != medias.nextPage %}
                <li><a href="{{ path ('portfolio', {'page': medias.nextPage}) }}">{{ "medias.next" | trans }}</a></li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <script type="text/javascript">
        $('.actions-item .delete').confirmModal();
    </script>

    <hr/>

    <div class="form-actions">
        <div class="btn-group">
            <a class="btn" href="{{ path('portfolio_media_create') }}"><i class="icon-plus"></i> {{ "crud.button.add" | trans }}</a>
        </div>
    </div>
{% endblock %}
