<!doctype html>
<html class="js-false" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} - Vacances Directes</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/screen.css') }}">

    <script src="{{ asset('vendor/head.extended.js') }}"></script>
    <script>var templatePath = '{{ asset('') }}';</script><!-- templatePath : chemin du template en absolue -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body class="home">
    <header class="clear">
        {% include "menu.twig" %}
        <div id="header" class="fixed-width clear">
            <div id="headerRight">
                <a id="account" href="#">Mon compte</a>
                <div id="telephone">
                    <span>{{ "header.information" | trans }}
                        {{ "header.telephone" | trans }}
                    </span>
                </div>
            </div>
            <a href="{{ path( 'homepage' ) }}" title="Retourner à Vacances directes | Le mobil-home et vous" id="logo">
                <img src="{{ asset('images/vacancesdirectes/common/pict/vacancesdirectes-logo.png') }}" alt="Vacances directes | Le mobil-home et vous" />
            </a>
            <h1 id="catchline">{{ "header.130_camping" | trans }}</h1>
        </div>
    </header>

    {% block slider %}
    {% endblock %}

    {% block content %}
    <div id="wrap" class="fixed-width clear">
        <div class="column left">
            {% block leftColumn %}
            {% endblock %}
        </div>
        <aside class="column right">
            {% block rightColumn %}
            {% endblock %}
        </aside>
            {% block columnClearboth %}
            {% endblock %}
    </div>
    {% endblock %}

    <footer class="clear">
        <div class="footer-links" class="full-width">
            <a href="#_">{{ "footer.contact" | trans }}</a> -
            <a href="#_">{{ "footer.charte_qualite" | trans }}</a> -
            <a href="#_">{{ "footer.conditions_generales_de_location" | trans }}</a> -
            <a href="#_">{{ "footer.faq" | trans }}</a> -
            <a href="#_">{{ "footer.guide_pratique" | trans }}</a> -
            <a href="#_">{{ "footer.plan_du_site" | trans }}</a> -
            <a href="#_">{{ "footer.credits" | trans }}</a> -
            <a href="#_">{{ "footer.mentions_legales" | trans }}</a>
            <span class="card transac">{{ "footer.transactions_securisees" | trans }}</span>
            <span class="card visa">{{ "footer.cb_visa" | trans }}</span>
            <span class="card master">{{ "footer.masterCard" | trans }}</span>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script>window.jQuery || document.write('<script src='+ templatePath + '"vendor/jquery-1.8.0.min.js">\x3C/script>')</script>

    <script>
        head.js(
            {modernizr: templatePath + "vendor/modernizr-2.6.1.min.js"}, // test support html5 functionality
            {selectivizr: templatePath+"vendor/selectivizr-min.js"}, // extend css selectors for IE
            {jqPlugins: templatePath + "js/vacancesdirectes/plugins.js"},
            {frontJS: templatePath + "js/vacancesdirectes/front.js"},
            {search: templatePath + "js/vacancesdirectes/searchSelectChange.js"}
            {% block headjs %}{% endblock %}
        );
    </script>

    <!-- Prompt IE 6 users to install Chrome Frame -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>
