<!doctype html>
<html class="js-false" lang="{{ app.context.get('language') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ "seo.title.default" | trans }}{% endblock %}{% if app.request.get('_route') == 'homepage' %} | Vacances Directes{% endif %}</title>

    <meta name="description" content="{% block metaDescription %}{{ "seo.meta.default" | trans }}{% endblock %}" />

    {% if app.request.get('_route') == 'homepage' %}
    <!-- Google Webmaster Tools -->
    <meta name="google-site-verification" content="{{ app.config.get('settings')['google_webmaster_id'] }}" />
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <!--[if gte IE 9]><!-->
        <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/screen.css?v='~app.config.get('version')) }}" media="screen">
    <!--<![endif]-->
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/css/vacancesdirectes/screen.css?v={{ app.config.get('version') }}" media="screen">
        <link rel="stylesheet" href="/css/vacancesdirectes/ie.css?v={{ app.config.get('version') }}">
    <![endif]-->
    {% if app.context.get('language') != "fr" %}
    <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/screen_'~app.context.get('language')~'.css?v='~app.config.get('version')) }}" media="screen">
    {% endif %}
    <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/print.css?v='~app.config.get('version')) }}" media="print">

    <script src="{{ asset('vendor/head.extended.js?v='~app.config.get('version')) }}"></script>
    <script src="{{ asset('vendor/modernizr-2.6.1.min.js?v='~app.config.get('version')) }}"></script>
    <!--[if lt IE 9]><script src="{{ asset('vendor/selectivizr-min.js?v='~app.config.get('version')) }}"></script><![endif]-->

    <script>
        var templatePath = '{{ asset('') }}';<!-- templatePath : chemin du template en absolue -->
        var basePath = '{{ app.request.basePath }}/';<!-- templatePath : chemin du template en absolue -->
        var sGoogleApiKey = 'AIzaSyBaRlrfkxxMWr5zLkbCBJL21MnYNIYIm9I';
    </script>

    {% block canonical %}{% endblock %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(
            ['_setAccount', 'UA-4231998-1'], // compte FR
            ['_trackPageview'],
            ['_gat._anonymizeIp'],
            ['_setAllowLinker', true],
            ['b._setAccount', 'UA-17590883-1'], // compte DE
            ['b._trackPageview'],
            ['b._gat._anonymizeIp'],
            ['b._setAllowLinker', true]
        );

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s  = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body class="{% block bodyClass %}{% endblock %}">
    <header class="clear noprint">
        {{ render(path('menu_principal', {currentRoute: app.request.get('_route')})) }}
        <div id="header" class="fixed-width clear">
            <div id="headerRight">
                <div id="telephone">
                    <span>{{ "header.information" | trans }}
                        <span class="phoneNum">{{ "header.telephone.number" | trans }}</span><span class="phonePrice">{{ "header.telephone.price" | trans }}</span>
                    </span>
                </div>
            </div>
            <a href="{{ path( 'homepage' ) }}" title="Vacances directes | Le camping tout simplement !" id="logo"{% if app.request.get('_route') == "destination_camping" %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Header', 'Lien_-_Logo', 'Clic_-_Logo']);"{% endif %}>
            {% if app.request.get('_route') == 'homepage' %}
                <h1 id="logoTitle">{{ "header.location_mobil_home" | trans }}</h1>
            {% endif %}
                <img src="{{ asset('images/vacancesdirectes/common/pict/vacancesdirectes-logo_' ~ app.context.get('language') ~ '.png') }}" width="288px" height="131px" alt="Vacances directes | Le camping tout simplement !" />
            </a>
            {% if app.request.get('_route') == 'homepage' %}
            <h2 id="catchline">{{ "header.130_camping" | trans }}</h2>
            {% endif %}
        </div>

        {% block slider %}
        {% endblock %}
    </header>

    {% block content %}
    <div id="wrap" class="fixed-width clear">
        <div class="column left">
            {% block leftColumn %}
            {% endblock %}
        </div>
        <aside class="column right noprint">
            {% block rightColumn %}
            {% endblock %}
        </aside>
            {% block columnClearboth %}
            {% endblock %}
    </div>
    {% endblock %}

    {% include 'footer.twig' %}

    <script src="{{ asset('vendor/jquery-1.8.3.min.js?v='~app.config.get('version')) }}"></script>

    <script>
        head.js(
            {front: templatePath + "js/vacancesdirectes/plugFront.min.js?v={{ app.config.get('version') }}"}
            {% block headjs %}{% endblock %}
        );

        head.ready(function() {
            $('.itemGetCampingFiche').bind('click', function() {
                var form = $(this).closest('form');
                var target = $(this).hasClass('linkParent') ? $(this).find('a.linkBlock').attr('href') : $(this).attr('href');
                form.attr('action', "{{ path('session_proposal') }}?target=" + target);
                form.submit();
                return false;
            });
        });
    </script>

    <!-- Prompt IE 6 users to install Chrome Frame -->
    <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->

    {% if app.request.host == 'www.vacances-directes.com' %}
		<!-- Google remarketing VD FR -->
		<script type="text/javascript">
		/* <![CDATA[ /
		var google_conversion_id = 1051012635;
		var google_conversion_label = "HEJGCKG3ugUQm9yU9QM";
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/ ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1051012635/?value=0&amp;label=HEJGCKG3ugUQm9yU9QM&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
	{% elseif app.request.host == 'www.vacances-directes.de' %}
		<!-- Google remarketing VD DE -->
		<script type="text/javascript">
		/* <![CDATA[ /
		var google_conversion_id = 936208272;
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/ ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/936208272/?value=0&amp;guid=ON&amp;script=0"/>
		</div>
		</noscript>
	{% elseif app.request.host == 'www.vacances-directes.nl' %}		
		<!-- Google remarketing VD NL -->
		<script type="text/javascript">
		/* <![CDATA[ /
		var google_conversion_id = 1039448511;
		var google_conversion_label = "yU2sCInn5QYQv_PS7wM";
		var google_custom_params = window.google_tag_params;
		var google_remarketing_only = true;
		/ ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
		<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/1039448511/?value=0&label=yU2sCInn5QYQv_PS7wM&guid=ON&script=0"/>
		</div>
		</noscript>
	{% endif %}

    {# <!-- Tag Yahoo #1984 --> #}
    <img src="http://ads.bluelithium.com/pixel?id=2397600&t=2" width="1" height="1" />

    {# <!-- Tag Ematch --> #}
    <script language="javascript" type="text/javascript">
    var __adUrl=document.location.protocol+'//atout.email-match.com/emafunc.js';
    try
    {
     scriptTag=document.createElement("script");
     scriptTag.type="text/javascript";
     scriptTag.async=true;
     scriptTag.src=__adUrl;
     var headTag= document.getElementsByTagName("head")[0];
     headTag.insertBefore(scriptTag,headTag.firstChild);
    } catch(e)
    {
     document.write('<sc'+'ript language="javascript" async="" type="text/javascript" src="'+__adUrl+'"></sc'+'ript>');
    }
    function w_emasend()
    { if (typeof(emasend)!='undefined'){emasend();} else
    {setTimeout('w_emasend()',200);} }
    var ema_id_site=737;
    w_emasend();
    </script>


<hr>

{% if app.request.host == 'dev.vacances-directes.com' %}
<!-- Tag Criteo -->
<pre style="position: absolute; left: 20px; background: none repeat scroll 0% 0% white; color: red; top: 20px; min-height: 200px; font-family: courier new; width: 500px; border: 1px solid RED; z-index: 99999; box-shadow: 0px 0px 5px black;">

window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
    { event: "setAccount", account: 8987 }
    { event: "setSiteType", type: "d" }
    {# TODO: mettre en ESI le tag si on souhaite remonter ce param
    {% set user_id = app.session.get('resalys_user') %}
    {% if user_id  %},{ event: "setCustomerId", id: "{{ user_id.service.customer_code }}" },{%  endif %} #}
    {% if app.request.get('_route') == 'homepage' %}
    ,{ event: "viewHome" }
    {%  elseif app.request.get('_route') == 'destination_camping' %}
    ,{ event: "viewItem", item: "{{ etab.getCode }}" }
    {% elseif (
        app.request.get('_route') == 'destination_destination' or
        app.request.get('_route') == 'destination_pays' or
        app.request.get('_route') == 'destination_region' or
        app.request.get('_route') == 'destination_region_ref' or
        app.request.get('_route') == 'destination_departement' or
        app.request.get('_route') == 'destination_ville') and
        campings|length > 0 %}
    ,{
        event: "viewList",
        item: [{% for etab in campings | slice(0,3) %}"{{ etab.getCode }}"{% if not loop.last %},{% endif %}{% endfor %}]
    }
    {%  elseif
        app.request.get('_route') == 'dispo' or
        app.request.get('_route') == 'bonsplans' or
        app.request.get('_route') == 'categorie_bonsplans' or
        app.request.get('_route') == 'catalogue' %}
    ,{
        event: "viewList",
        item: [{% for etab in list.element | slice(0,3) %}"{{ etab.model.id }}"{% if not loop.last %},{% endif %}{% endfor %}]
    }
    {% endif %}
);

</pre>



<script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async="true"></script>
<script type="text/javascript">
window.criteo_q = window.criteo_q || [];
window.criteo_q.push(
{ event: "setAccount", account: 8987 },

{ event: "setSiteType", type: "d" }, // d = desktop
{% if app.request.get('_route') == 'homepage' %}
{ event: "viewHome" },
{% elseif app.request.get('_route') == 'catalogue' or
app.request.get('_route') == 'dispo' or
app.request.get('_route') == 'bonsplans' or
app.request.get('_route') == 'destination_pays' or
app.request.get('_route') == 'destination_ville' %}
{ event: "viewItem", item: ["First item id", "Second item id", "Third item id"], keywords: "User Searched Keywords" }
{% endif %}
);
</script>

{% endif %}

</body>
</html>
