<!doctype html>
<html class="js-false" lang="{{ app.context.get('language') }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}{{ "seo.title.couloir" | trans }} - Vacances Directes</title>

    <meta name="description" content="{% block metaDescription %}{{ "seo.meta.couloir" | trans }}{% endblock %}">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/screen.css?v='~app.config.get('version')) }}">
    {% if app.context.get('language') != "fr" %}
    <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/screen_'~app.context.get('language')~'.css?v='~app.config.get('version')) }}">
    {% endif %}

    <script src="{{ asset('vendor/head.extended.js?v='~app.config.get('version')) }}"></script>
    <script src="{{ asset('vendor/modernizr-2.6.1.min.js?v='~app.config.get('version')) }}"></script>
    <!--[if lt IE 9]><script src="{{ asset('vendor/selectivizr-min.js?v='~app.config.get('version')) }}"></script><![endif]-->
    <script>var templatePath = '{{ asset('') }}';</script><!-- templatePath : chemin du template en absolue -->
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
</head>
<body class="booking">
    <header class="clear noprint">
        <div id="header" class="fixed-width clear">
            <div id="headerRight">
                {#<a id="account" href="#">Mon compte</a>#}
                <div id="telephone">
                    <span>{{ "header.information" | trans }}
                        <span class="phoneNum">{{ "header.telephone.number" | trans }}</span><span class="phonePrice">{{ "header.telephone.price" | trans }}</span>
                    </span>
                </div>
            </div>
            <a href="{{ path( 'homepage' ) }}" title="Retourner à Vacances directes | Le mobil-home et vous" id="logo">
                <img src="{{ asset('images/vacancesdirectes/common/pict/vacancesdirectes-logo_' ~ app.context.get('language') ~ '.png') }}" alt="Vacances directes | Le mobil-home et vous" /></a>
        </div>
    </header>

    <div id="wrap" class="fixed-width clear">
        <div id="headerContainer" class="column clear noprint">
            <h1><span>{{ "couloir.title" | trans }} </span>{{ "couloir.title_reservation" | trans }}</h1>
            <nav id="stepNav" class="clearboth">
                <ul class="topnav fixed-width clear">
                    <li class="tab{% if step == 1 %} current{% elseif step > 1%} completed{% endif %}"><span>{{ "couloir.menu.detail" | trans }}</span></li>
                    <li class="tab{% if step == 2 %} current{% elseif step > 2%} completed{% endif %}"><span>{{ "couloir.menu.recapitulatif" | trans }}</span></li>
                    <li class="tab{% if step == 3 %} current{% elseif step > 3%} completed{% endif %}"><span>{{ "couloir.menu.paiement" | trans }}</span></li>
                    <li class="tab{% if step == 4 %} current{% endif %}"><span>{{ "couloir.confirmation" | trans }}</span></li>
                </ul>
            </nav>
        </div>
        {% block content %}
            <div class="column left">
                {% block leftColumn %}
                {% endblock %}
            </div>
            <aside class="column right">
                {% block rightColumn %}
                {% endblock %}
                <div id="greyBoxes" class="clear">
                    <div id="needHelpBloc" class="clear radiusBox greyC">
                        <div class="stamp fushia">
                            <h2>{{ "resalys.besoin_aide_title" | trans }}</h2>
                        </div>
                        <div class="content"><p>{{ "resalys.besoin_aide_subtitle" | trans }}</p></div>
                        <div class="blueCloud" id="needHelpBlocCloud"><span>{{ "resalys.besoin_aide_contact" | trans }}<a class="tel" href="tel:0825133400">{{ "resalys.besoin_aide_num" | trans }}</a>{{ "resalys.besoin_aide_subtitle" | trans }}(0.15€/min)</span></div>
                    </div>
                </div>
            </aside>
            {% block columnClearboth %}
            {% endblock %}
        {% endblock %}
    </div>

    <footer>
        <div class="footer-links" class="full-width">
            {% if app.context.get('language') == 'fr' %}<a href="http://ce.vacances-directes.com/"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-VD-CE']);"{% endif %}>Vacances Directes CE</a>&nbsp;-&nbsp;{% endif %}
            {# TODO <a href="#_">{{ "footer.contact" | trans }}</a> - #}
            {# TODO <a href="{{ path('edito_by_slug', {slug: 'charte-qualite'}) }}">{{ "footer.charte_qualite" | trans }}</a> - #}
            <a href="{{ path('edito_by_slug', {slug: 'conditions-generales'}) }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-CGV']);"{% endif %}>{{ "footer.conditions_generales_de_location" | trans }}</a> -
            {% if app.context.get('language') != 'de' %}<a href="{{ path('demande_annulation_form') }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-Annulation']);"{% endif %}>{{ "footer.annulation" | trans }}</a> -{% endif %}
            {# TODO <a href="{{ path('edito_by_slug', {slug: 'faq'}) }}">{{ "footer.faq" | trans }}</a> - #}
            {# TODO <a href="{{ path('edito_by_slug', {slug: 'guide-pratique'}) }}">{{ "footer.guide_pratique" | trans }}</a> - #}
            {# TODO <a href="{{ path('edito_by_slug', {slug: 'plan-du-site'}) }}">{{ "footer.plan_du_site" | trans }}</a> - #}
            {# TODO <a href="{{ path('edito_by_slug', {slug: 'credits'}) }}">{{ "footer.credits" | trans }}</a> - #}
            <a href="{{ path('edito_by_slug', {slug: 'mentions-legales'}) }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-Mentions-Legales']);"{% endif %}>{{ "footer.mentions_legales" | trans }}</a>
            <span class="card transac">{{ "footer.transactions_securisees" | trans }}</span>
            {% if app.context.get('language') != 'de' %}<span class="card visa">{{ "footer.cb_visa" | trans }}</span>{% endif %}
            <span class="card master">{{ "footer.masterCard" | trans }}</span>
        </div>
    </footer>


    <script src="{{ asset('vendor/jquery-1.8.3.min.js?v='~app.config.get('version')) }}"></script>

    <script>
        head.js(
            {jqPlugins: templatePath + "js/vacancesdirectes/plugins.min.js?v={{ app.config.get('version') }}"},
            {search: templatePath + "js/vacancesdirectes/searchSelectChange.min.js?v={{ app.config.get('version') }}"}
            {% block headjs %}{% endblock %}
        );
    </script>

    <!-- Prompt IE 6 users to install Chrome Frame -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>
