{% extends "base.twig" %}

{% block title %}{{ etab.name }}{% endblock %}

{% block content %}
        <div>
            <ul>
                {% for media in multimedia %}
                    <li>
                        <div>
                            <img src="{{ asset(media.imagePath) }}" alt="{{ media.titre }}"/>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <ul>
                <li>{{ "Toutes" | trans }}</li>
                {% for tag in tags %}
                    <li>
                        <div>
                            <span>{{ tag.name }}</span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="row">
            <div class="span8">
                <blockquote>CAMPING CONTENT</blockquote>
                <h1>{{ etab.name }}</h1>
                <fieldset>
                    <legend>{{ "Les vacances à" | trans }} {{ etab.ville }}</legend>
                    <img src="{{ asset(etab.ville.region.imagePath) }}">
                    <p>{{ "A proximité nous avons listé" | trans }} :</p>
                    <ul class="details">
                        <li>{{ nbSiteAVisiter }} {{ "site à visiter" | trans }}</li>
                        <li>{{ nbActivitesSportives }} {{ "activités sprotives" | trans }}</li>
                        <li>{{ nbEvenementsCulturels }} {{ "événements culturels" | trans }}</li>
                    </ul>
                    {% if personnages %}
                    <div>{{ "Vous aimerez" | trans }}</div>
                    <div>{{ "comme" | trans }}</div>
                    <ul>
                        {% for personnage in personnages %}
                            <li>
                                <div>
                                    <img src="/{{ personnage.imagePath }}" />
                                    <span>{{ personnage.prenom | trans }}</span>
                                    <span>{{ personnage.age }} {{ "ans" | trans }}</span>
                                    <ul>
                                        <li>{{ personnage.interet1 }}</li>
                                        <li>{{ personnage.interet2 }}</li>
                                        <li>{{ personnage.interet3 }}</li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% if eventPrioritaire %}
                    <div>
                        <strong>{{ "L'événement à ne pas manquer" | trans }} :</strong>
                        <img src="{{ eventPrioritaire.image }}">
                        <span>{{ eventPrioritaire.setLocale('fr').name }}</span>
                    </div>
                    {% endif %}
                </fieldset>
            </div>
            <div class="span4">
                <blockquote>SIDEBAR</blockquote>
            </div>
        </div>
{% endblock %}
