{% extends "base.twig" %}

{% block content %}
        <h1>{{ etablissement.name }}</h1>
        <p>{{ etablissement.address1 }}, {{ etablissement.getVille }}, {{ etablissement.country }}</p>

        <hr/>

        <fieldset>
            <legend>{{ ("etablissement.activites") | trans }}</legend>
            <ul>
                {% for activite in etablissement.getActivites %}
                <li>{{ activite.setLocale(locale) }}</li>
                {% endfor %}
            </ul>
        </fieldset>

        <hr/>

        <fieldset>
            <legend>{{ ("etablissement.type_hebergements") | trans }}</legend>
            <ul>
                {% for typeHebergement in etablissement.getTypeHebergements %}
                <li>{{ typeHebergement.setLocale(locale) }}</li>
                {% endfor %}
            </ul>
        </fieldset>

        <hr/>

        <fieldset>
            <legend>{{ ("etablissement.equipements") | trans }}</legend>
            <ul>
                {% for equipement in etablissement.getEquipements %}
                <li>{{ equipement.setLocale(locale) }}</li>
                {% endfor %}
            </ul>
        </fieldset>

        <hr/>

        <fieldset>
            <legend>{{ ("etablissement.destinations") | trans }}</legend>
            <ul>
                {% for destination in etablissement.getDestinations %}
                <li>{{ destination.setLocale(locale) }}</li>
                {% endfor %}
            </ul>
        </fieldset>

        <hr/>

        <fieldset>
            <legend>{{ ("etablissement.service_complementaires") | trans }}</legend>
            <ul>
                {% for service in etablissement.getServiceComplementaires %}
                <li>{{ service.setLocale(locale) }}</li>
                {% endfor %}
            </ul>
        </fieldset>
{% endblock %}
