<div id="please_wait_layer" class="pleaseWaitLayer">
    <div id="please_wait_layer_content"><div><img src="{{ asset('images/vacancesdirectes/common/ui/loadingResalys.gif') }}" /><p>{{ "global.search_message" | trans | raw }}</p></div></div>
</div>
<footer class="clear">
    <div class="footer-home fixed-width clear">
        <div id="footerInsert" class="clear">
            <div id="insertContact" class="left radiusBox greyF">
                <h3>{{ "footer.nous_joindre" | trans }}</h3>
                <div class="content">
                    <p class="contactPhone">
                        <span class="tel">{{ "footer.contact.tel"  | trans }}</span>
                        <span class="fax">{{ "footer.contact.fax" | trans }}</span>
                    </p>
                    <span class="contactPhonePrice">{{ "footer.contact.price" | trans }}</span>
                    <p class="contactAddress small">
                        {{ "footer.contact.adresse.name" | trans }}<br />
                        {{ "footer.contact.adresse.lieu_dit" | trans }}<br />
                        {{ "footer.contact.adresse.rue" | trans }}<br />
                        {{ "footer.contact.adresse.ville" | trans }}<br />
                        {{ "footer.contact.adresse.code_postal" | trans }}
                    </p>
                    {# TODO <a class="bt big gris2" href="#">{{ "footer.nous_contacter" | trans }}</a> #}
                </div>
            </div>
            {# TODO <div id="insertCatalog" class="left radiusBox greyC">
                <div class="content">
                    <h3>{{ "footer.demande_catalogue" | trans }}</h3>
                    <p class="small">
                        {{ "footer.description_catalogue" | trans }}
                    </p>
                    <a class="bt big sombre" href="#">{{ "footer.consulter_catalogue" | trans }}</a>
                    <a class="bt big sombre" href="#">{{ "footer.telecharger_catalogue" | trans }}</a>
                </div>
            </div>
            <div id="insertFacebook" class="left radiusBox greyC">
                <div class="content">
                    <h3>{{ "footer.facebook.titre" | trans }}</h3>
                    <p>{{ "footer.facebook.intro" | trans }}</p>
                    <div class="fb-like" data-layout="button_count" data-href="#" data-send="false" data-width="119" data-show-faces="false">{{ "footer.facebook.like" | trans }}</div>
                </div>
                <p class="small">
                    <span>{{ "footer.facebook.desc.highlight" | trans }}</span> {{ "footer.facebook.desc" | trans }} <img src="../web/images/vacancesdirectes/common/pict/facebook-blue.png" />.
                </p>
            </div>
            <div id="insertContest" class="left radiusBox greyF">
                <h3>{{ "footer.jeu.titre" | trans }} <img src="../web/images/vacancesdirectes/common/pict/facebook-white.png" /></h3>
                <span>{{ "footer.jeu.desc" | trans }}</span>
                <a class="bt big gris2" href="#">{{ "general.jouer" | trans }}</a>
            </div> #}
        </div>
        <div id="footerInfo" class="clear">
            {# <div id="infoMenu" class="left">
                <h3>{{ "footer.location_camping" | trans }}</h3>
                <ul>
                    <li><a class="level-1" href="#">{{ "menu.destinations" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.locations" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.bons_plans" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.vacances" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.weekends" | trans }}</a></li>
                </ul>
                <ul>
                    <li><a class="directory" href="#">{{ "footer.annuaire_campings" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_pas_chers" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.guide_activites" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_france" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_espagne" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_italie" | trans }}</a></li>
                </ul>
            </div> #}
            <div id="infoAbout" class="left clear">
                <div class="clear">
                    <h3>{{ "footer.a_propos" | trans }}</h3>
                    <p>{{ "footer.a_propos.desc" | trans }}</p>
                    {# TODO <a class="bt big sombre left" href="#">{{ "general.en_savoir_plus" | trans }}</a> #}
                    {# TODO <div class="fb-like right" data-layout="button_count" data-href="#" data-send="false" data-width="119" data-show-faces="false">{{ "footer.facebook.like" | trans }}</div> #}
                </div>
                {# TODO <ul>
                    <li><a class="rubric" href="#">{{ "footer.actualites" | trans }}</a></li>
                    <li><a class="rubric" href="#">{{ "footer.qui_sommes_nous" | trans }}</a></li>
                    <li><a class="rubric" href="#">{{ "footer.recrutement" | trans }}</a></li>
                    <li><a class="rubric" href="#">{{ "footer.ce" | trans }}</a></li>
                </ul> #}
            </div>
            <div id="infoOthers" class="left">
                {# TODO <div id="infoNewsletter" class="clear">
                    <h3>{{ "footer.newsletter" | trans }}</h3>
                    <p>{{ "footer.newsletter.desc" | trans }}</p>
                    <input type="email" name="footer-email" id="footerEmail" class="left" placeholder="{{ "footer.newsletter.entrer_son_email" | trans }}" />
                    <a class="bt big sombre left" href="#">{{ "general.en_savoir_plus" | trans }}</a>
                </div> #}
                <div id="infoMobile" class="clear">
                    <h3>{{ "footer.site_mobile" | trans }}</h3>
                    <p>{{ "footer.site_mobile.desc" | trans }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-links" class="full-width">
        {% if app.context.get('language') == 'fr' %}<a href="http://ce.vacances-directes.com/"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-VD-CE']);"{% endif %}>Vacances Directes CE</a>&nbsp;-&nbsp;{% endif %}
        {# TODO <a href="#_">{{ "footer.contact" | trans }}</a> - #}
        {# TODO <a href="{{ path('edito_by_slug', {slug: 'charte-qualite'}) }}">{{ "footer.charte_qualite" | trans }}</a> - #}
        <a href="{{ path('edito_by_slug', {slug: 'conditions-generales'}) }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-CGV']);"{% endif %}>{{ "footer.conditions_generales_de_location" | trans }}</a> -
        {% if app.context.get('language') != 'de' %}<a href="{{ path('demande_annulation_form') }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-Annulation']);"{% endif %}>{{ "footer.annulation" | trans }}</a> -{% endif %}
        {# TODO <a href="{{ path('edito_by_slug', {slug: 'faq'}) }}">{{ "footer.faq" | trans }}</a> - #}
        {# TODO <a href="{{ path('edito_by_slug', {slug: 'guide-pratique'}) }}">{{ "footer.guide_pratique" | trans }}</a> - #}
        {# TODO <a href="{{ path('edito_by_slug', {slug: 'plan-du-site'}) }}">{{ "footer.plan_du_site" | trans }}</a> - #}
        {# TODO <a href="{{ path('edito_by_slug', {slug: 'credits'}) }}">{{ "footer.credits" | trans }}</a> - #}
        <a href="{{ path('edito_by_slug', {slug: 'mentions-legales'}) }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-Mentions-Legales']);"{% endif %}>{{ "footer.mentions_legales" | trans }}</a>
        <span class="card transac">{{ "footer.transactions_securisees" | trans }}</span>
        {% if app.context.get('language') != 'de' %}<span class="card visa">{{ "footer.cb_visa" | trans }}</span>{% endif %}
        <span class="card master">{{ "footer.masterCard" | trans }}</span>
    </div>
</footer>
