<div id="didacticiel_layer" class="didacticielLayer">
    <div class="layerOverlay"></div>
    <div id="didacticiel_layer_content"><img class="view" width="244" height="257" src="{{ asset('images/vacancesdirectes/common/pict/loading-bloc.jpg') }}" /><h2></h2><p></p><img width="220" height="20" src="{{ asset('images/vacancesdirectes/common/ui/loadingSearch.gif') }}" alt="{{ 'didacticiel.chargement' | trans }}" /></div>
</div>
<footer class="clear noprint">
    <div class="footer-home fixed-width clear">
        <div id="footerInsert" class="clear">
            {{ esi(path('widget', {'name': 'contact'})) }}
			{# EN ATTENTE {% if app.context.get('language') == 'fr' %} {{ esi(path('widget', {'name': 'brochure'})) }} {% endif %} #}
		</div>
		{# TODO<div id="insertFacebook" class="left radiusBox greyC">
                <div class="content">
                    <h3>{{ "footer.facebook.titre" | trans }}</h3>
                    <p>{{ "footer.facebook.intro" | trans }}</p>
                    <div class="fb-like" data-layout="button_count" data-href="#" data-send="false" data-width="119" data-show-faces="false">{{ "footer.facebook.like" | trans }}</div>
                </div>
                <p class="small">
                    <span>{{ "footer.facebook.desc.highlight" | trans }}</span> {{ "footer.facebook.desc" | trans }} <img src="../web/images/vacancesdirectes/common/pict/facebook-blue.png" />.
                </p>
            </div>
            <div id="insertContest" class="left radiusBox greyF">
                <h3>{{ "footer.jeu.titre" | trans }} <img src="../web/images/vacancesdirectes/common/pict/facebook-white.png" /></h3>
                <span>{{ "footer.jeu.desc" | trans }}</span>
                <a class="bt big gris2" href="#">{{ "general.jouer" | trans }}</a>
            </div> #}
		<div id="footerInfo" class="clear">
            {# <div id="infoMenu" class="left">
                <h3>{{ "footer.location_camping" | trans }}</h3>
                <ul>
                    <li><a class="level-1" href="#">{{ "menu.destinations" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.locations" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.bons_plans" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.vacances" | trans }}</a></li>
                    <li><a class="level-1" href="#">{{ "menu.weekends" | trans }}</a></li>
                </ul>
                <ul>
                    <li><a class="directory" href="#">{{ "footer.annuaire_campings" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_pas_chers" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.guide_activites" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_france" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_espagne" | trans }}</a></li>
                    <li><a class="directory" href="#">{{ "footer.campings_italie" | trans }}</a></li>
                </ul>
            </div> #}
            <div id="infoAbout" class="left clear">
                <div class="clear">
                    <h3>{{ "footer.a_propos" | trans }}</h3>
                    <p>{{ "footer.a_propos.desc" | trans }}</p>
                    {# TODO <a class="bt big sombre left" href="#">{{ "general.en_savoir_plus" | trans }}</a> #}
                    {# TODO <div class="fb-like right" data-layout="button_count" data-href="#" data-send="false" data-width="119" data-show-faces="false">{{ "footer.facebook.like" | trans }}</div> #}
                </div>
                {# TODO <ul>
                    <li><a class="rubric" href="#">{{ "footer.actualites" | trans }}</a></li>
                    <li><a class="rubric" href="#">{{ "footer.qui_sommes_nous" | trans }}</a></li>
                    <li><a class="rubric" href="#">{{ "footer.recrutement" | trans }}</a></li>
                    <li><a class="rubric" href="#">{{ "footer.ce" | trans }}</a></li>
                </ul> #}
            </div>
            <div id="infoOthers" class="left">
                <h3>{{ "footer.locations_camping"|trans }}</h3>
                <ul>
                    {% if app.navigation.get('footer_home').getNavigationItems() is defined %}
                    {% for item in app.navigation.get('footer_home').getNavigationItems() %}
                        <li><a class="level-1" href="{{ item.path }}">{{ item.title }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% include 'footerLinks.twig' %}
</footer>
