<div id="please_wait_layer" class="pleaseWaitLayer">
    <div id="please_wait_layer_content"><div><img width="56" height="56" src="{{ asset('images/vacancesdirectes/common/ui/loadingResalys.gif') }}" /><p>{{ "global.search_message" | trans | raw }}</p></div></div>
</div>
<div class="footer-links" class="full-width">
	{% if app.context.get('language') == 'fr' %}<a href="http://ce.vacances-directes.com/"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-VD-CE']);"{% endif %}>Vacances Directes CE</a>&nbsp;-&nbsp;{% endif %}
	{# TODO <a href="#_">{{ "footer.contact" | trans }}</a> - #}
	{# TODO <a href="{{ path('edito_by_slug', {slug: 'charte-qualite'}) }}">{{ "footer.charte_qualite" | trans }}</a> - #}
	<a href="{{ path('edito_by_slug', {slug: 'conditions-generales'}) }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-CGV']);"{% endif %}>{{ "footer.conditions_generales_de_location" | trans }}</a> -
	{% if app.context.get('language') != 'de' %}<a href="{{ path('demande_annulation_form') }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-Annulation']);"{% endif %}>{{ "footer.annulation" | trans }}</a> -{% endif %}
	{# TODO <a href="{{ path('edito_by_slug', {slug: 'faq'}) }}">{{ "footer.faq" | trans }}</a> - #}
	{# TODO <a href="{{ path('edito_by_slug', {slug: 'guide-pratique'}) }}">{{ "footer.guide_pratique" | trans }}</a> - #}
	{# TODO <a href="{{ path('edito_by_slug', {slug: 'plan-du-site'}) }}">{{ "footer.plan_du_site" | trans }}</a> - #}
	{# TODO <a href="{{ path('edito_by_slug', {slug: 'credits'}) }}">{{ "footer.credits" | trans }}</a> - #}
	<a href="{{ path('edito_by_slug', {slug: 'mentions-legales'}) }}"{% if app.request.get('_route') == 'destination_camping' %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Footer', 'Lien_-_Footer-Bottom', 'Clic_-_Lien-Mentions-Legales']);"{% endif %}>{{ "footer.mentions_legales" | trans }}</a>
	<span class="card transac">{{ "footer.transactions_securisees" | trans }}</span>
	{% if app.context.get('language') != 'de' %}<span class="card visa">{{ "footer.cb_visa" | trans }}</span>{% endif %}
	<span class="card master">{{ "footer.masterCard" | trans }}</span>
</div>