{% set user = app.session.get('resalys_user') %}

{% if user %}
<a id="account" href="{{ path('compte_index') }}">{{ user.service.firstname }} {{ user.service.lastname }}</a>
{% else %}
<a id="account" href="#">{{ "global.compte.btn" | trans }}</a>
<div id="accountBox" class="radiusBox greyF arrowUp">
    <h2>{{ "global.compte.title" | trans|raw }}</h2>
    <form id="connexion" action="{{ path('seo.url.compte.index'|trans ~ '_login_check') }}" method="post">
        <fieldset>
            {% if app.login_errors %}
            <div class="errors">
                <ul>
                    <li>{{ app.login_errors }}</li>
                </ul>
            </div>
            {% endif %}
            <ol>
                <li>
                    <div class="clear" id="userField">
                        <label for="username">{{ "global.compte.user"|trans }}</label>
                        <input type="text" placeholder="{{ "compte.placeholder.name" | trans }}" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="clear" id="passwordField">
                        <label for="password">{{ "global.compte.password"|trans }}</label>
                        <input type="password" placeholder="{{ "compte.placeholder.password" | trans }}" id="password" name="_password" autocomplete="off" />
                    </div>
                    <div class="link clear">
                        <a href="#">{{ "global.compte.forget"|trans }}</a>
                    </div>
                    <button class="bt fushia ib" type="submit">{{ "global.compte.submit"|trans }}</button>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endif %}
