{% set user = app.session.get('resalys_user') %}

{% if user %}
<a id="account" href="{{ path('compte_index') }}">{{ user.service.firstname }} {{ user.service.lastname }}</a>
{% else %}
<a id="account" href="#">Mon compte</a>
<div id="accountBox" class="radiusBox greyF arrowUp">
    <h2>vous êtes un client existant, veuillez vous identifier</h2>
    <form id="connexion" action="{{ path('compte_login_check') }}" method="post">
        <fieldset>
            {% if app.login_errors %}
            <div class="errors">
                <ul>
                    <li>{{ app.login_errors }}</li>
                </ul>
            </div>
            {% endif %}
            <ol>
                <li>
                    <div class="clear" id="userField">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" placeholder="Nom d'utilisateur" id="username" name="_username" value="{{ last_username }}" />
                    </div>
                    <div class="clear" id="passwordField">
                        <label for="password">Mot de passe</label>
                        <input type="password" placeholder="Mot de passe" id="password" name="_password" autocomplete="off" />
                    </div>
                    <div class="link clear">
                        <a href="#">Mot de passe oublié ?</a>
                    </div>
                    <button class="bt fushia ib" type="submit">Se connecter</button>
                </li>
            </ol>
        </fieldset>
    </form>
</div>
{% endif %}
