{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
{% endblock %}

{% block leftColumn %}
<div class="ratio-33 left">
    <div id="topLocations" class="locationForwards clear">
        <div class="stamp grey">
            <h2>{{ "home.topcamping" | trans }}</h2>
        </div>
        {% if topCampings | length %}
        {% for camping in topCampings %}
            <div class="element clear">
                <div class="left">
                    <a href="#_" class="linkBlock"><img class="boxborder" src="{{ asset(camping.etablissement.vignette) }}" width="119" height="86" alt="" /></a>
                    <div class="fb-like" data-layout="button_count" data-href="#" data-send="false" data-width="119" data-show-faces="false">J'aime</div>
                </div>
                <div class="details left linkParent">
                    <span class="title">{{ camping.etablissement.name }} {{ camping.etablissement.categorie.stars }}</span>
                    <span class="region">{{ camping.etablissement.ville.region }}</span>
                    <span class="condition">{{ camping.etablissement.minimumPriceLabel }}</span>
                    <a href="#_" class="stain fushia cover linkBlock"><span>{{ "general.a_partir_de" | trans }}<br /><span class="price linkBlock">{{ camping.etablissement.minimumPrice | number_format(0,'','') }}<span class="fine">&nbsp;</span>€</span></span></a>
                </div>
            </div>
        {% endfor %}
        {% endif %}

        <a href="#_" class="bt link">Voir tous les agenda culturel et sorties (13)</a>
    </div>
</div>
<div class="ratio-33 left clear">

    <div id="lastLocations" class="locationForwards clear">
        <div class="stamp grey">
            <h2>Dernières minutes</h2>
        </div>
        <div class="element clear">
            <div class="details left linkParent">
                <span class="title">Nom camping ***</span>
                <span class="region">Région</span>
                <span class="period">Du 26/05/12 au 02/06/12</span>
                <span class="counter">J -5</span>
                <span class="condition"><a href="#" class="price linkBlock">312<span class="fine">&nbsp;</span>€ au lieu de 357<span class="fine">&nbsp;</span>€</a> pour 8 personnes</span></span>
            </div>
        </div>
        <div class="element clear">
            <div class="details left linkParent">
                <span class="title">Nom camping ***</span>
                <span class="region">Région</span>
                <span class="condition">Du 26/05/12 au 02/06/12</span>
                <span class="counter">J -45</span>
                <span class="condition"><a href="#" class="price linkBlock">312<span class="fine">&nbsp;</span>€ au lieu de 357<span class="fine">&nbsp;</span>€</a> pour 8 personnes</span></span>
            </div>
        </div>
        <div class="element clear">
            <div class="details left linkParent">
                <span class="title">Nom camping ***</span>
                <span class="region">Région</span>
                <span class="period">Du 26/05/12 au 02/06/12</span>
                <span class="counter">J -20</span>
                <span class="condition"><a href="#" class="price linkBlock">312<span class="fine">&nbsp;</span>€ au lieu de 357<span class="fine">&nbsp;</span>€</a> pour 8 personnes</span></span>
            </div>
        </div>
        <div class="element clear">
            <div class="details left linkParent">
                <span class="title">Nom camping ***</span>
                <span class="region">Région</span>
                <span class="period">Du 26/05/12 au 02/06/12</span>
                <span class="counter">J -5</span>
                <span class="condition"><a href="#" class="price linkBlock">312<span class="fine">&nbsp;</span>€ au lieu de 357<span class="fine">&nbsp;</span>€</a> pour 8 personnes</span></span>
            </div>
        </div>
        <div class="element last clear">
            <div class="details left linkParent">
                <span class="title">Nom camping ***</span>
                <span class="region">Région</span>
                <span class="period">Du 26/05/12 au 02/06/12</span>
                <span class="counter">J -15</span>
                <span class="condition"><a href="#" class="price linkBlock">312<span class="fine">&nbsp;</span>€ au lieu de 357<span class="fine">&nbsp;</span>€</a> pour 8 personnes</span></span>
            </div>
        </div>
        <a href="#_" class="bt link left">Voir tous les agenda culturel et sorties (13)</a>
    </div>
</div>
{% endblock %}

