{% extends "base.twig" %}

{% block title %}Homepage{% endblock %}
{% block bodyClass %}home{% endblock %}

{% block slider %}
<div id="sliderWrapper">
    <a id="sliderPrev" class="radiusBox yellow arrowLeft"></a>
    <div id="sliderContainer">
        <div id="sliderBackground"></div>
        <ul id="slider" class="fixed-width clear">
            {% for mea in mea %}
                <li class="slide">
                    <a class="sliderPhoto" href="{{ mea.lien }}" title="{{ mea.titre }}"><img class="large boxborder" src="{{ asset(mea.illustrationPath) }}" alt="{{ mea.titre }}" /></a>
                    <img class="sliderPostmark" src="{{ asset('images/vacancesdirectes/common/ui/postmark.png') }}" alt="" />
                    <div class="sliderBackground"></div>
                    <div class="sliderStain first">
                        <div class="content">
                            <p class="headline" title="{{ mea.titre }}">{{ mea.titre }}</p>
                            <p class="catchline">{{ mea.accroche }}</p>
                            <button class="bt orange big ib" type="submit">{{ mea.titreLien }}</button>
                        </div>
                    </div>
                    <div class="sliderStain second">
                        <div class="content">
                            <p>{{ "general.a_partir_de" | trans }}</p>
                            <p class="price">{{ mea.prix }}<span class="fine"> </span>€</p>
                            <p class="duration">{{ "general.la_nuit" | trans }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <a id="sliderNext" class="radiusBox yellow arrowRight"></a>

    <div class="pagination clear" id="sliderPager"></div>
</div>
{% endblock %}

{% block leftColumn %}
<div class="ratio-33 left">
    <div id="topLocations" class="locationForwards clear">
        <div class="stamp grey">
            <h2>{{ "home.topcamping" | trans }}</h2>
        </div>
        {% if topCampings | length %}
        {% for camping in topCampings %}
            {% if loop.index <= 3 %}
            <div class="element clear">
                <div class="left">
                    <a href="#_" class="linkBlock"><img class="boxborder" src="{{ asset(camping.etablissement.vignette) }}" width="119" height="86" alt="" /></a>
                    <iframe src="//www.facebook.com/plugins/like.php?href={{ path('camping', {'idResalys': camping.etablissement.code}) }}&amp;send=false&amp;layout=button_count&amp;width=119&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20" scrolling="no" frameborder="0" style="border:none; width:119px; height:20px;" allowTransparency="true"></iframe>
                </div>
                <div class="details left linkParent">
                    <span class="title">{{ camping.etablissement.name }} {{ camping.etablissement.categorie.stars }}</span>
                    <span class="region">{{ camping.etablissement.ville.region }}</span>
                    <span class="condition">{{ camping.etablissement.minimumPriceLabel }}</span>
                    <a href="#_" class="stain fushia cover linkBlock"><span>{{ "general.a_partir_de" | trans }}<br /><span class="price linkBlock">{{ camping.etablissement.minimumPrice | number_format(0,'','') }}<span class="fine">&nbsp;</span>€</span></span></a>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        {% endif %}

        <a href="{{ path('top_campings') }}" class="bt link right">{{ "home.topcamping.link" | trans  ({'%number%': topCampings|length }) }}</a>
    </div>
</div>
<div class="ratio-33 left clear">

    <div id="lastLocations" class="locationForwards clear">
        <div class="stamp grey">
            <h2>Dernières minutes</h2>
        </div>
        {% for etab in dernieres_minutes.element %}
            {% for proposal in etab.extra %}
            <div class="element clear">
                <div class="details left linkParent">
                    <span class="title">{{ etab.model.name }} {{ etab.model.categorie.stars }}</span>
                    <span class="region">{{ etab.model.ville.region }}</span>
                    <span class="period">Du {{ etab.start_date }} au {{ etab.end_date }}</span>
                    <span class="counter">J -{{ etab.days_countdown }}</span>
                    {% set discount = proposal.adult_price != proposal.adult_price_without_discounts %}
                    {% if discount %}
                        <span class="condition"><a href="#" class="price linkBlock">{{ proposal.adult_price|number_format }}<span class="fine">&nbsp;</span>€ au lieu de {{ proposal.adult_price_without_discounts|number_format }}<span class="fine">&nbsp;</span>€</a> {{ proposal.room_types.room_type.room_type_label }}</span>
                    {% else %}
                        <span class="condition"><a href="#" class="price linkBlock">{{ proposal.adult_price|number_format }}<span class="fine">&nbsp;</span>€</a> {{ proposal.room_types.room_type.room_type_label }}</span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% endfor %}
        <a href="{{ path('dernieres_minutes') }}" class="bt link right">Voir toutes les dernières minutes</a>
    </div>
</div>

{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
    <div id="greyBoxes" class="clear">
        <div id="weekendIdeasBloc" class="clear radiusBox greyC">
            <div class="stamp fushia">
                <h2>{{ "general.idees_week_end" | trans }}</h2>
            </div>
            {% for idee in ideesweekend %}
                <div class="element {% if idee.prix == "" %} noprice {% endif %} clear">
                    <div class="left">
                        <a href="{{ idee.lien }}" class="linkBlock"><img class="view" src="{{ asset(idee.imagePath) }}" width="96" height="86" alt="" /></a>
                    </div>
                    <div class="details left linkParent">
                        <span class="title">{{ idee.titre }}</span>
                    </div>
                    {% if(idee.prix != "") %}
                        <a href="{{ idee.lien }}" class="stain cover linkBlock"><span>{{ "general.a_partir_de" | trans }}<br /><span class="price linkBlock">{{ idee.prix }}<span class="fine">&nbsp;</span>€</span></span></a>
                    {% endif %}
                </div>
            {% endfor %}
            <a href="#_" class="bt link right">Voir toutes les idées week-end (12)</a>
        </div>
    </div>
{% endblock %}

{% block columnClearboth %}
<div class="column clearboth clear">
    <div id="destinationsBloc" class="radiusBox greyC">
        <h2><span>{{ "home.vacances_directes_cest" | trans }}</span> {{ "home.4_pays" | trans }}<span> & </span>{{ "home.26_regions" | trans }}<span> {{ "home.touristiques" | trans }}</span></h2>
        <div class="left">
            <div id="national">
                <a class="country" href="#">{{ "home.destination_france" | trans }}</a>
                <ul>
                    {% if pays | length %}
                    {% for p in pays %}
                        {% if p.code == 'FRA' %}
                            {% for region in p.regionMeaHome %}
                                {% if loop.index <= 5 %}
                                    <li>- <a class="region" href="#">{{region.name}}</a></li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
                <a class="bt link" href="#">{{ "home.plus_de_regions" | trans }}</a>
            </div>
        </div>
        <div class="right">
            <div id="international">
                {% if pays | length %}
                {% for p in pays %}
                    {% if p.code != 'FRA' %}
                        <a class="country" href="#">{{ "home.destination" | trans }} {{p.name}}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div id="forwardBloc" class="radiusBox greyF" style="background: url({{ asset(vosVacances.imagePath) }})">
        <h4 id="forwardBlocTitle">{{ vosVacances.titre }}</h4>
        <div id="forwardBlocSubtitle">
            {{ vosVacances.prenom }}
            <span>{{ vosVacances.age }} {{ "ans" | trans }}</span>
        </div>
        <div id="forwardBlocHeadline"><span>{{ vosVacances.description }}</span></div>
    </div>
</div>

<div class="column clearboth clear">
    <div id="activitiesBloc" class="radiusBox fushia">
        <h2 id="activitiesBlocTitle">{{ "home.faites_le_plein_d_activites" | trans }}</h2>

        {% for title, activite in pleinActivites %}
            <div id="activitiesBlocHeadline{{ loop.index }}" class="blueCloud"><span>{{ title | trans }}&hellip;</span></div>
        {% endfor %}

        {% for activite in pleinActivites %}
            <ul id="activities{{ loop.index }}" class="activities">
                {% for model in activite %}
                    <li><a href="#">{{ model.name | trans }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div>

<div class="column clearboth">
    <div id="mapBloc" class="radiusBox greyC clear">
        <div id="homeMap" class="gmap left" style="width:604px;height:392px;">
            <script>
                function homeInit() {
                    var homeMkrs = [
                        //['title', lat, lont, zindex, 'idAjaxCamping', couleurMarker, filterNew, filter....]
                        {% for etab in etablissements %}
                            ['{{ etab.name }}', {{ etab.geoCoordinateX }}, {{ etab.geoCoordinateY }}, {{ loop.index }}, '{{ path('infobox_camping', {idResalys: etab.code}) }}', markerFushia, ['{{etab.thematiques.toArray("Code")|keys|join("','")|raw}}']],
                        {% endfor %}
                    ];
                    var centerhomeMkr = new google.maps.LatLng(46.31279,4.828434),
                            mapOptions = {
                                zoom: 7,
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                center: centerhomeMkr
                            };
                    homeMap = new google.maps.Map(document.getElementById('homeMap'), mapOptions);
                    setMarkers(homeMap, homeMkrs);

                    $('#mapFilters').find('a')
                        .click( function(){
                            var theme = this.id;
                            //consoleLog(theme);
                            for ( var i in aMarkers ){
                                var marker = aMarkers[i];
                                marker.setVisible( $.inArray(theme, marker.filters) != -1 ? true : false );
                            }
                            $(this).addClass('active').parents('li').siblings('li').children('a').removeClass('active');
                            ib.close();
                            return false;
                        })
                        .eq(0).trigger('click');
                }
            </script>
        </div>

        <div id="mapContent" class="left">
            <h2>{{ "general.campings_vacances_directes" | trans }}</h2>
            <h3>{{ "general.filter_par" | trans }}</h3>
            <ul id="mapFilters">
                {% for thematique in thematiques %}

                <li><a id="{{ thematique.code }}" href="#" style="background-image: url({{ asset(thematique.imagePath) }})"><span>{{ thematique.name }}</span></a></li>

                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

