{% extends "base.twig" %}

{% block bodyClass %}home{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ urlCanonical }}" />{% endblock %}

{% block slider %}
{{ esi(path('homepage_mea')) }}
{% endblock %}

{% block leftColumn %}
<div class="ratio-33 left">
    {{ esi(path('widget', {'name': 'top_camping'})) }}
</div>
<div class="ratio-33 left clear">
    {{ esi(path('esi_home_widget')) }}
</div>

{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
    <div id="greyBoxes" class="clear">
       {# TODO #2181 {{ esi(path('widget', {'name': 'idees_weekend'})) }} #}
	   {{ esi(path('widget', {'name': 'thematiques'})) }}
    </div>
{% endblock %}

{% block columnClearboth %}
<div class="column clearboth clear">
    {{ esi(path('widget', {'name': 'destination'})) }}
    {{ esi(path('widget', {'name': 'forward'})) }}
</div>

{# TODO<div class="column clearboth clear">
    <div id="activitiesBloc" class="radiusBox fushia">
        <h2 id="activitiesBlocTitle">{{ "home.faites_le_plein_d_activites" | trans }}</h2>

        {% for title, activite in pleinActivites %}
            <div id="activitiesBlocHeadline{{ loop.index }}" class="blueCloud"><span>{{ title | trans }}&hellip;</span></div>
        {% endfor %}

        {% for activite in pleinActivites %}
            <ul id="activities{{ loop.index }}" class="activities">
                {% for model in activite %}
                    <li><a href="#">{{ model.name | trans }}</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
</div> #}

<div class="column clearboth">
    {{ esi(path('widget', {'name': 'map_interactive'})) }}
</div>
{% endblock %}

