{% set menu = app.config.get('vd_menu') %}

<nav id="nav"><ul class="topnav fixed-width clear">
    <li class="tab current"><a id="home" href="{{ path( 'homepage' ) }}"><img  src="{{ asset('images/vacancesdirectes/common/pict/home.png') }}" alt="{{ menu.title|trans }}"></a></li>
        {% for item in menu.items %}
            <li class="tab"><a>{{ item.title|trans }}</a>
                {{ render ( path ( item.route ) ) }}
            </li>
        {% endfor %}
    </ul>
</nav>
