{% extends "VosWeekEnds/base.twig" %}

{% block title %}
    {% spaceless %}
        {{ "seo.title.theme" | trans ({'%theme%': theme.name}) }}
    {% endspaceless %}
{% endblock %}

{% block metaDescription %}
    {% spaceless %}
        {{ "seo.meta.theme" | trans  ({'%theme%': theme.name})}}
    {% endspaceless %}
{% endblock %}

{% block topLeftColumn %}
    {# Entête ; Lien retour et fil d'ariane ; pour l'instant le fil d'ariane n'est pas dynamisé #}
    {# le lien retour pointera à terme sur les pages de listing
    <a class="bt gris left" href="{{ app.request.headers.get('referer') }}">&lt; {{ "destination.retour" | trans }}</a>
    #}

    {# Bloc titre + accroche #}
    <h1>{{ "vos_week_ends" | trans }} {{ theme.name }}</h1> {# Titre #}
    <h2 class="h3-like">{{ theme.introduction }}</h2> {# Accroche #}
    <p class="themeDescription">{{ theme.description }}</p> {# Description #}

    <a class="bt big fushia right goto" href="#results">Notre sélection</a>
{% endblock %}

{% block topRightColumn %}

    {% include 'Form/_search_engine.twig' %}

{% endblock %}

{% block bottomColumn %}

    {# Bloc Activité #}
    <div class="activites radiusBox greyC left clear">
        {% for activite in theme.activitesActive %}
            <div class="miniEncart clear">
                <img src="{{ asset(activite.vignette) }}" alt="{{ activite.name }}" class="boxborder left">
                <div class="details">
                    <h3>{{ activite.name }}</h3>
                    <span>{{ activite.description }}</span>
                </div>
            </div>
        {% endfor %}
        {% for baignade in theme.baignadesActive %}
            <div class="miniEncart clear">
                <img src="{{ asset(baignade.vignette) }}" alt="{{ baignade.name }}" class="boxborder left">
                <div class="details">
                    <h3>{{ baignade.name }}</h3>
                    <span>{{ baignade.description }}</span>
                </div>
            </div>
        {% endfor %}
        {% for serviceComplementaire in theme.serviceComplementairesActive %}
            <div class="miniEncart clear">
                <img src="{{ asset(serviceComplementaire.vignette) }}" alt="{{ serviceComplementaire.name }}" class="boxborder left">
                <div class="details">
                    <h3>{{ serviceComplementaire.name }}</h3>
                    <span>{{ serviceComplementaire.description }}</span>
                </div>
            </div>
        {% endfor %}
        <a href="#_" class="bt link right">Toutes les activités (12)</a>
    </div>

    {# Bloc Vous aimerez #}
    <div class="events radiusBox greyC left clear">
        <h3>{{ "fiche.vous_aimerez" | trans }}</h3>
        <h4>{{ "fiche.comme" | trans }}</h4>
        {% for personnage in theme.personnagesActive %}
            <div class="temoignFicheIt fish left">
                <span class="perso">{{ personnage.prenom | trans }}</span>
                <span class="age">{{ personnage.age }} ans</span>
                <ul>
                    {% for avantage in personnage.avantagesActive %}
                    <li>{{ avantage.name }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block bottomLeftColumn %}

    {# Bloc "Notre sélection de campings" #}
    <h2 class="h3-like">{{ "destination.campings_selection_title" | trans }}</h2>
    {% include 'Listing/_listing.twig' %}

{% endblock %}

{% block bottomRightColumn %}
<div id="greyBoxes">
    {% include 'Bloc/sejour_reussi.twig' %}

    {% include 'Bloc/informations.twig' %}

    <div id="themesBloc" class="clear radiusBox greyC">
        <h3>{{ "encart_autres_themes.title" | trans }}</h3>


            <ul>
                <li class="themeItem">
                {% for autreTheme in autresTheme %}
                    <img src="{{ autreTheme.imagePath }}" alt="{{ autreTheme.name }}">
                    <span>{{ autreTheme.name }}</span>
                </li>
                {% endfor %}
            </ul>
    </div>

</div>
{% endblock %}

{% block topWideColumn %}

{% endblock %}

{% block bottomWideColumn %}

{% endblock %}
