{% extends "Annulation/base.twig" %}

{% block leftColumn %}
<h1>{{ "demande_annulation.title" | trans }}</h1>
    <p>{{ "demande_annulation.texte1" | trans }} <a href="{{ asset("CGA.pdf") }}" title="{{ demande_annulation.lienCGA }}" target="_blank">{{ "demande_annulation.lienCGA" | trans }}</a></p>
    <p>{{ "demande_annulation.texte2" | trans }}</p>
    <div class="radiusBox2 greyM form">
        <h2>{{ "demande_annulation.subtitle" | trans }}</h2>
        <form id="annulationForm" method="post" action="{{ app.request.getRequestURI() }}" novalidate {{ form_enctype(annulationForm) }}>
            <div class="errors">{{ form_errors(annulationForm) }}</div>
            <fieldset>
                <legend class="h4-like">{{ "demande_annulation.legend.coordonnees" | trans }}</legend>
                <table>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.assure_nom) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_nom) }}</td>
                        <td class="label">{{ form_label(annulationForm.assure_prenom) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_prenom) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.assure_code_postal) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_code_postal) }}</td>
                        <td class="label" rowspan="2">{{ form_label(annulationForm.assure_adresse) }}</td>
                        <td class="field" rowspan="2">{{ form_widget(annulationForm.assure_adresse) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.assure_ville) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_ville) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.assure_pays) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_pays) }}</td>
                        <td class="label"></td>
                        <td class="field"></td>

                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.assure_mail) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_mail) }}</td>
                        <td class="label">{{ form_label(annulationForm.assure_telephone) }}</td>
                        <td class="field">{{ form_widget(annulationForm.assure_telephone) }}</td>
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend class="h4-like">{{ "demande_annulation.legend.reservation" | trans }}</legend>
                <table>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.camping_montant_sejour) }}</td>
                        <td class="field">{{ form_widget(annulationForm.camping_montant_sejour) }}</td>
                        <td class="label">{{ form_label(annulationForm.camping_montant_verse) }}</td>
                        <td class="field">{{ form_widget(annulationForm.camping_montant_verse) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.etablissement) }}</td>
                        <td class="field">{{ form_widget(annulationForm.etablissement) }}</td>
                        <td class="label">{{ form_label(annulationForm.camping_num_resa) }}</td>
                        <td class="field">{{ form_widget(annulationForm.camping_num_resa) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.sinistre_nature) }}</td>
                        <td class="field" colspan="3">{{ form_widget(annulationForm.sinistre_nature) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.sinistre_suite) }}</td>
                        <td class="field" colspan="3">{{ form_widget(annulationForm.sinistre_suite) }}</td>
                    </tr>
                    <tr>
                        <td class="label">{{ form_label(annulationForm.sinistre_date) }}</td>
                        <td class="field">{{ form_widget(annulationForm.sinistre_date, { 'attr': {'class': 'datepicker'} }) }}</td>
                        <td class="label">{{ form_label(annulationForm.sinistre_resume) }}</td>
                        <td class="field">{{ form_widget(annulationForm.sinistre_resume) }}</td>
                    </tr>
                    <tr>
                        <td class="label" colspan="2">{{ "demande_annulation.files.label" | trans }}</td>
                        <td class="field" colspan="2">{{ form_widget(annulationForm.file_1) }}</td>
                    </tr>
                    <tr>
                        <td class="label" colspan="2">{{ form_label(annulationForm.file_2) }}</td>
                        <td class="field" colspan="2">{{ form_widget(annulationForm.file_2) }}</td>
                    </tr>
                    <tr>
                        <td class="label" colspan="2">{{ form_label(annulationForm.file_3) }}</td>
                        <td class="field" colspan="2">{{ form_widget(annulationForm.file_3) }}</td>
                    </tr>
                    <tr>
                        <td class="label" colspan="2">{{ form_label(annulationForm.file_4) }}</td>
                        <td class="field" colspan="2">{{ form_widget(annulationForm.file_4) }}</td>
                    </tr>
                    <tr>
                        <td class="checkbox" colspan="4">{{ form_widget(annulationForm.certifie) }}{{ form_label(annulationForm.certifie) }}</td>
                    </tr>
                </table>
                <button type="submit" class="bt fushia big right" name="annulationForm">{{ "general.submit" | trans }}</button>
                <div style="display: none;">
                    {{ form_rest(annulationForm) }}
                </div>
            </fieldset>
        </form>
        <p>{{ "demande_annulation.texte3" | trans }}</p>
</div>
{% endblock %}