{% set currentRoute = app.request.get('_route') %}

<!doctype html>
<html class="js-false" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="robots" content="noindex, nofollow">
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %} - Vacances Directes CE</title>

    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('css/vacancesdirectes/screen.css') }}">

    <script src="{{ asset('vendor/head.extended.js') }}"></script>
    <script>var templatePath = '{{ asset('') }}';</script><!-- templatePath : chemin du template en absolue -->
</head>
<body class="ce">
    <header class="clear">
        <nav id="nav"><ul class="topnav fixed-width clear">
            <li class="tab"><a id="home" href="{{ path('homepage') }}">
                <img  src="{{ asset('images/vacancesdirectes/common/pict/home.png') }}" alt="Accueil">
                <span>Vacances directes.com</span></a>
            </li>
        </ul></nav>

        <div id="header" class="fixed-width clear">
            <div id="headerRight">
                <div id="telephone">
                    <span>Informations & réservations
                        <a>0826 105 110 (0,15€/min)</a>
                    </span>
                </div>
            </div>
            <a href="{{ path('homepage') }}" title="Retourner à Vacances directes & Village Center" id="logo">
                <img src="{{ asset('images/vacancesdirectes/common/pict/ce-vacancesdirectes-logo.png') }}" alt="Vacances directes & Village Center" /></a>
        </div>
    </header>

    <div id="wrap" class="fixed-width clear">


        <div id="headerContainer" class="column">
            {% block header %}
                {% include 'header.twig'%}
            {% endblock %}
        </div>

        {% block content %}{% endblock %}
    </div><!-- End of document -->

    <footer class="clear">
        <div class="footer-links" class="full-width">
            <a href="{{ path('edito_by_slug', {slug: 'conditions-generales-de-location'}) }}">Conditions générales de location</a> -
            <a href="{{ path('edito_by_slug', {slug: 'mentions-legales-credits'}) }}">Mentions légales & crédits</a>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
    <script>window.jQuery || document.write('<script src='+ templatePath + '"vendor/jquery-1.8.0.min.js">\x3C/script>')</script>

    <script>
        head.js(
            {modernizr: templatePath + "vendor/modernizr-2.6.1.min.js"}, // test support html5 functionality
            {selectivizr: templatePath+"vendor/selectivizr-min.js"}, // extend css selectors for IE
            {jqPlugins: templatePath + "js/vacancesdirectes/plugins.js"},
            {frontJS: templatePath + "js/vacancesdirectes/front.js"}
            {% block headjs %}{% endblock %}
        );
    </script>

    <!-- Prompt IE 6 users to install Chrome Frame -->
    <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>
