{% set user = app.session.get('resalys_user') %}

{% if user %}
<div id="userBox">
    <span>{{ user.service.firstname }} - {{ user.service.lastname }}</span>
    <a class="bt fushia small right" href="{{ path ('logout') }}">Déconnexion</a>
</div>
{% endif %}

<h1><span>Bienvenue dans l’espace </span>partenaires</h1>

{% if user %}
<nav id="nav" class="clearboth">
    <ul class="topnav fixed-width clear">
        <li class="tab{% if currentRoute in ['achat_packages', 'achat_panier', 'achat_confirmation_reservation', 'achat_recherche'] %} current{% endif %}"><a href="{{ path('achat_packages') }}">Achats</a></li>
        <li class="tab"><a href="#">Documents</a></li>
        <li class="tab{% if currentRoute in ['administration_reservations', 'administration_coordonnees'] %} current{% endif %}"><a href="{{ path('administration_reservations') }}">Administration</a></li>
    </ul>

    {% if currentRoute in ['administration_reservations', 'administration_coordonnees'] %}
        <ul class="topnav topnavSub fixed-width clear">
            <li class="tab{% if currentRoute == 'administration_coordonnees' %} current{% endif %}"><a href="{{ path('administration_coordonnees') }}">Coordonnées</a></li>
            <li class="tab{% if currentRoute == 'administration_reservations' %} current{% endif %}"><a href="{{ path('administration_reservations') }}">Suivi des achats</a></li>
        </ul>
    {% endif %}
</nav>
{% endif %}
