{% set user = app.session.get('resalys_user') %}

{% if user %}
<div id="userBox">
    <span>{{ user.service.firstname }} - {{ user.service.lastname }}</span>
    <a class="bt fushia small right" href="{{ path ('logout') }}">Déconnexion</a>
</div>
{% endif %}

<h1><span>Bienvenue dans l’espace </span>comité d’entreprise</h1>

{% if user %}
<nav id="nav" class="clearboth">
    <ul class="topnav fixed-width clear">
        <li class="tab current"><a href="{{ path('achat_packages') }}">Achats</a></li>
        <li class="tab"><a href="#">Documents</a></li>
        <li class="tab"><a href="{{ path('administration_reservations') }}">Administration</a></li>
    </ul>
</nav>
{% endif %}
