{% extends "Destination/base.twig" %}

{% block title %}
{% spaceless %}
    {% if destination == constant("VacancesDirectes\\Controller\\DestinationController::DESTINATION_REGION") %}
        {{ "seo.title.region" | trans ({'%region%': item}) }}
    {% elseif destination == constant("VacancesDirectes\\Controller\\DestinationController::DESTINATION_PAYS") %}
        {{ "seo.title.pays" | trans ({'%pays%': item}) }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block metaDescription %}
{% spaceless %}
    {% if destination == constant("VacancesDirectes\\Controller\\DestinationController::DESTINATION_REGION") %}
        {{ "seo.meta.region" | trans  ({'%region%': item, '%pays%': item.pays})}}
    {% elseif destination == constant("VacancesDirectes\\Controller\\DestinationController::DESTINATION_PAYS") %}
        {{ "seo.meta.pays" | trans  ({'%pays%': item})}}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block topLeftColumn %}

    {# Entête ; Lien retour et fil d'ariane ; pour l'instant le fil d'ariane n'est pas dynamisé #}
    {# le lien retour pointera à terme sur les pages de listing
    <a class="bt gris left" href="{{ app.request.headers.get('referer') }}">&lt; {{ "destination.retour" | trans }}</a>
    #}

    {# Bloc titre + accroche + picto #}
    {% if item['imagePath'] is defined %}
        <img class="right" width="127" height="127" src="{{ asset(item.imagePath) }}"> {# Picto région #}
    {% endif %}
    <h1>{{ title }}</h1> {# Titre #}
    <h2 class="h3-like">{{ item.introduction }}</h2> {# Accroche #}
    <p class="destiDescription">{{ item.description }}</p> {# Description #}

    {#<a class="bt big fushia right goto" href="#results">Notre sélection</a>#}

{% endblock %}

{% block topRightColumn %}

    {% include 'Form/_search_engine.twig' %}

{% endblock %}

{% block bottomLeftColumn %}

    {# Bloc "Notre sélection de campings" #}
    <h2 class="h3-like">{{ "destination.campings_selection_title" | trans }}</h2>
    {% include 'Listing/_listing.twig' %}

{% endblock %}

{% block bottomRightColumn %}
<div id="greyBoxes">
    {% include 'Bloc/sejour_reussi.twig' %}

    {% include 'Bloc/informations.twig' %}
</div>
{% endblock %}

{% block topWideColumn %}

    {# Bloc POIs #}
    <div class="activites radiusBox greyC left clear">
    {% for poi in sitesAVisiter %}
        {# Le nombre de POIs est limité en PHP en amont, tous les POIs presents ici sont a afficher #}
        <div class="miniEncart clear">
            <img src="{{ poi.image }}"  class="left boxborder" alt="">
            <span class="h5-like">{{ poi.name }}</span>
            <p> {{ poi.presentation | truncate(300, true, '...') }}</p>
        </div>
    {% endfor %}
    {# TODO<a href="#_" class="bt trans right">{{ "destination.pois_all" | trans }} ({{nbSitesAVisiter}})</a> #}
    </div>

    {# Bloc Evenements #}
    <div class="events radiusBox greyC left clear">
    <span class="h5-like">{{ "destination.events_title" | trans }}</span>
    <span class="h6-like">{{ "destination.events_prefixe_subtitle" | trans }} {{ item.name }} {{ "destination.events_suffixe_subtitle" | trans }}</span>
    {% for event in events %}{# Le nombre d'évènements est limité en PHP en amont, tous les évènements presents ici sont a afficher #}
        <div class="miniEncart clear">
            <img src="{{ event.image }}" class="left boxborder" alt="" width="70" height="70">
            <span class="titre">{{ event.name | trans }}</span>
            <p>{{ event.strDate | trans }}</p>
            <p>{{ event.subtitle | trans }}</p>
        </div>
    {% endfor %}
    </div>

{% endblock %}

{% block bottomWideColumn %}
{% if firstEtab %}
<div id="destiMapContener" class="clear">
    {# Bloc GMap #}
    <h2><span class="h3-like">{{ "listing_destination.campings_map_title" | trans }}<br>
    {{ "listing_destination.campings_map_prefixe_subtitle" | trans }} {{ item.name }}</span></h2>
    <div id="destiMap" class="gmap" style="width:908px;height:330px;">
        <script>
            function destiInit() {
                var destiMkrs = [
                    //['title', lat, lont, zindex, 'idAjaxCamping', couleurMarker]
                    {% for etab in list.element %}
                        ['{{ etab.model.name }} {{ etab.model.categorie.stars }}', {{ etab.model.geoCoordinateX }}, {{ etab.model.geoCoordinateY }}, {{ loop.index }}, '{{ path('infobox_camping', {idResalys: etab.model.code}) }}', markerFushia],
                    {% endfor %}
                ];
                var centerDestiMkr = new google.maps.LatLng({{firstEtab.geoCoordinateX}},{{firstEtab.geoCoordinateY}}),
                        mapOptions = {
                            zoom: 6,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            center: centerDestiMkr
                        };
                destiMap = new google.maps.Map(document.getElementById('destiMap'), mapOptions);
                setMarkers(destiMap, destiMkrs);
            }
        </script>
    </div>
</div>
{% endif %}

{# Photos #}
{% if item.imageDetail1 or item.imageDetail2 %}}
<h3>{{ imagesTitle }}</h3>
    {% if item.imageDetail1 %}}
<img src="{{ asset(item.imageDetail1) }}" class="boxborder large imgDesti">
    {% endif %}
    {% if item.imageDetail2 %}
<img src="{{ asset(item.imageDetail2) }}" class="boxborder large imgDesti">
    {% endif %}
{% endif %}

{# TODO <a href="#_">{{ "destination.retour_bottom" | trans }}</a> #}

{% endblock %}
