<span class="nbResult"><span class="nb">{{ list.element | length }}</span>Résultat(s)</span>
<div class="typeAff">
    <span>Affichage résultats</span>
    <button class="button picto active">Liste</button>
    <button class="button picto">Carte</button>
</div>
<div id="widgetRange">
    Budget(s) proposé(s)
    <div id="noUiSlider" class="noUiSlider" data-range='{"minScale":0, "maxScale":500, "minStart":"0", "minStop":"500"}'></div>
</div>

<form id="filterTri" action="">
    <fieldset>
        <label for="">Trier par</label>
    </fieldset>
</form>

<span class="infoComp">Comparateur</span>

<div id="results" class="clear">
    {% for etab in list.element %}
    <div id="etab0" class="itemResult <!--itemResultPromo-->" data-critplus="SRV2,SRV6,SRV7,AL1,TH4,TH3,TH2,TH5,SC1,SC2,SC3,SC4,SC5,TH1,AL2" data-crit="SIT4,SIT3,SIT7,DST1,">
        <div class="itemResultTitle">
            <input type="checkbox" name="compar" value="idCamp1">
            {{ etab.model.name }} ******
            du 11/08/2012 au 28/08/2012
        </div>
        <div class="itemResultLeft">
            [img]
            <div class="ratingFiche" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                Note :
                <span itemprop="ratingValue" content="4" title="4/5">
                    <span class="review rated">1</span>
                    <span class="review rated">2</span>
                    <span class="review rated">3</span>
                    <span class="review rated">4</span>
                    <span class="review">5</span>
                </span>
                <span class="reviewCount" itemprop="reviewCount">46</span> avis clients
            </div>
        </div>
        <!-- item.center -->
        <div class="itemResultCenter">
            - Accès direct à la plage
            - Cadre boisé
            - Parc aquatique
            - Nombreuses animations

            [picto] [picto] [picto] [picto]

            <a class="bt sombre" href="#_">Découvrir le camping</a>
        </div>
        <!-- item.right -->
        <div class="itemResultRight">
            [img country]
            {{ etab.model.country }}
            {{ etab.model.ville.region }}
            {{ etab.model.ville }}
            En savoir plus <br>sur la destination

            <div class="itemResultPopDest" style="display:none;">
                {{ etab.model.ville }}
                [img]
                La ville de Palalas Les Flots...

                [img] Mozart - Les Noces de Figaro - Opéra - Montpellier
                Du mercredi 20 juin 2012 au jeudi 28 juin 2012
                <a class="button trans" href="#_">Plus d'événements</a>

                [img] Visitez le parc zoologique de Montpellier
                <a class="button trans" href="#_">Plus de visites</a>

                &Agrave; ne pas manquer
                <a class="button trans" href="#_">14 sites à visiter</a>
                <a class="button trans" href="#_">24 activités</a>
                <a class="button trans" href="#_">14 événements</a>

                <a class="button" href="#_">Découvrir Palavas Les Flots</a>
            </div>

        </div>
        <!-- item.bottom -->
        {% if list.type == 1 %}
        <div class="itemResultBottom">
            <input type="radio" id="camp1-1" name="camp1" checked="checked"><label for="camp1-1">Familial (mobil-home 6 places) <span class="price">952, 00 €</span></label>
            <input type="radio" id="camp1-2" name="camp1"><label for="camp1-2">Vacancial (mobil-home 6 places) <span class="price">1141, 00 €</span></label>
            <input type="radio" id="camp1-3" name="camp1"><label for="camp1-3">Special (mobil-home 8 places) <span class="price">1141, 00 €</span></label>
        </div>
        {% endif %}
    </div><!-- // .itemResult -->
    {% endfor %}
</div>