{% extends "base.twig" %}

{% block content %}
    <table class="table">
        <tr>
            <th>{{ "resalys.title.import" | trans }}</th>
            <td class="pull-right"><a href="{{ path('resalys_actions_import') }}" class="btn">{{ "resalys.actions.import" | trans }}</a></td>
        </tr>
        <tr>
            <th>{{ "resalys.title.import.prix" | trans }}</th>
            <td class="pull-right"><a href="{{ path('resalys_actions_import_prix') }}" class="btn">{{ "resalys.actions.import.prix" | trans }}</a></td>
        </tr>
    </table>
{% endblock %}

