{% set menu = app.config.get('cungfoo_menu') %}
{% set current_route = app.request.get('_route') %}

<a class="brand" href="{{ path( menu.route ) }}">{{ menu.title|trans }}</a>

{% if app.security.getToken().getUser() is defined %}
<div class="nav-collapse">
    <ul class="nav">
        {% for level1 in menu.items %}
        {% if level1.items is defined %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ level1.title|trans }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {% for level2 in level1.items %}
                    <li><a href="{{ path( level2.route ) }}">{{ level2.title|trans }}</a></li>
                {% endfor %}
            </ul>
        </li>
        {% else %}
        <li{% if current_route == level1.route %} class="active"{% endif %}><a href="{{ path( level1.route ) }}">{{ level1.title|trans }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
    <ul class="nav pull-right">
        <li><a><strong>{{ app.security.token.user.username }}</strong></a></li>
        <li class="divider-vertical"></li>
        <li><a href="{{ path('admin_logout') }}">{% trans %}menu.logout{% endtrans %}</a></li>
    </ul>
</div>
{% endif %}