{% extends "base.twig" %}

{% block title %}{{ typeHebergement.seoTitle | trans ({'%name%': typeHebergement.name|lower, '%type%': typeHebergement.categoryTypeHebergement|lower, '%personnes%': typeHebergement.nombrePlace}) }}{% endblock %}
{% block metaDescription %}{{ typeHebergement.seoDescription | trans ({'%name%': typeHebergement.name|lower, '%type%': typeHebergement.categoryTypeHebergement|lower, '%personnes%': typeHebergement.nombrePlace}) }}{% endblock %}
{% block bodyClass %} fiche{% endblock %}

{% block canonical %}{% if canonical %}<link rel="canonical" href="{{ canonical }}" />{% endif %}{% endblock %}

{% block leftColumn %}

{% include "Breadcrumbs/_breadcrumbs.twig" %}

<h1>{{ typeHebergement.name }}</h1>
<h2 class="h3-like">{{ 'location.fiche.subtitle' | trans({'%type%': categoryTypeHebergement.name, '%nbPlaces%': typeHebergement.nombrePlace}) }}</h2>
<div class="richText">{{ typeHebergement.presentation | raw }}</div>
<br/>

<button data-triggerlink="#tabCampings" class="bt fushia big right triggerClick">{{ 'location.fiche.voir_les_campings' | trans }}</button>

<ul class="tabControls clear">
    <li><a href="#tabLogement" class="active">{{ 'location.fiche.onglet.logement.title' | trans }}</a></li>
    <li><a href="#tabCampings">{{ 'location.fiche.onglet.campings.title' | trans }}</a></li>
</ul>

<div class="tabCampDiapo">
    {% if typeHebergement.multimediaTypeHebergements|length > 0 %}
    <div class="slider"><div class="slide clear">
        {% for multimedia in typeHebergement.multimediaTypeHebergements %}
        <img src="{{ asset(multimedia.imagePath) }}" width="616" height="326" class="locations" title="{{multimedia.titre}}" alt="{{multimedia.titre}}"/>
        {% endfor %}
    </div></div>
    {% endif %}
</div>

<!-- tab Camping -->
<div id="tabLogement" class="tabs">
    <h2 class="h3-like">{{ 'location.fiche.onglet.logement.informations_pratiques.title' | trans }}</h2>
    <div class="descLogement bloc gris">

    {% if typeHebergement.capaciteHebergement %}
        <h4>{{ 'location.fiche.onglet.logement.informations_pratiques.capacite' | trans }}</h4>
        <p>{{ typeHebergement.capaciteHebergement | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.dimensions %}
        <br/><br/>
        <h4>{{ 'location.fiche.onglet.logement.informations_pratiques.dimensions' | trans }}</h4>
        <p>{{ typeHebergement.dimensions | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.agencement %}
        <br/><br/>
        <h4>{{ 'location.fiche.onglet.logement.informations_pratiques.agencement' | trans }}</h4>
        <p>{{ typeHebergement.agencement | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.equipements %}
        <br/><br/>
        <h4>{{ 'location.fiche.onglet.logement.informations_pratiques.equipements' | trans }}</h4>
        <p>{{ typeHebergement.equipements | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.anneeUtilisation %}
        <br/><br/>
        <h4>{{ 'location.fiche.onglet.logement.informations_pratiques.annee_utilisation' | trans }}</h4>
        <p>{{ typeHebergement.anneeUtilisation | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.remarque1 %}
        <br/><br/>
        <p>{{ typeHebergement.remarque1 | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.remarque2 %}
        <br/>
        <p>{{ typeHebergement.remarque2 | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.remarque3 %}
        <br/>
        <p>{{ typeHebergement.remarque3 | nl2br }}</p>
    {% endif %}

    {% if typeHebergement.remarque4 %}
        <br/>
        <p>{{ typeHebergement.remarque4 | nl2br }}</p>
    {% endif %}
    </div>
    <nav class="paginationTabs clear">
        <button class="bt trans right triggerClick" data-triggerLink="#tabCampings">{{ 'location.fiche.onglet.logement.lien_campings' | trans }}</button>
    </nav>
</div>

<!-- tab Locations -->
<div id="tabCampings" class="tabs">
    <h2 class="h3-like">{{ 'location.fiche.onglet.campings.selection.title' | trans }}</h2><br>
    <form class="filterBy" action="">
        <fieldset>
            <span>{{ "fiche.filtrer_par" | trans }}</span>
            <select name="capacite" id="capacite">
                <option value="">{{ "fiche.toutes_regions" | trans }}</option>
                {% for region in regions %}
                    <option value="reg-{{ region.slug }}">{{ "fiche.region" | trans }}{{ region.slug }}</option>
                {% endfor %}
            </select>
        </fieldset>
    </form>
    {% include 'Listing/_listing.twig' %}

    <nav class="paginationTabs clear">
        <button class="bt trans left triggerClick" data-triggerLink="#tabLogement">{{ 'location.fiche.onglet.campings.lien_logement' | trans }}</button>
    </nav>
 </div>

<script type="text/javascript">
    var nbVisible = 3;
</script>

{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
{% endblock %}
