{% extends "base.twig" %}

{% block title %}{% endblock %}
{% block metaDescription %}{% endblock %}
{% block bodyClass %} fiche{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ referer }}" />{% endblock %}

{% block leftColumn %}

{% include "Breadcrumbs/_breadcrumbs.twig" %}


<h1>Nos hébergements</h1>
<h2 class="h3-like">{{ categoryTypeHebergement.name }}</h2>
<p class="description">{{ categoryTypeHebergement.description }}</p>

 <a href="#results" class="bt big fushia right goto">Notre sélection</a>

<div class="bandeau">
    <div class="sliderStain">
        <div class="content">
            <p class="headline">Au camping comme à la maison</p>
        </div>
    </div>
    <img class="bdPict" src="{{ asset(categoryTypeHebergement.imagePage) }}" alt="" width="614" height="253">
</div>

<h2 class="h3-like">Notre sélection d'hébergement</h2>
<div id="results" class="clear">
    {% for hebergement in categoryTypeHebergement.typeHebergements %}
    <div class="itemResult clear">
        <div class="itemResultTitle itemResultTitleHbgt">
           {{ hebergement.name }}
        </div>
        <div class="itemResultLeft itemResultLeftHbgt">
            <img src="{{ asset(hebergement.imageHebergementPath) }}" alt="" class="boxborder">
        </div>
        <div class="itemResultCenter itemResultCenterHbgt">
            <span class="ircHbgtTitle">{{ hebergement.nombrePlace }} places</span>
            <span class="ircHbgtSubTitle">Avec sanitaires</span>
            <span class="ircHbgtDesc">{{ hebergement.presentation | nl2br }}</span>
        </div>
        <div class="itemResultBottom itemResultBottomHbgt clear">
            <a class="bt right fushia big" href="{{ path('location_type_hebergement', {'categoryTypeHebergement': categoryTypeHebergement.slug, 'typeHebergement': hebergement.slug}) }}">En savoir plus</a>
        </div>
    </div>
    {% endfor %}

    <button id="btPlusResults" class="bt big sombre">Plus de résultats</button>
</div>
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}

    <div id="greyBoxes">
        {% include 'Bloc/propose_hebergement.twig' %}
    </div>

    <div id="greyBoxes">
        {% include 'Bloc/sejour_reussi.twig' %}
    </div>

    <div id="greyBoxes">
        {% include 'Bloc/informations.twig' %}
    </div>
{% endblock %}
