{% extends "base.twig" %}

{% if currentClass == "Cungfoo\\Model\\CategoryTypeHebergement" %}
    {% set currentClass = 'categorie' %}
{% elseif currentClass == "Cungfoo\\Model\\TypeHebergementCapacite" %}
    {% set currentClass = 'capacite' %}
{% endif %}

{% block title %}
{% spaceless %}
    {{ categoryTypeHebergement.seoTitle | trans ({'%type%': categoryTypeHebergement.name|lower}) }}
{% endspaceless %}
{% endblock %}
{% block metaDescription %}
{% spaceless %}
    {{ categoryTypeHebergement.seoDescription | trans ({'%type%': categoryTypeHebergement.name|lower}) }}
{% endspaceless %}
{% endblock %}
{% block bodyClass %} fiche{% endblock %}

{% block leftColumn %}

{% include "Breadcrumbs/_breadcrumbs.twig" %}

<h1>{{ ("location.list.title") | trans ({'%type%': categoryTypeHebergement.name}) }}</h1>
<h2 class="h3-like">{{ categoryTypeHebergement.name }}</h2>
<div class="richText">{{ categoryTypeHebergement.description | raw }}</div>

 <a href="#results" class="bt big fushia right goto">{{ 'location.list.notre_selection' | trans }}</a>

{% if categoryTypeHebergement.imagePage %}
<div class="banner">
    {% if categoryTypeHebergement.accroche %}
    <div class="bannerStain first">
        <div class="content">
            <p class="headline">{{ categoryTypeHebergement.accroche|raw }}</p>
        </div>
    </div>
    {% endif %}
    <img class="bdPict" src="{{ asset(categoryTypeHebergement.imagePage | media('file')) }}" alt="" width="616" height="253">
</div>
{% endif %}

<h2 class="h3-like">{{ 'location.list.selection' | trans }}</h2>
<form class="filterBy" action="">
    <fieldset>
        <span>{{ "fiche.filtrer_par" | trans }}</span>
        {% if currentClass == 'categorie' %}
        <select name="capacite" id="capacite">
            <option value="">{{ "fiche.toutes_capacite" | trans }}</option>
            {% for nbPlace in categoryTypeHebergement.capacitesTypeHebergement %}
                <option value="cap{{ nbPlace }}">{{ "fiche.capacite" | trans }} {{ nbPlace }} {{ "fiche.places" | trans }}</option>
            {% endfor %}
        </select>
        {% elseif currentClass == 'capacite' %}
        <select name="type" id="type">
            <option value="">{{ "fiche.toutes_categories" | trans }}</option>
            {% for category in categoryTypeHebergement.categoriesTypeHergement %}
                <option value="{{ category.name | trans }}">{{ category.name | trans }}</option>
            {% endfor %}
        </select>
        {% endif %}
    </fieldset>
</form>
<div id="results" class="clear">
    {% for hebergement in categoryTypeHebergement.typeHebergementsActive %}
    <div class="itemResult clear typLocation cap{{ hebergement.nombrePlace }} {{ hebergement.categoryTypeHebergement.name }}" data-critplus="">
        <div class="itemResultTitle itemResultTitleHbgt">
           <a href="{{ path('location_type_hebergement', {'categoryTypeHebergement': categoryTypeHebergement.slug, 'typeHebergement': hebergement.slug}) }}">{{ hebergement.name }}</a>
        </div>
        <div class="itemResultLeft itemResultLeftHbgt">
            <img src="{{ asset(hebergement.imageHebergementPath | media('file')) }}" alt="" class="boxborder">
        </div>
        <div class="itemResultCenter itemResultCenterHbgt">
            {# <span class="ircHbgtTitle">{{ 'location.list.hebergements.nb_places' | trans({'%nbPlaces%': hebergement.nombrePlace}) }}</span> #}
            <span class="ircHbgtSubTitle">{{ hebergement.indice }}</span>
            <span class="ircHbgtDesc">{{ hebergement.presentation | nl2br }}</span>
        </div>
        <div class="itemResultBottom itemResultBottomHbgt clear">
            <a class="bt right fushia big" href="{{ path('location_type_hebergement', {'categoryTypeHebergement': categoryTypeHebergement.slug, 'typeHebergement': hebergement.slug}) }}">{{ 'location.list.hebergements.savoir_plus' | trans }}</a>
        </div>
    </div>
    {% endfor %}

    <button id="btPlusResults" class="bt big sombre">{{ 'location.list.hebergements.plus_de_resultats' | trans }}</button>
</div>
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}

    <div id="greyBoxes">
        {{ esi(path('widget', {'name': 'proposition_hebergement'})) }}
        {{ esi(path('widget', {'name': 'sejour_reussi'})) }}
        {{ esi(path('widget', {'name': 'reassurance'})) }}
    </div>
{% endblock %}
