<tr class="well portfolio-edit-form-{{ form.id.get('value') }}">
    <td colspan="9">
        <form action="{{ path('portfolio_edit', {id: form.id.get('value')}) }}" class="portfolio-edit-form" method="post" {{ form_enctype(form) }}>
            <div class="row-fluid">
                <div class="span6">
                {{ form_widget(form.portfolio_mediaI18ns) }}
                </div>
                <div class="span6">
                    {{ form_widget(form) }}
                    {{ form_widget(form.portfolio_tags) }}
                    {{ form_label(form.portfolio_tags) }}
                    <input id="portfolio_tags_add" name="Portfolio[tags_add]" type="text"/><br/>
                    <a class="portfolio-add-tag btn" href="{{ path('portfolio_tag_add') }}" data-field-id="portfolio_tags_add">Ajouter le tag</a>
                </div>
            </div>
            {{ form_errors(form) }}
            <hr/>
            <button type="submit" class="btn pull-right" style="margin-bottom: -5px">{{ "crud.button.save" | trans }}</button><br/>
            <div style="display:none">{{ form_rest(form) }}</div>
        </form>
    </td>
</tr>
