<div id="deals" class="subnav">
    <div id="dealsMenu">
        <div class="title">{{ 'menu_bon_plan.accroche.prefix' | trans}}<br />{{ 'menu_bon_plan.accroche.suffix' | trans}}</div>
        <ul>
            {% for categorie in categories %}
                {% if categorie.bonPlansActifsForMenu | length > 0 %}
            <li class="bp{% if loop.first %} selected{% endif %}">{{ categorie.name }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div id="dealsContent">
    {% for categorie in categories %}
        {% if categorie.bonPlansActifsForMenu | length > 0 %}
        <div id="bp{{ loop.index }}" class="radiusBox greyC">
        <div class="clear">
            <div>
                <div class="stamp orange">
                    <span>{{ categorie.name }}</span>
                </div>
            </div>
            <div class="elements">
                {% for bonPlan in categorie.bonPlansActifsForMenu %}
                <div class="element clear linkParent">
                    <img class="boxborder left" src="{{ asset(bonPlan.imageMenu | media('file')) }}" width="119" height="86" alt="" />
                    <div class="details left">
                        <span class="title">{{ bonPlan.name }}</span>
                        <span class="region">{{ bonPlan.indice }}</span>
                        <span class="period">{{ 'general.du' | trans}} {{ bonPlan.dateStart|date('d/m/Y') }} {{ 'general.au' | trans}} {{ bonPlan.dateEnd|date('d/m/Y') }}</span>
                        <span class="condition"><a href="{{ path('categorie_bonsplans', {'cat': categorie.slug }) }}#dateCrit{{ loop.index }}" class="price linkBlock" onclick="showWaitLayer();">{{ bonPlan.indicePrix }}</a></span>
                    </div>
                </div>
                {% endfor %}
                <a href="{{ path('categorie_bonsplans', {'cat': categorie.slug }) }}" class="bt link right clearboth">{{ 'menu_bon_plan.categorie_bons_plans.link' | trans}}</a>
            </div>
        </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
