<div id="deals" class="subnav">
    <div id="dealsMenu">
        <div class="title">{{ 'menu_bon_plan.accroche.prefix' | trans}}<br />{{ 'menu_bon_plan.accroche.suffix' | trans}}</div>
        <ul>
            {% for categorie in categories %}
            <li class="bp{% if loop.first %} selected{% endif %}">{{ categorie.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {# TODO
    <div id="dealsSubscribe">
        <div class="title">{{ 'menu_bon_plan.newsletter.title' | trans}}</div>
        <img src="{{ asset('images/vacancesdirectes/dyn/menu/3-bonsplans/newsletter.jpg') }}" alt="" />
        <a href="#" class="bt bleu ib">{{ 'menu_bon_plan.newsletter.link' | trans}}</a>
    </div>
    #}
    <div id="dealsContent">
    {% for categorie in categories %}
        <div id="bp{{ loop.index }}" class="radiusBox greyC">
            {% for bonPlan in categorie.bonPlansActifsForMenu %}
                {% if loop.index < 3 %}
                <div class="clear">
                <div>
                    <div class="stamp orange"><span>{% if loop.first %}{{ bonPlan.name }}{% else %}{{ 'menu_bon_plan.autres_offres.title' | trans}}{% endif %}</span></div>
                    {% if (loop.first or (loop.index == 2 and loop.last)) and bonPlan.dateStart %}<span class="dealsDate">{{ 'menu_bon_plan.dispos.subtitle.prefix' | trans}} {{ bonPlan.dateStart|date('d/m/Y') }}</span>{% endif %}
                </div>
                {% endif %}

                {% if loop.first %}
                    {% if loop.last %}
                        {% set nbDispos = 6 %}
                    {% else %}
                        {% set nbDispos = 4 %}
                    {% endif %}
                    <div class="elements">
                    {% if app.debug %}
                        {{ render(path('esi_bon_plan', {'slug': bonPlan.slug, 'limit': nbDispos})) }}
                    {% else %}
                        <esi:include src="{{ path('esi_bon_plan', {'slug': bonPlan.slug, 'limit': nbDispos}) }}" />
                    {% endif %}
                    </div>
                    <a href="{{ path('bonsplans', {'slug': bonPlan.slug}) }}" class="bt link right clearboth">{{ 'menu_bon_plan.bons_plans.link.prefix' | trans}} {{ bonPlan.name }}</a>
                {% elseif loop.index < 4 %}
                    {% if loop.index == 2 and loop.last %}
                    <div class="elements">
                        {% if app.debug %}
                            {{ render(path('esi_bon_plan', {'slug': bonPlan.slug, 'limit': 2})) }}
                        {% else %}
                            <esi:include src="{{ path('esi_bon_plan', {'slug': bonPlan.slug, 'limit': 2}) }}" />
                        {% endif %}
                    </div>
                    <a href="{{ path('bonsplans', {'slug': bonPlan.slug}) }}" class="bt link right clearboth">{{ 'menu_bon_plan.bons_plans.link.prefix' | trans}} {{ bonPlan.name }}</a>
                    {% else %}
                        {% if loop.index == 2 %}
                <div class="elements">
                        {% endif %}
                    <div class="element clear linkParent">
                        <img class="boxborder left" src="{{ asset(bonPlan.imageMenu) }}" width="119" height="86" alt="" />
                        <div class="details left">
                            <span class="title">{{ bonPlan.name }}</span>
                            <span class="region">{{ bonPlan.indice }}</span>
                            <span class="period">{{ 'general.du' | trans}} {{ bonPlan.dateDebut|date('d/m/Y') }} {{ 'general.au' | trans}} {{ bonPlan.dateFin|date('d/m/Y') }}</span>
                            <span class="condition"><a href="{{ path('bonsplans', {'slug': bonPlan.slug}) }}" class="price linkBlock" onclick="showWaitLayer();">{{ bonPlan.indicePrix }}</a></span>
                        </div>
                    </div>
                        {% if loop.last %}
                </div>
                        {% endif %}
                    {% endif %}
                {% else %}
                <a href="{{ path('categorie_bonsplans', {'cat': categorie.slug }) }}" class="bt link right clearboth">{{ 'menu_bon_plan.categorie_bons_plans.link' | trans}}</a>
                {% endif %}
                {% if loop.first or loop.last %}</div>{% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>
