<div>
    <div>{{ "pays.france" | trans }}</div>
    <ul>
    {% for destinationId, destination in regionsByDestinations %}
        <li>
            <div>{{ destination.label | trans }}</div>
            <ul>
            {% for region in destination.regions %}
                <li><a href="{{ region.Id }}">{{ region.Name }}</a></li>
            {% endfor %}
            </ul>
            <div><a href="{{ destinationId }}">{{ "menu.plus_de_regions" | trans }}</a></div>
        </li>
    {% endfor %}
    </ul>
</div>


{% for pays, regions in regionsByForeignCountries %}
<div class="{{ regions[0].PaysId }}">
    <div>{{ pays | trans }}</div>
    <ul>
    {% for region in regions %}
        <li><a href="{{ region.Id }}">{{ region.Name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endfor %}

{{ form_widget (searchForm) }}

<ul>
    <li>
        <span>{{ "menu.libelle" | trans }}</span>
        <ul>
            {% for letter, etabs in etabByAlphabeticalOrder %}
            <li>
                <strong>{{ letter }}</strong>
                <ul>
                    {% for etab in etabs %}
                    <li><a class="camping" href="{{ etab.Id }}">{{ etab.Name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <span>{{ "menu.localisation" | trans }}</span>
        <ul>
            {% for region, villes in etabByVilleOrder %}
            <li>
                <a class="region">{{ region }}</a>
                <ul>
                    {% for ville, etabs in villes %}
                    <li>
                        <a class="ville">{{ ville }}</a>
                        <ul>
                            {% for etab in etabs %}
                            <li><a href="{{ etab.Id }}">{{ etab.Name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>