<div id="destinations" class="subnav">
    <div class="clear">
        <div class="left ratio-33">
            <div class="radiusBox greyC">
                <div class="title">Tous nos campings</div>
                <div id="campingsList-nav" class="stamp fushia"></div>
                <div id="campingsList-search"></div>
                <ol id="campingsList">
                    {% for letter, etabs in etabByAlphabeticalOrder %}
                        <li class="letter-first">{{ letter }}</li>
                        {% for etab in etabs %}
                            <li><a class="letter-{{ letter }}" href="{{ path('destination_camping', {pays: etab.pays.slug, region: etab.region.slug, ville: etab.ville.slug, camping: etab.slug}) }}">{{ etab.name }}</a></li>
                        {% endfor %}
                        <li class="letter-last"></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
        <div class="left ratio-33">
            <div class="radiusBox2 greyC bgImg">
                <div class="view">
                    <img class="bg" src="{{ asset('images/vacancesdirectes/dyn/menu/1-destinations/france.jpg') }}" alt="" />
                    <div class="stamp grey"><span>{{ "pays.france" | trans }}</span></div>
                </div>
                {% for destinationId, destination in regionsByDestinations %}
                    <div class="region">
                        <div class="title">Destination {{ destination.label | trans }}</div>
                        <ul>
                            {% for region in destination.regions %}
                                <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">{{ region }}</a></li>
                            {% endfor %}
                            <a class="bt link" href="destination/{{ destinationId }}">{{ "menu.plus_de_regions" | trans }}</a>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="left ratio-33">
            <div class="radiusBox2 greyC bgImg">
                <div class="view">
                    <img class="bg" src="{{ asset('images/vacancesdirectes/dyn/menu/1-destinations/spain.jpg') }}" alt="" />
                    <div class="stamp grey"><span>{{ "pays.espagne" | trans }}</span></div>
                </div>
                <div class="region">
                    <ul>
                        {% for region in regionEspagne %}
                            <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">{{ region }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="radiusBox2 greyC">
                <div class="view">
                    <img class="bg" src="{{ asset('images/vacancesdirectes/dyn/menu/1-destinations/italia.jpg') }}" alt="" />
                    <div class="stamp grey"><span>{{ "pays.italie" | trans }}</span></div>
                </div>
                <div class="region">
                    <ul>
                        {% for region in regionItalie %}
                            <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">{{ region }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="radiusBox2 greyC">
                <div class="view">
                    <img class="bg" src="{{ asset('images/vacancesdirectes/dyn/menu/1-destinations/portugal.jpg') }}" alt="" />
                    <div class="stamp grey"><span>{{ "pays.portugal" | trans }}</span></div>
                </div>
                <div class="region">
                    <ul>
                        {% for region in regionPortugal %}
                            <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">{{ region }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div><p>{{ "menu_destination.accroche" | trans }}</p></div>
</div>
