<div>
    <div><a href="pays/1">{{ "pays.france" | trans }}</a></div>
    <ul>
    {% for destinationId, destination in regionsByDestinations %}
        <li>
            <div><a href="destination/{{ destinationId }}">{{ destination.label | trans }}</a></div>
            <ul>
            {% for region in destination.regions %}
                <li><a href="region/{{ region.Id }}">{{ region.Name }}</a></li>
            {% endfor %}
            </ul>
            <div><a href="destination/{{ destinationId }}">{{ "menu.plus_de_regions" | trans }}</a></div>
        </li>
    {% endfor %}
    </ul>
</div>


{% for pays, regions in regionsByForeignCountries %}
<div class="{{ regions[0].PaysId }}">
    <div><a href="pays/{{ regions[0].PaysId }}">{{ pays | trans }}</a></div>
    <ul>
    {% for region in regions %}
        <li><a href="region/{{ region.Id }}">{{ region.Name }}</a></li>
    {% endfor %}
    </ul>
</div>
{% endfor %}

{{ form_widget (searchForm) }}

<ul>
    <li>
        <span>{{ "menu.libelle" | trans }}</span>
        <ul>
            {% for letter, etabs in etabByAlphabeticalOrder %}
            <li>
                <strong>{{ letter }}</strong>
                <ul>
                    {% for etab in etabs %}
                    <li><a class="camping" href="{{ path('camping', {'idResalys': etab.Code}) }}">{{ etab.Name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
    <li>
        <span>{{ "menu.localisation" | trans }}</span>
        <ul>
            {% for regionId, region in etabByVilleOrder %}
            <li>
                <a class="region" href="region/{{ regionId }}">{{ region.Name }}</a>
                <ul>
                    {% for villeId, ville in region.Villes %}
                    <li>
                        <a class="ville" href="ville/{{ villeId }}">{{ ville.Name }}</a>
                        <ul>
                            {% for etab in ville.Etabs %}
                            <li><a href="{{ path('camping', {'idResalys': etab.Code}) }}">{{ etab.Name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </li>
</ul>