<div id="destinations" class="subnav">
    <div class="clear">
        <div id="destinationsCountry" class="left destination">
            <div class="radiusBox2 greyC bgImg national">
                <div class="view">
                    <img class="bg" width="618" height="90" src="{{ asset('images/vacancesdirectes/common/menu/destinations/france_visuel.jpg') }}" alt="" />
                    <div class="stamp grey"><a href="/{{ 'seo.url.destinations' | trans }}/{{ 'seo.url.prefix' | trans }}-{{ 'pays.france' | trans | lower}}/">{{ 'menu_destination.camping' | trans  }}&nbsp;{{ 'pays.france' | trans }}</a></div>
                </div>
                {% set nbDestinationFirstCol = (regionsByDestinations|length // 2) + (regionsByDestinations|length % 2) %}
                {% for destination in regionsByDestinations %}
                    {% if loop.first or loop.index == nbDestinationFirstCol + 1 %}
                    <div class="regions">
                    {% endif %}
                    <div class="region">
                        <div class="title"><a href="{{ path('destination_destination', {destination: destination.slug})}}">{{ destination|trans }}</a></div>
                        <ul>
                            {% for region in destination.regionsActive %}
                            <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">- {{ 'menu_destination.camping' | trans }}&nbsp;{{ region }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% if loop.last or loop.index == nbDestinationFirstCol %}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="radiusBox2 greyC bgImg international">
                <div class="view">
                    <img class="bg" width="298" height="90" src="{{ asset('images/vacancesdirectes/common/menu/destinations/espagne_visuel.jpg') }}" alt="" />
                    <div class="stamp grey"><a href="/{{ 'seo.url.destinations' | trans }}/{{ 'seo.url.prefix' | trans }}-{{ 'pays.espagne' | trans | lower}}/"><span>{{ 'menu_destination.camping' | trans  }}&nbsp;{{ 'pays.espagne' | trans }}</span></a></div>
                </div>
                <div class="region">
                    <ul>
                        {% for region in regionEspagne %}
                        <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">- {{ 'menu_destination.camping' | trans }}&nbsp;{{ region }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="radiusBox2 greyC bgImg international">
                <div class="view">
                    <img class="bg" width="298" height="90" src="{{ asset('images/vacancesdirectes/common/menu/destinations/italie_visuel.jpg') }}" alt="" />
                    <div class="stamp grey"><a href="/{{ 'seo.url.destinations' | trans }}/{{ 'seo.url.prefix' | trans }}-{{ 'pays.italie' | trans | lower}}/"><span>{{ 'menu_destination.camping' | trans  }}&nbsp;{{ 'pays.italie' | trans }}</span></a></div>
                </div>
                <div class="region">
                    <ul>
                        {% for region in regionItalie %}
                        <li><a href="{{ path('destination_region', {pays: region.pays.slug, region: region.slug})}}">-{{ 'menu_destination.camping' | trans }}&nbsp;{{ region }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="destinationsAll" class="left destination">
            <div class="radiusBox greyC">
                <div class="title">{{ "menu.tous_camping"|trans}}</div>
                <ol id="campingsList">
                    {% for letter, etabs in etabByAlphabeticalOrder %}
                        <li class="letter-first">{{ letter }}</li>
                        {% for etab in etabs %}
                            <li><a class="letter-{{ letter }}" href="{{ path('destination_camping', {pays: etab.pays.slug, region: etab.region.slug, ville: etab.ville.slug, camping: etab.slug}) }}">{{ etab.name }}</a></li>
                        {% endfor %}
                        <li class="letter-last"></li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>
    <div><p>{{ "menu_destination.accroche" | trans }}</p></div>
</div>
