<div id="locations" class="subnav">
    <div class="title">{{"decouvrer_locations"|trans}}</div>
    <div class="subtitle">{{"decouvrer_locations_type"|trans}}</div>
    <div class="clear">
        {% for categoryTypeHebergement in categoryTypeHebergements %}
        <div class="radiusBox2 greyC left bgImg linkParent">
            <div class="view" style="background-image:url('{{ asset(categoryTypeHebergement.imageMenu) }}')">
                <div class="stamp grey"><span>{{ categoryTypeHebergement }}</span></div>
            </div>
            <a class="stain fushia cover linkBlock" href="{{ path('location_category_type_hebergement', {'categoryTypeHebergement': categoryTypeHebergement.slug}) }}"><span>à partir de<br /><span class="price">{{categoryTypeHebergement.minimumPrice}}<span class="fine">&nbsp;</span>€</span></span></a>
        </div>
        {% endfor %}
    </div>
    {% if capacites|length > 0 %}
    <div class="subtitle">{{"decouvrer_locations_capacite"|trans}}</div>
    <div class="clear">
        {% for capacite in capacites %}
        <div class="radiusBox greyC left bgImg capacity linkParent">
            <a class="linkBlock" href="{{ path('location_category_type_hebergement', {'categoryTypeHebergement': capacite.slug}) }}">
                <img class="view" src="{{ asset(capacite.imageMenu) }}" alt="" />
                <span>{{ capacite.name }}</span>
            </a>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
