<nav id="nav"><ul class="topnav fixed-width clear">
    <li class="tab{% if currentRoute == "homepage" %} current{% endif %}">
        <a id="home" href="{{ path( 'homepage' ) }}"{% if currentRoute == "destination_camping" %} onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_MenuPrincipal', 'Lien_-_Home', 'Clic_-_Picto-Accueil']);"{% endif %}>
            <img  src="{{ asset('images/vacancesdirectes/common/pict/home.png') }}" alt="{{ menu.title|trans }}">
        </a>
    </li>
    {% for key,item in menu.items %}
        <li class="tab{% if key in currentRoute %} current{% endif %}">
            <a>{{ item.title|trans }}{% if item.count is not null %} <small>({{ item.count }})</small>{% endif %}</a>
            {{ render ( path ( item.route ) ) }}
        </li>
    {% endfor %}
    <li id="lang">
        {% if app.context.get('language') == 'fr' %}
        <a href="http://www.vacances-directes.de" onclick="javascript:{% if currentRoute == "destination_camping" %}_gaq.push(['_trackEvent', 'Nav-VD_-_ MenuPrincipal ', 'Lien_-_Version-Langue', 'Clic_-_Bouton-DE']);{% endif %}test_analytics(this.href); return false;"><img src="{{ asset('images/vacancesdirectes/dyn/ui/lang-flag-de.jpg') }}" width="26" height="17" alt="DE"/></a>
        {% elseif app.context.get('language') == 'de' %}
        <a href="http://www.vacances-directes.com" onclick="javascript:test_analytics(this.href); return false;"><img src="{{ asset('images/vacancesdirectes/dyn/ui/lang-flag-fr.jpg') }}" width="26" height="17" alt="FR"/></a>
        {% endif %}
        <a href="http://www.vacances-directes.nl" onclick="javascript:{% if currentRoute == "destination_camping" %}_gaq.push(['_trackEvent', 'Nav-VD_-_ MenuPrincipal ', 'Lien_-_Version-Langue', 'Clic_-_Bouton-NL']);{% endif %}test_analytics(this.href); return false;"><img src="{{ asset('images/vacancesdirectes/dyn/ui/lang-flag-nl.jpg') }}" width="26" height="17" alt="NL"/></a>
    </li>
    </ul>
</nav>
