{% use 'form_div_layout.html.twig' %}

{% block textrich_widget %}
<link rel="stylesheet" href="{{ asset('redactor/css/redactor.css') }}">
<script src="{{ asset('redactor/redactor.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#{{ id }}').redactor();
    });
</script>
{% spaceless %}
<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock %}

{% block translation_collection_widget %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        {% for child in form %}
            {% if not child.rendered %}
            <li class="{% if loop.first %}active{% endif %}"><a href="#{{ child.vars.value.locale }}" data-toggle="tab"><img src="{{ app.request.basepath }}/famfamfam/{{ child.vars.value.locale }}.gif" /></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for child in form %}
            {% if not child.rendered %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ child.vars.value.locale }}">
                {{ form_widget(child) }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block file_widget %}
{% spaceless %}
{{ block('form_widget_simple') }}<br/>
<img src="{{ asset(value) }}"/>
{% endspaceless %}
{% endblock %}