{% use 'form_div_layout.html.twig' %}

{% block textrich_widget %}
<link rel="stylesheet" href="{{ asset('vendor/redactor/css/redactor.css') }}">
<script src="{{ asset('vendor/redactor/redactor.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#{{ id }}').redactor();
    });
</script>
{% spaceless %}
<textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock %}

{% block translation_collection_widget %}
<div class="tabbable">
    <ul class="nav nav-tabs">
        {% for child in form %}
            {% if not child.rendered %}
            <li class="{% if loop.first %}active{% endif %}"><a href="#{{ child.vars.value.locale }}" data-toggle="tab"><img src="{{ asset('images/cungfoo/flags/' ~ child.vars.value.locale ~ '.gif') }}" /></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for child in form %}
            {% if not child.rendered %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ child.vars.value.locale }}">
                {{ form_widget(child) }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block cungfoo_file_widget %}
{% spaceless %}
{{ block('form_widget_simple') }}
{% if value %}
<br/><a href="{{ asset(value) }}">{{ value }}</a>
{% endif %}
{% endspaceless %}
{% endblock %}

{% block form_widget %}
    {% if 'groups' in form.get('attr')|keys %}
        <ul id="crudGroup" class="nav nav-tabs">
        {% for group in form.get('attr').groups %}
            <li class=""><a href="#{{ group.title | replace({'.': ''})}}">{{ group.title | trans }}</a></li>
        {% endfor %}
        </ul>
        <div id="crudGroupContent" class="tab-content">

        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {% for group in form.get('attr').groups %}
            <div class="tab-pane" id="{{ group.title | replace({'.': ''})}}">
            {% if group.content is defined %}
                {% if group.description is defined %}
                <blockquote>{{ group.description }}</blockquote>
                {% endif %}
                {% for row in group.content %}
                    {{ form_row(form[row]) }}
                {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
        </div>

        <script>
            $(function () {
                $('#crudGroup a').click(function (e) {
                    e.preventDefault();
                    $(this).tab('show');
                });

                $('#crudGroup a:first').tab('show');
            });
        </script>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
