{% use 'form_div_layout.html.twig' %}

{% block textrich_widget %}
{% spaceless %}
<textarea class="ckeditor" {{ block('widget_attributes') }}>{{ value }}</textarea>
{% endspaceless %}
{% endblock %}

{% block translation_collection_widget %}
<div id="transGroup" class="tabbable">
    <ul class="nav nav-tabs">
        {% for child in form %}
            {% if not child.rendered %}
            <li class="{% if loop.first %}active{% endif %}"><a href="#{{ child.vars.value.locale }}" data-toggle="tab"><img src="{{ asset('images/cungfoo/flags/' ~ child.vars.value.locale ~ '.gif') }}" /></a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% for child in form %}
            {% if not child.rendered %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ child.vars.value.locale }}">
                {{ form_widget(child) }}
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block cungfoo_file_widget %}
{% spaceless %}
{% if value %}
<a href="{{ asset(value) }}"><img class="thumbnail" src="{{ asset(value) }}" style="max-width: 128px"/></a>
{% endif %}
{{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock %}

{% block date_widget %}
{% spaceless %}
<div class="input-append widget-datepicker date" data-date="{% if value is not empty %}{{ value }}{% endif %}" data-date-format="yyyy-mm-dd">
    <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}>
    <span class="add-on"><i class="icon-th"></i></span>
</div>
{% endspaceless %}
{% endblock %}

{% block form_widget %}
    {% if 'groups' in form.get('attr')|keys %}
        <ul id="crudGroup" class="nav nav-tabs">
        {% for group in form.get('attr').groups %}
            <li class=""><a href="#{{ group.title | replace({'.': ''})}}">{{ group.title | trans }}</a></li>
        {% endfor %}
        </ul>

        <div id="crudGroupContent" class="tab-content">
        {{ form_errors(form) }}
        {% for group in form.get('attr').groups %}

            {% if group.columns is defined %}
                {% set columns = group.columns %}
            {% else %}
                {% set columns = 1 %}
            {% endif %}

            <div class="tab-pane row" id="{{ group.title | replace({'.': ''})}}">
            {% if group.content is defined %}
                {% if group.description is defined %}
                <blockquote>{{ group.description }}</blockquote>
                {% endif %}
                {% for row in group.content %}
                    <div class="span{{ 12 / columns }}">
                        {{ form_row(form[row]) }}
                    </div>
                {% endfor %}
            {% endif %}
            </div>
        {% endfor %}
        </div>

        <div style="display: none">
        {{ form_rest(form) }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block form_row %}
{% spaceless %}
    <div class="row">
        <div class="span12">{{ form_errors(form) }}</div>
        <div class="span3">{{ form_label(form) }}</div>
        <div class="span9">{{ form_widget(form) }}</div>
    </div>
{% endspaceless %}
{% endblock form_row %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="alert alert-error">
        {% for error in errors %}
            <span>{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</span><br/>
        {% endfor %}
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}
