<div id="searchBloc" class="radiusBox fushia">
    <!--ul id="switchForm" class="clear">
        <li><a id="tabSearchBlocDate" class="active" href="#searchBlocDate"><span>Date</span></a></li>
        <li><a id="tabSearchBlocTrajet" href="#searchBlocTrajet"><span>Trajet</span></a></li>
        <li><a id="tabSearchBlocBudget" href="#searchBlocBudget"><span>Budget</span></a></li>
    </ul-->
    <div class="title">
        <h2>{{ "search.title" | trans }}</h2>
    </div>
    <form id="searchBlocDate" method="post" name="{{ searchForm.name }}" action="{{ app.request.getRequestURI() }}" data-didacticiel-title="{{ 'didacticiel.title' | trans | e('html') }}">
        <fieldset>
            {{ form_errors(searchForm) }}
            <ol>
                <li>
                    <div id="datepicker" class="clear">
                        {{ form_label(searchForm.dateDebut) }}
                        {{ form_widget(searchForm.dateDebut, {attr: {readonly: 'readonly'}}) }}
                        <div id="datepickerField" class="clear">
                            <label for="datepickerInput">{{ "date_search.date_debut" | trans }}</label>
                            <input type="text" name="datepicker" id="datepickerInput" readonly="readonly" placeholder="{{ "date_search.date_debut" | trans }}" /><span class="date"></span>
                        </div>
                        <div id="datepickerCalendar"></div>
                    </div>
                </li>
                <li>
                    <div id="SearchDate_selectContainer0" class="selectContainer clear">
                        {{ form_widget(searchForm.isBasseSaison) }}
                        {{ form_label(searchForm.nbJoursHauteSaison) }}
                        {{ form_widget(searchForm.nbJoursHauteSaison) }}
                        {{ form_label(searchForm.nbJoursBasseSaison) }}
                        {{ form_widget(searchForm.nbJoursBasseSaison) }}
                    </div>
                </li>
                <li>
                    <div id="SearchDate_selectContainer1" class="selectContainer clear">
                        {{ form_label(searchForm.destination) }}
                        {{ form_widget(searchForm.destination) }}
                    </div>
                </li>
                <li>
                    <div id="SearchDate_selectContainer2" class="selectContainer clear">
                        {{ form_label(searchForm.ville) }}
                        {{ form_widget(searchForm.ville) }}
                        {{ form_label(searchForm.camping) }}
                        {{ form_widget(searchForm.camping) }}
                        <div id="SearchDate_switch">
                            <span class="left">{{"date_search.ou"|trans}}</span>
                            <div class="switchSelect tooltip" title="">
                                <span class="bubble">{{"date_search.camping"|trans}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="spinner clear">
                        {{ form_label(searchForm.nbAdultes, '', {label_attr: {class: 'left'}}) }}
                        <div class="spin clear">
                            <button  class="spin-bt-down left">-</button>
                            {{ form_widget(searchForm.nbAdultes, {attr: {class: 'spin-tb left'}}) }}
                            <button class="spin-bt-up left">+</button>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="spinner clear">
                        {{ form_label(searchForm.nbEnfants, '', {label_attr: {class: 'left'}}) }}
                        <div class="spin clear">
                            <button  class="spin-bt-down left">-</button>
                            {{ form_widget(searchForm.nbEnfants, {attr: {class: 'spin-tb left'}}) }}
                            <button class="spin-bt-up left">+</button>
                        </div>
                    </div>
                </li>{#
                <li>
                    <div class="toggleContainer">

                        <div class="mainField">
                            <input type="checkbox" name="room_features[]" value="PMR-OUI" id="search_form_room_features">
                            <label for="search_form_room_features">Logements adaptés pour Personne à Mobilité Réduite</label>
                        </div>
                        <div class="mainField last">
                            <input type="checkbox" name="room_features[]" value="LBB-OUI" id="search_form_room_features_2">
                            <label for="search_form_room_features_2">Lit bébé</label>
                        </div>
                        <div class="floatField">
                            <input type="checkbox" name="options[]" value="PISC" id="check1">
                            <label for="check1">Piscine</label>
                        </div>
                        <div class="floatField">
                            <input type="checkbox" name="options[]" value="ESPF" id="check2">
                            <label for="check2">Espace Forme</label>
                        </div>
                        <div class="floatField">
                            <input type="checkbox" name="options[]" value="THAL" id="check3">
                            <label for="check3">Thalasso</label>
                        </div>

                    </div>
                    <a class="toggleButton" href="#">+ de critères</a>
                </li>#}
                <li>
                    <button type="submit" class="bt sombre big" name="searchForm">{{ "date_search.submit"|trans }}</button>
                    <div class="loading"><img width="220" height="20" src="{{ asset('images/vacancesdirectes/common/ui/loadingLiveSubmit.gif') }}"></div>
                </li>
            </ol>
            {{ form_rest(searchForm) }}
        </fieldset>
    </form>
    <script type="text/javascript">
        function getDidacticielContentFromSearch(form) {
            var $form = $(form);
            var dateDebut = $('input[type="hidden"]#SearchDate_dateDebut', $form).val();
            var basseSaison = $('input[type="hidden"]#SearchDate_isBasseSaison', $form).val();
            if (basseSaison) {
                var range = $('select#SearchDate_nbJoursBasseSaison', $form).val();
            } else {
                var range = $('select#SearchDate_nbJoursHauteSaison', $form).val();
            }
            var nbAdultes = $('input[type="text"]#SearchDate_nbAdultes', $form).val();
            var nbEnfants = $('input[type="text"]#SearchDate_nbEnfants', $form).val();
            var destinationValue = $('select#SearchDate_destination', $form).val();
            var destinationText = $('select#SearchDate_destination option:selected', $form).text();
            var isCamping = $('input[type="hidden"]#SearchDate_isCamping', $form).val() == '1';
            var campingId = $('select#SearchDate_camping', $form).val();
            var campingText = $('select#SearchDate_camping option:selected', $form).text();
            var villeId = $('select#SearchDate_ville', $form).val();
            var villeText = $('select#SearchDate_ville option:selected', $form).text();

            var content = [];
            if (dateDebut) {
                content.push('{{ 'didacticiel.depart_le' | trans | e('js') }} ' + dateDebut);
            }
            if (range) {
                content.push('{{ 'didacticiel.duree' | trans | e('js') }} : ' + range + ' {{ 'didacticiel.jours' | trans | e('js') }}');
            }
            if (nbAdultes && nbAdultes > 0) {
                var occupantsString = nbAdultes + ' {{ 'didacticiel.adultes' | trans | e('js') }}';
                if (nbEnfants && nbEnfants > 0) {
                    occupantsString += ' {{ 'didacticiel.et' | trans | e('js') }} ' + nbEnfants + ' {{ 'didacticiel.enfants' | trans | e('js') }}';
                }
                content.push(occupantsString);
            }
            
            if (destinationValue) {
                content.push('{{ 'didacticiel.destination' | trans | e('js') }} : ' + destinationText);
            }

            if (isCamping && campingId) {
                content.push('{{ 'didacticiel.camping' | trans | e('js') }} : ' + campingText);
            } else if (!isCamping && villeId) {
                content.push('{{ 'didacticiel.ville' | trans | e('js') }} : ' + villeText);
            }

            return content.join('<br />');
        }
    </script>
    {# TODO
    <form id="searchBlocTrajet" action="#_">
        <fieldset>

        </fieldset>
    </form>
    <form id="searchBlocBudget" action="#_">
        <fieldset>

        </fieldset>
    </form>
    #}

</div>

{% if list.element|length > 0 or "bonsplans" == app.request.get('_route') %}
{{ esi(path('widget', {'name': 'search_filter'})) }}
{% endif %}

<script type="text/javascript">
    var fStartDate = '2013/03/01',
        fEndDate = '2013/12/31',
        fHighSeasonStartDate = '2013/06/29',    // must be a saturday
        fHighSeasonEndDate = '2013/08/31',      // must be a saturday
        linear = "reservation",
        datepickerLanguage = {
            days: {{ 'datepicker.days'|trans|raw }},
            daysShort:  {{ 'datepicker.daysShort'|trans|raw }},
            daysMin:  {{ 'datepicker.daysMin'|trans|raw }},
            months:  {{ 'datepicker.months'|trans|raw }},
            monthsShort:  {{ 'datepicker.monthsShort'|trans|raw }},
            weekMin: {{ 'datepicker.weekMin'|trans|raw }}
        };

    var selectVille = {
            'byPaysPath': "{{ path('search_engine_get_villes_by_destination') }}",
            'emptyValue': "{{ 'date_search.ville.empty_value'|trans }}"
        },
        selectCamping = {
            'byPaysPath': "{{ path('search_engine_get_campings_by_destination') }}",
            'emptyValue': "{{ 'date_search.camping.empty_value'|trans }}"
        };

</script>
