{% use 'form_div_layout.html.twig' %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <div class="errors">
        <ul>
            {% for error in errors %}
                <li>{{ error.messageTemplate|trans }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block AutocompleteDestionation_widget %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#AutocompleteDestionation").cungfoo_domAutocomplete({datas: '.region, .ville, .camping'});
        });
    </script>
    {{ block('form_widget_simple') }}
{% endblock %}

{% block _SearchDate_destination_widget %}
    {% set listPays = list_pays() %}
    <select id="SearchDate_destination" name="SearchDate[destination]">
        {% if empty_value is not none %}
            <option value="">{{ empty_value|trans({}, translation_domain) }}</option>
        {% endif %}
        {% for choice in choices %}
        <option value="{{ choice.value }}"{% if choice.value in listPays %} class="optGroup-like"{% endif %}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label | trans }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block captcha_widget %}
{% spaceless %}
<img src="{{path('extra_captcha')}}" width="150" height="40" />
{{ block('form_widget_simple') }}
{% endspaceless %}
{% endblock %}
