{% use 'form_div_layout.html.twig' %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul>
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block AutocompleteDestionation_widget %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#AutocompleteDestionation").cungfoo_domAutocomplete({datas: '.region, .ville, .camping'});
        });
    </script>
    {{ block('form_widget_simple') }}
{% endblock %}

{% block SearchDate_widget %}
    {{ block('form_widget') }}
    <script type="text/javascript" src="{{ asset('/vacancesdirectes/js/search/date.js') }}"></script>
    <script type="text/javascript">
        var urlVilleFormat   = "{{ url('search_engine_date_villes_by_destination', {'id': 'id_destination'}) }}";
        var urlCampingFormat = "{{ url('search_engine_date_campings_by_destination', {'id': 'id_destination'}) }}";
        var searchDateObject = new searchDate($("#SearchDate_destination :selected").val(), urlVilleFormat, urlCampingFormat);
    </script>
{% endblock %}

{% block _SearchDate_dateDebut_widget %}
    <div id="SearchDate_date_interval" data-debut-saison="{{ app.config.get('vd_config')['date']['debut_saison'] | date('Y-m-d') }}" data-fin-saison="{{ app.config.get('vd_config')['date']['fin_saison'] | date('Y-m-d') }}"></div>
    {{ block('date_widget') }}
{% endblock %}