<div id="searchBloc" class="radiusBox fushia">
    <ul id="switchForm" class="clear">
        <li><a id="tabSearchBlocDate" class="active" href="#searchBlocDate"><span>Date</span></a></li>
        <li><a id="tabSearchBlocTrajet" href="#searchBlocTrajet"><span>Trajet</span></a></li>
        <li><a id="tabSearchBlocBudget" href="#searchBlocBudget"><span>Budget</span></a></li>
    </ul>
    <form id="searchBlocDate" action="#_">
        <fieldset>
            <ol>
                <li>
                    <div id="datepicker" class="clear">
                        {{ form_widget(searchDateForm.dateDebut, {attr: {readonly: 'readonly'}}) }}
                        {{ form_widget(searchDateForm.dateFin, {attr: {readonly: 'readonly'}}) }}
                        <div id="datepickerField" class="clear">
                            <input type="text" name="datepicker" id="datepickerInput" readonly="readonly" placeholder="Dates d'arrivée et de départ" /><span class="date"></span>
                        </div>
                        <div id="datepickerCalendar">

                        </div>
                    </div>
                </li>
                <li id="SearchDate_selectContainer1" class="selectContainer clear">
                    <div class="selectContainer clear">
                        {{ form_widget(searchDateForm.destination) }}
                    </div>
                </li>
                <li>
                    <div id="SearchDate_selectContainer2" class="selectContainer clear">
                        {{ form_widget(searchDateForm.ville) }}
                        {{ form_widget(searchDateForm.camping) }}
                        <span class="left">ou</span>
                        <div class="switchSelect" title=""></div>
                    </div>
                </li>
                <li>
                    {{ form_label(searchDateForm.nbAdultes, '', {label_attr: {class: 'left'}}) }}
                    <div class="spinner clear">
                        <div class="spin-bt-down left">-</div>
                        {{ form_widget(searchDateForm.nbAdultes, {attr: {class: 'left'}}) }}
                        <div class="spin-bt-up left">+</div>
                    </div>
                </li>
                <li>
                    {{ form_label(searchDateForm.nbEnfants, '', {label_attr: {class: 'left'}}) }}
                    <div class="spinner clear">
                        <div class="spin-bt-down left">-</div>
                        {{ form_widget(searchDateForm.nbEnfants, {attr: {class: 'left'}}) }}
                        <div class="spin-bt-up left">+</div>
                    </div>
                </li>
                <li>
                    <a href="#">+ de critères</a>
                </li>
                <li>
                    <button type="submit" class="bt sombre big">Trouver</button>
                </li>
            </ol>
        </fieldset>
    </form>
    <form id="searchBlocTrajet" action="#_">
        <fieldset>

        </fieldset>
    </form>
    <form id="searchBlocBudget" action="#_">
        <fieldset>

        </fieldset>
    </form>
</div>

<script type="text/javascript">
    var fStartDate = '2013/04/06',                  // must be a saturday
        fEndDate = '2013/10/26',                // must be a saturday
        linear = "reservation",
        numMinWeeks = 1;
</script>
