{% if blocPrix.adult_price_without_discounts != 0 and not blocPrix.proposal_key %}
        <div id="dispoBloc" class="proposal promo arrowLeft radiusBox fushia">
            <p class="proposalDates">{{ "listing.du" | trans }} {{ blocPrix.start_date }} {{ "listing.au" | trans }} {{ blocPrix.end_date }}</p>
            {% if blocPrix.type_hebergement %}
            <p class="proposalType">{{ blocPrix.category_hebergement }} - {{ blocPrix.type_hebergement }}
                {% endif %}
            <div class="clear">
                <div class="stain cover">
                    <span class="from">{{ "general.a_partir_de"|trans }}</span>
            <span class="price linkBlock">
                {{ blocPrix.adult_price_without_discounts|number_format }}<span class="fine">&nbsp;</span>€
            </span>
                </div>
                <a class="bt sombre big ib goto" href="#stayBooking" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'SideBar_-_Lien-Prix', 'Clic_-_Bouton-J-en-Profite']);">{{ "general.profite"|trans }}</a>
            </div>
        </div>
{% endif %}