{% if bonPlan %}
<div id="specialOffersBloc" class="clear radiusBox greyC">
    <div class="stamp orange">
        <h2>{{ 'widget.offres_speciales.title' | trans }}</h2>
    </div>
    {% for bonPlan in bonsPlans %}
    <div class="element {% if bonPlan.prix and bonPlan.prixBarre %}promo{% elseif not bonPlan.prix %}noprice{% endif %} clear">
        <div class="left">
            <a href="{{ path('bonsplans', {'slug': bonPlan.slug}) }}" class="linkBlock"><img class="view" src="{{ asset(bonPlan.imageMenu) }}" width="96" height="66" alt="" /></a>
        </div>
        <div class="details left linkParent">
            <span class="title">{{ bonPlan.name }}</span>
        </div>
        {% if bonPlan.prix %}
        <a href="{{ path('bonsplans', {'slug': bonPlan.slug}) }}" class="stain cover linkBlock"><span>{{ 'widget.offres_speciales.from' | trans }}<br /><span class="price linkBlock">{{ bonPlan.prix }}<span class="fine">&nbsp;</span>€</span>{{ 'widget.offres_speciales.instead' | trans}} <span class="line-through">{{ bonPlan.prixBarre }}<span class="fine">&nbsp;</span>€</span></span>{% if bonPlan.prixBarre %}<span class="discount">-{{ bonPlan.reduction | number_format }}%</span>{% endif %}</a>
        {% endif %}
    </div>
    {% endfor %}
    {#<a href="#_" class="bt link right">{{ 'widget.offres_speciales.more' | trans }}</a>#}
</div>
{% endif %}