<div id="arguHbgtBloc" class="clear radiusBox greyC">
    <div class="title">
        <h2>{{ "encart_hebergement.title" | trans }}<br/>{{ "encart_hebergement.subtitle" | trans }}</h2>
    </div>
    <div class="stamp orange">
        <h2>{{ "encart_hebergement.standardise.title" | trans }}</h2>
    </div>
    <p class="argu">{{ "encart_hebergement.standardise.texte" | trans }}</p>
    <div class="stamp orange">
        <h2>{{ "encart_hebergement.adapte.title" | trans }}</h2>
    </div>
    <p class="argu">{{ "encart_hebergement.adapte.texte" | trans }}</p>
    <div class="stamp orange">
        <h2>{{ "encart_hebergement.varie.title" | trans }}</h2>
    </div>
    <p class="argu">{{ "encart_hebergement.varie.texte" | trans }}</p>
    <div class="stamp orange">
        <h2>{{ "encart_hebergement.equipe.title" | trans }}</h2>
    </div>
    <p class="argu">{{ "encart_hebergement.equipe.texte" | trans }}</p>
</div>
