<div id="infoBloc" class="clear radiusBox greyF">
    <h3>{{ 'widget.reassurance.title' | trans }}</h3>
    <div class="content">
        <p>
            <a class="tel" href="tel:{{ 'widget.reassurance.telto' | trans }}">{{ 'widget.reassurance.tel' | trans }}</a>
        </p>
        <span class="price">{{ 'widget.reassurance.price' | trans }}</span>
        <p class="small">
            {{ 'widget.reassurance.ouverture_du' | trans }}<br />
            {{ 'widget.reassurance.ouverture_au' | trans }}
        </p>
    </div>
</div>