<div id="topLocations" class="locationForwards clear">
    <div class="stamp grey">
        <h2>{{ "home.topcamping" | trans }}</h2>
    </div>
    {% if topCampings | length %}
    {% for camping in topCampings %}
        {% if loop.index <= 5 %}
        {% set campingPath = url('destination_camping', {'pays': camping.etablissement.pays.slug, 'region': camping.etablissement.region.slug, 'ville': camping.etablissement.ville.slug, 'camping': camping.etablissement.slug }) %}
        <div class="element clear linkParent">
            <div class="left">
                <img class="boxborder" src="{{ asset(camping.etablissement.vignette | media('file')) }}" width="119" height="86" alt="" />
                {#<iframe src="//www.facebook.com/plugins/like.php?href={{ campingPath }}&amp;send=false&amp;layout=button_count&amp;width=119&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=20&amp;locale={{ app.context.get('language') }}_{{ app.context.get('language') | upper }}" scrolling="no" frameborder="0" style="border:none; width:119px; height:20px;" allowTransparency="true"></iframe>#}
            </div>
            <div class="details left">
                <span class="title">{{ camping.etablissement.name }} {{ camping.etablissement.categorie.stars }}</span>
                <span class="region">{{ camping.etablissement.ville.region }}</span>
            </div>
			<div class="prix left">
				<a{% if camping.etablissement.minimumPrice == 0 %} style="display: none"{% endif %} href="{{ campingPath }}" 	  class="linkBlock">{{ "general.prix_des" | trans }}
					  <span class="price linkBlock">{{ camping.etablissement.minimumPrice | number_format(0,'','') }}<span class="fine">&nbsp;</span>€*</span>
				</a>	
			</div>
			<a href="{{ campingPath }}" id="btnReserver" class="linkBlock">{{ "general.reserver" | trans }}</a>
        </div>
        {% endif %}
    {% endfor %}
    {% endif %}
	<div id="botTopCamp">
		<div class="left semaine">*&nbsp{{ "general.tarif_a_la_semaine" | trans }}</div>
		<div class="right"><a href="{{ path('top_campings') }}" class="bt link">{{ "home.topcamping.link" | trans  ({'%number%': topCampings|length }) }}</a></div>
	</div>
</div>