{% extends 'Cungfoo/base.twig' %}
{% block content %}
    {{ context | raw }}
    <h2>{{ (name ~ ".crud.list") | trans }}</h2>
    <table class="table">
        <thead>
        <tr>
            {% for column_name in column_names %}
            <th>{{ column_name | trans }}</th>
            {% endfor %}
            <th class="actions-item" colspan="3">{{ 'list.actions' | trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for line in lines %}
        <tr>
            {% for column in line %}
            <td>{{ column | raw }}</td>
            {% endfor %}
            <td class="actions-item"><a href="{{ path('%s_crud_read' | format (name), {'id': line.id}) }}"><i class="icon-eye-open"></i></a></td>
            <td class="actions-item"><a href="{{ path('%s_crud_update' | format (name), {'id': line.id}) }}"><i class="icon-edit"></i></a></td>
            <td class="actions-item"><a href="{{ path('%s_crud_delete' | format (name), {'id': line.id}) }}"><i class="icon-remove-circle"></i></a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <hr/>

    {% include 'Cungfoo/Crud/paginator.twig'%}

    <hr/>

    <div class="form-actions">
        <div class="btn-group">
            <a class="btn" href="{{ path('%s_crud_create' | format (name)) }}"><i class="icon-plus"></i> {{ "crud.button.add" | trans }}</a>
        </div>
    </div>
{% endblock %}