{% extends 'Cungfoo/base.twig' %}
{% block content %}
    {{ context | raw }}
    <h2>{{ name | title }}</h2>
    <table class="table">
        <thead>
            <tr>
                {% for column_name in column_names %}
                    <th>{{ column_name | title }}</th>
                {% endfor %}
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for line in lines %}
                <tr>
                    {% for column in line %}
                        <td>{{ column | raw }}</td>
                    {% endfor %}
                    <td><a href="{{ path('%s_crud_read' | format (name), {'id': line.id}) }}"><i class="icon-eye-open"></i></a></td>
                    <td><a href="{{ path('%s_crud_update' | format (name), {'id': line.id}) }}"><i class="icon-edit"></i></a></td>
                    <td><a href="{{ path('%s_crud_delete' | format (name), {'id': line.id}) }}"><i class="icon-remove-circle"></i></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr/>

    <div class="form-actions">
        <div class="btn-group">
            <a class="btn" href="{{ path('%s_crud_create' | format (name)) }}"><i class="icon-plus"></i> Ajouter</a>
        </div>
    </div>
{% endblock %}