<div class="pagination pagination-centered">
    <ul>
        {% if paginator.page != paginator.previousPage %}
        <li><a href="{{ path ('%s_crud_list' | format (name), {'page': paginator.previousPage}) }}">{{ "paginator.previous" | trans }}</a></li>
        {% endif %}
        {% for link in paginator.links %}
        <li {% if paginator.page == link %}class="active"{% endif %}><a href="{{ path ('%s_crud_list' | format (name), {'page': link}) }}">{{ link }}</a></li>
        {% endfor %}
        {% if paginator.page != paginator.nextPage %}
        <li><a href="{{ path ('%s_crud_list' | format (name), {'page': paginator.nextPage}) }}">{{ "paginator.next" | trans }}</a></li>
        {% endif %}
    </ul>
</div>
