{% extends 'Cungfoo/base.twig' %}

{% block content %}
    {% if form.id.get('value') %}
        <h2>{{ (name ~ ".crud.update") | trans  ({'%name%': form.id.get('value') }) }}</h2>
        <form action="{{ path('%s_crud_update' | format (name), {'id': form.id.get('value')}) }}" method="post">
    {% else %}
        <h2>{{ (name ~ ".crud.create") | trans}}</h2>
        <form action="{{ path('%s_crud_create' | format (name)) }}" method="post">
    {% endif %}
        {{ form_widget(form) }}
        <div class="form-actions">
            <div class="btn-toolbar">
                <button type="submit" class="btn btn-primary" style="margin-bottom: -5px">{{ "crud.button.save" | trans }}</button>
                <div class="btn-group">
                    <a class="btn" href="{{ path('%s_crud_list' | format (name)) }}"><i class="icon-list"></i> {{ "crud.button.list" | trans }}</a>
                    <a class="btn" href="{{ path('%s_crud_read' | format (name), {'id': form.id.get('value') }) }}"><i class="icon-edit"></i> {{ "crud.button.read" | trans }}</a>
                    <a class="btn" href="{{ path('%s_crud_delete' | format (name), {'id': form.id.get('value') }) }}"><i class="icon-remove-circle"></i> {{ "crud.button.delete" | trans }}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}