{% extends "base.twig" %}

{% block title %}
{% spaceless %}
    {{ categorie.seoTitle | trans ({'%bonPlan%': categorie.name}) }}
{% endspaceless %}
{% endblock %}

{% block metaDescription %}
{% spaceless %}
    {{ categorie.seoDescription | trans ({'%bonPlan%': categorie.name})}}
{% endspaceless %}
{% endblock %}

{% block leftColumn %}

{% include "Breadcrumbs/_breadcrumbs.twig" %}

<div class="clear">
        {% if categorie.seoH1 %}
        <h1>{{ categorie.seoH1 }}</h1>
        {% else %}
        <h1>{{ categorie.name }}</h1>
        {% endif %}
    <span class="h2-like">{{ categorie.subtitle }}</span>
    <div class="richText">{{ categorie.description | raw }}</div> {# Description #}
</div>

<h2 class="h3-like">{{ "general.nos_offres" | trans }}</h2>

{% if list.element|length > 0 %}
{% include 'Listing/_filters.twig' %}
{% endif %}
{% include 'Listing/_gmap.twig' %}

<form id="filterTri" action="">
    <fieldset>
        <span class="dateCritPict">&nbsp;</span>
        {{ form_widget(topFilterForm.bon_plans) }}
        <span class="regCritPict">&nbsp;</span>
        {{ form_widget(topFilterForm.regions) }}
    </fieldset>
</form>

{% include 'Listing/_listing.twig' %}

{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
{% endblock %}
