{% extends "base.twig" %}

{% block title %}
    {{ etab.seoTitle | trans ({'%nom%': etab.name, '%ville%': etab.ville }) }}
    {%if hasBaignade %}{{ "seo.title.camping_suffix" | trans }}{% endif %}
    {{ etab.categorie }}
{% endblock %}
{% block metaDescription %}{{ etab.seoDescription | trans  ({'%nom%': etab.name, '%nbEtoiles%': etab.categorie, '%ville%': etab.ville })}}{% endblock %}

{% block bodyClass %} fiche{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ referer }}" />{% endblock %}

{% block leftColumn %}
{{ esi(path('esi_camping', {camping: etab.getSlug})) }}

<iframe id="frameResalys" src="{{ path('resalys_wrapper', {
    webuser: webuser,
    display: 'semainier',
    etab_id:etab.code,
    campaign_code: "now"|date("Y"),
    referer: referer,
    maxAge: "3600"
}) }}" width="960px" height="700px" marginheight="0" marginwidth="0" frameborder="0"></iframe>
{% endblock %}

{% block rightColumn %}
    {{ esi(path('widget', {'name': 'bloc_prix', 'etab': etab.code})) }}
<div id="greyBoxes">
    {{ esi(path('widget', {'name': 'offres_speciales', 'etab': etab.id})) }}
    {{ esi(path('widget', {'name': 'tracking', 'etab': etab.code})) }}
    {{ esi(path('widget', {'name': 'related', 'etab': etab.code})) }}
    {{ esi(path('widget', {'name': 'sejour_reussi'})) }}
    {{ esi(path('widget', {'name': 'reassurance'})) }}
</div>
{% endblock %}
