<div class="content">
    <img class="boxborder" src="{{ asset(etab.vignette | media('file')) }}" alt="{{ etab.name }}{{ etab.categorie.stars }}" width="124" height="93">
    <p class="title">{{ etab.name }}{{ etab.categorie.stars }}</p>
    <p class="country">{{ etab.country }}</p>
    <p class="reg">{{ etab.ville.region }}</p>
    <p class="city">{{ etab.ville }}</p>
    <a class="bt sombre" href="{{ path('destination_camping', {pays: etab.pays.slug, region: etab.region.slug, ville: etab.ville.slug, camping: etab.slug}) }}">{{ "general.decouvrir_le_camping" | trans }}</a>
</div>
