<div class="content">
    <img src="http://pimg.devlint.fr/124x93/ccc/333/*" alt="{{ etab.name }}{{ etab.categorie.stars }}">
    <p class="title">{{ etab.name }}{{ etab.categorie.stars }}</p>
    <p class="country">{{ etab.country }}</p>
    <p class="reg">{{ etab.ville.region }}</p>
    <p class="city">{{ etab.ville }}</p>
    <a class="bt sombre" href="#_">Découvrir le camping</a>
</div>