{% extends "base.twig" %}

{% block title %}
    {{ etab.seoTitle | trans ({'%nom%': etab.name, '%ville%': etab.ville }) }}
    {%if hasBaignade %}{{ "seo.title.camping_suffix" | trans }}{% endif %}
    {{ etab.categorie }}
{% endblock %}
{% block metaDescription %}{{ etab.seoDescription | trans  ({'%nom%': etab.name, '%nbEtoiles%': etab.categorie, '%ville%': etab.ville })}}{% endblock %}

{% block bodyClass %} fiche{% endblock %}

{% block canonical %}<link rel="canonical" href="{{ referer }}" />{% endblock %}

{% block leftColumn %}
<nav id="ficheShare">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" class="icon facebook" target="_blank" title="{{ "share.facebook" | trans }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Header', 'Lien_-_Partage-SMM', 'Clic_-_Bouton-FaceBook']);">{{ "share.facebook" | trans }}</a>
    <a href="http://twitter.com/home?status={{ etab.name }} {{ etab.seoH1 | trans({'%ville%': etab.ville.name}) }} {% if hasBaignade %}{{ "seo.title.camping_suffix" | trans }}{% endif %} {{ app.request.uri }}" target="_blank" class="icon twitter" title="{{ "share.twitter" | trans }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Header', 'Lien_-_Partage-SMM', 'Clic_-_Bouton-Twitter']);">{{ "share.twitter" | trans }}</a>
    {#<a href="#_" class="icon email" title="Partager par email">Partager par email</a>#}
    {#<a href="javascript:window.print()" class="icon print" title="Imprimer">Imprimer</a>#}
</nav>

<a class="bt gris left" href="{{ historyBack ~ "#camping-" ~ etab.slug }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Lien_-_Retour', 'Clic_-_Bouton-Retour']);">&lt; {{ "fiche.retour" | trans }}</a>

{% include "Breadcrumbs/_breadcrumbs.twig" %}

{{ esi(path('esi_camping', {camping: etab.getSlug})) }}

<div id="stayBooking">
    <a href="#searchBloc" class="bt fushia big ib goto">{{ "search.linkto" | trans }}</a>
<iframe id="frameResalys" src="{{ path('resalys_wrapper', semainierQuery) }}" width="960px" height="700px" marginheight="0" marginwidth="0" frameborder="0"></iframe>
    <a href="#searchBloc" class="bt fushia big ib goto">{{ "search.linkto" | trans }}</a>
</div>
{% endblock %}

{% block rightColumn %}
    {% include 'Form/_search_engine.twig' %}
    {{ esi(path('widget', {'name': 'bloc_prix', 'etab': etab.code})) }}
<div id="greyBoxes">
    {{ esi(path('widget', {'name': 'offres_speciales', 'etab': etab.id})) }}
    {{ esi(path('widget', {'name': 'tracking', 'etab': etab.code})) }}
    {{ esi(path('widget', {'name': 'related', 'etab': etab.code})) }}
    {{ esi(path('widget', {'name': 'sejour_reussi'})) }}
    {{ esi(path('widget', {'name': 'reassurance'})) }}
</div>
{% endblock %}
