<div itemscope itemtype="http://schema.org/Place">
    <h1 itemprop="name">
        {{ 'fiche.camping' | trans }}&nbsp;{{ nomEtab }}{{ etab.categorie.stars }}<br />
	</h1>
	<h2>{{ etab.ville.name | trans }} {%if hasBaignade %}{{ "seo.title.camping_suffix" | trans }}{% endif %}</h2>
    {% if etab.ouvertureCamping != '' %}
	<p class="campSubtitle"><strong>{{ "fiche.ouvert_du" | trans }} {{ etab.ouvertureCamping }}</strong></p>
	{% endif %}
    <p class="campSubtitle">
        {% if etab.getSituationGeographiques | length %}
            {% for situationGeographiques in etab.getSituationGeographiques %}
                {% if loop.index <= 2 %}
                    {{ situationGeographiques.name }}
                    {% if loop.index < 2 %} - {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </p>

    <p class="keywordsFiche">
        {% if etab.activites | length %}
            {% for activite in etab.activitesActive %}
                {% if loop.index <= 2 %}
                    {{ activite.name }} -
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if etab.serviceComplementaires | length %}
            {% for serviceComplementaire in etab.serviceComplementairesActive %}
                {% if loop.index <= 2 %}
                    {{ serviceComplementaire.name }}
                    {% if loop.index < 2 %} - {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </p>
   
    <div class="geoDataFiche" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="addressCountry">{{ etab.country }}</span> |
        <span itemprop="addressRegion">{{ etab.ville.region }}</span> |
        <span itemprop="postalCode">{{ etab.zip }}</span>
        <span itemprop="addressLocality">{{ etab.ville }}</span>
        <button data-triggerLink="#tabInfos" class="triggerClick bt trans cfushia" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Chapo_-_Lien-Situer', 'Clic_-_Lien-Situer-sur-la-Carte']);">{{ "fiche.situer_carte" | trans }}</button>
    </div>
    <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="{{ etab.geoCoordinateX }}">
        <meta itemprop="longitude" content="{{ etab.geoCoordinateY }}">
    </div>
</div>

<ul class="tabControls clear">
    <li><a href="#tabCamp" class="active" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Onglets', 'Clic_-_Onglet-1-Le-Camping']);">{{ "fiche.le_camping" | trans }}</a></li>
    <li><a href="#tabLocations" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Onglets', 'Clic_-_Onglet-2-Les-Locations']);">{{ "fiche.les_locations" | trans }}</a></li>
    <li><a href="#tabProximite" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Onglets', 'Clic_-_Onglet-3-A-Proximite']);">{{ "fiche.a_proximite" | trans }}</a></li>
    {# TODO <li><a href="#tabAvis">Avis</a></li> #}
    <li><a href="#tabInfos" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Onglets', 'Clic_-_Onglet-4-Info-Pratiques']);">{{ "fiche.infos_pratiques" | trans }}</a></li>
	{#  Onglets dédiés NL #}
	{% if app.context.get('language') == 'nl' %}
		{% if etab.pays.description | trans != "" %}
		<li class="dropdown"><a href="#tabPays">{{ "fiche.pays" | trans }}</a>
			{% if etab.region.description | trans != "" or etab.ville.description | trans != "" %}
			<ul class="sub-menu">
				{% if etab.region.description | trans != "" %}
				<li><a href="#tabRegion">{{ "fiche.region" | trans }}</a></li>
				{% endif %}
				{% if etab.ville.description | trans != "" %}
				<li><a href="#tabVille">{{ "fiche.ville" | trans }}</a></li>
				{% endif %}
			</ul>
			{% endif %}
		</li>
		{% endif %}
	{% endif %}{#  /Onglets dédiés NL #}
	<li><a class="bt fushia" href="#stayBooking" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Onglets', 'Clic_-_Onglet-5-Tarifs']);">{{ "semainier.title" | trans }}</a>
</ul>

<div class="tabCampDiapo">
    <div class="slider"><div class="slide clear">
        {% if etab.slider %}
        {% for media in etab.slider | medias %}
            {% if loop.index == 1 %}
            <img src="{{ asset(media.file) }}" width="616" height="326" alt="Vacances directes {{ etab.name }} - {{ media.title }}" class="{{ media.getTagsForSlider | join(' ') }}"/>
            {% else %}
            <a href="{{ asset(media.file) }}" width="616" height="326" alt="Vacances directes {{ etab.name }} - {{ media.title }}" class="{{ media.getTagsForSlider | join(' ') }}">Vacances directes {{ etab.name }} - {{ media.title }}</a>
            {% endif %}
        {% endfor %}
        {% endif %}
    </div></div>
    <form class="tabCampDiapoOptions clear" action="#_">
        <fieldset class="left">
            <span>{{ "fiche.photo" | trans }}</span>
            <label for="photosToutes"><input type="radio" id="photosToutes" name="affPhoto" value="all" checked="checked">{{ "Toutes" | trans }}</label>
            {% for tag in tags %}
                <label for="photos{{ tag.name }}"><input type="radio" id="photos{{ tag.name }}" name="affPhoto" value="{{ tag.slug }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Visionneuse', 'Clic_-_Bouton-Radio']);">{{ tag.name }}</label>
            {% endfor %}
        </fieldset>
        <fieldset class="right">
            {# TODO <a class="popinVideo tabCampVideo" href="{{ etab.videoPath }}" title="">{{ "fiche.video" | trans }}</a> #}
            {# TODO <a class="popin360 tabCamp360" href="{{ etab.image360Path }}">360°</a> #}
        </fieldset>
    </form>
</div>

<!-- tab Camping -->
<div id="tabCamp" class="tabs">

    <h3>{{ 'fiche.description_title' | trans }}&nbsp;{{ 'general.du' | trans }}&nbsp;{{ 'fiche.camping' | trans }}&nbsp;{{ nomEtab }} </h3>
    <div class="richText campDesc">{{ etab.description|raw }}</div>
    <div class="stayBooking clear">
        <a class="bt big fushia right goto" href="#stayBooking" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Chapo_-_Lien-Prix', 'Clic_-_Bouton-Tarifs']);">{{ "semainier.title" | trans }}</a>
    </div>

    {% if etab.plan != "" %}
    <h3>{{ 'fiche.plan_camping' | trans }}&nbsp;{{ nomEtab }}</h3>
    <div>
        <img src="{{ asset(etab.plan | media('file')) }}" width="616" alt="{{ etab.name }}">
        <img src="{{ asset('images/vacancesdirectes/common/pict/ficheLegendMap.png') }}" alt="{{ "fiche.plan.legende" | trans }}">
    </div>
    {% endif %}

    <h3>{{ 'fiche.activite_event' | trans }}</h3>
    <div class="colSurPlace clearboth">
        {% if etab.activites | length %}
        <dl>
            <dt><span>{{ "fiche.activites" | trans }}</span></dt>
            <dd class="activites"><ul>
                {% for activite in etab.activitesActive %}
                    <li>{% if activite.imagePath != "." and activite.imagePath != null %}<img src="{{ asset(activite.imagePath | media('file')) }}" width="36" height="43" alt="{{ activite.name }}">{% endif %}<span>{{ activite.name }}</span></li>
                {% endfor %}
            </ul></dd>
        </dl>
        {% endif %}
        {% if etab.baignades %}
        <dl>
            <dt><span>{{ "fiche.baignades.top" | trans }}<br />{{ "fiche.baignades.bottom" | trans }}</span></dt>
            <dd class="equipements"><ul>
                {% for baignade in etab.baignadesActive %}
                    <li>{% if baignade.imagePath != "." and baignade.imagePath != null %}<img src="{{ asset(baignade.imagePath | media('file')) }}" width="36" height="43" alt="{{ baignade.name }}">{% endif %}<span>{{ baignade.name }}</span></li>
                {% endfor %}
            </ul></dd>
        </dl>
        {% endif %}
        {% if etab.serviceComplementaires | length %}
        <dl>
            <dt><span>{{ "fiche.services_complementaires" | trans }}</span></dt>
            <dd class="services"><ul>
                {% for serviceComplementaire in etab.serviceComplementairesActive %}
                    <li>{% if serviceComplementaire.imagePath != "." and serviceComplementaire.imagePath != null %}<img src="{{ asset(serviceComplementaire.imagePath | media('file')) }}" width="36" height="43" alt="{{ serviceComplementaire.name }}">{% endif %}<span>{{ serviceComplementaire.name }}</span></li>
                {% endfor %}
            </ul></dd>
        </dl>
        {% endif %}
    </div>
    <div class="stayBooking clear">
        <a class="bt big fushia right goto" href="#stayBooking" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Chapo_-_Lien-Prix', 'Clic_-_Bouton-Tarifs']);">{{ "semainier.title" | trans }}</a>
    </div>

    {% if personnageAleatoire %}
    <div class="temoignFiche bloc gris">
        <h3>{{ "fiche.vous_aimerez" | trans }}</h3>
        <h4>{{ "fiche.comme" | trans }}</h4>
        <div>
            <div class="temoignFicheIt fish">
                <span class="perso">{{ personnageAleatoire.prenom }}</span>
                <span class="age">{{ personnageAleatoire.age }} ans</span>
            </div>
        </div>
        <div class="slider"><div class="slide">
            {% for avantage in personnageAleatoire.avantagesActive %}
                <dl>
                    <dd><img src="{{ asset(avantage.imagePath | media('file')) }}" alt="{{ avantage.name }}" class="boxborder"></dd>
                    <dt>{{ avantage.name }}</dt>
                    <dd>{{ avantage.description }}</dd>
                </dl>
            {% endfor %}
        </div></div>
    </div>
    {% endif %}

    {% if etab.countPoi != 0 or etab.countActivitesSportives != 0 or etab.countEvenementsCulturels != 0 %}
        <div class="temoignFiche bloc gris">
            {% if personnages | length %}
            <h3>{{ "fiche.vous_aimerez" | trans }}</h3>
            <h4>{{ "fiche.comme" | trans }}</h4>
            <div>
                {% for personnage in personnages %}
                    <div class="temoignFicheIt fish">
                        <span class="perso">{{ personnage.prenom | trans }}</span>
                        <span class="age">{{ personnage.age }} ans</span>
                        <ul>
                            {% for avantage in personnage.avantagesActive %}
                            <li>{{ avantage.name }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
            <hr class="clearboth">
            {% endif %}
            <h4>{{ "fiche.les_vacances_a" | trans }} {{ etab.city }}</h4>
            <div>
                <dl>
                    <dt>{{ "fiche.a_proximite" | trans }} {{ "fiche.nous_avons_liste" | trans }}</dt>
                    <dd class="img"><img width="80" height="80" src="{{ asset(etab.ville.region.imagePath | media('file')) }}" width="75"></dd>
                    <dd class="list">
                        <ul>
                            {% if etab.countPoi != 0 %}<li>{{ etab.countPoi }} {{ "fiche.sites_a_visiter" | trans }}</li>{% endif %}
                            {% if etab.countActivitesSportives != 0 %}<li>{{ etab.countActivitesSportives }} {{ "fiche.activites_sportives" | trans }}</li>{% endif %}
                            {% if etab.countEvenementsCulturels != 0 %}<li>{{ etab.countEvenementsCulturels }} {{ "fiche.evenements_culturels" | trans }}</li>{% endif %}
                        </ul>
                    </dd>
                </dl>
            {% if etab.eventPrioritaire | length %}
            <dl>
                <dt>{{ "fiche.evenement_ne_pas_manquer" | trans }}</dt>
                <dd class="img"><img width="80" height="80" src="{{ etab.eventPrioritaire.image }}" /></dd>
                <dd class="list event">
                    <strong>{{ etab.eventPrioritaire.name }}<br />
                    {{ etab.eventPrioritaire.strDate }}</strong> {{ etab.eventPrioritaire.address }}<br />
                    {{ etab.eventPrioritaire.zipcode }} {{ etab.eventPrioritaire.city }}<br />
                    {% if etab.eventPrioritaire.distanceForEtablissement(etab) > 0 %}{{ "fiche.distance_camping" | trans }} {{ (etab.eventPrioritaire.distanceForEtablissement(etab) / 1000) | number_format(0, ',', ' ') }} {{ "fiche.km" | trans }}{% endif %}
                </dd>
            </dl>
            {% endif %}
            </div>
        </div>
    {% endif %}
    <nav class="paginationTabs clear">
        <button class="bt trans left triggerClick" data-triggerLink="#tabInfos" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Precedent']);">{{ "fiche.infos_pratiques" | trans }}</button>
        <button class="bt trans right triggerClick" data-triggerLink="#tabLocations" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Suivant']);">{{ "fiche.les_locations" | trans }}</button>
    </nav>
</div>
<!-- tab Locations -->
<div id="tabLocations" class="tabs">
    <form class="filterBy" action="">
        <fieldset>
            <span>{{ "fiche.filtrer_par" | trans }}</span>
            <select name="type" id="type" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Location', 'Clic_-_Select-Categories']);">
                <option value="">{{ "fiche.toutes_categories" | trans }}</option>
                {% if etab.categoriesTypeHergement | length %}
                {% for category in etab.categoriesTypeHergement %}
                    <option value="{{ category.name | trans }}">{{ category.name | trans }}</option>
                {% endfor %}
                {% endif %}
            </select>
            <select name="capacite" id="capacite" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Location', 'Clic_-_Select-Capacite']);">
                <option value="">{{ "fiche.toutes_capacite" | trans }}</option>
                {% if etab.capacitesTypeHebergement | length %}
                {% for nbPlace in etab.capacitesTypeHebergement %}
                    <option value="cap{{ nbPlace }}">{{ "fiche.capacite" | trans }} {{ nbPlace }} {{ "fiche.places" | trans }}</option>
                {% endfor %}
                {% endif %}
            </select>
        </fieldset>
    </form>
    {% if etab.typeHebergements | length %}
    {% for hebergement in etab.typeHebergementsActive %}
        <div class="typLocation {{ hebergement.categoryTypeHebergement.name }} cap{{ hebergement.nombrePlace }} clear" data-type="{{ hebergement.code }}">
            <img src="{{ asset(hebergement.imageHebergementPath | media('file')) }}" width="181" height="134" alt="{{ hebergement.name | trans }}" class="left boxborder">
            <div style="overflow:hidden;">
            <span class="h4-like"><a href="{{ path('location_category_type_hebergement', {'categoryTypeHebergement':hebergement.categoryTypeHebergement.slug}) }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Location', 'Clic_-_Detail-Hebergement']);">{{ hebergement.categoryTypeHebergement.name | trans }}</a> - <a href="{{ path('location_type_hebergement', {'categoryTypeHebergement':hebergement.categoryTypeHebergement.slug ,'typeHebergement':hebergement.slug }) }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Location', 'Clic_-_Detail-Hebergement']);">{{ hebergement.name | trans }}</a></span>
            {# TODO <span class="nbPlace"><img src="{{ asset(hebergement.imageCompositionPath) }}" width="92" height="33" alt="">  {{ hebergement.composition | trans | nl2br }}</span>#}
            {#<strong>{{ "fiche.nombre_chambres" | trans }} {{ hebergement.nombrePlace | trans | nl2br }}<br>
            {{ "fiche.surface" | trans }} {{ hebergement.surface | trans }}<br>
            {{ "fiche.type_terrasse" | trans }} {{ hebergement.typeTerrasse | trans }}</strong>#}
            <p><strong>
            {% if hebergement.capaciteHebergement %}{{ "fiche.nombre_personnes" | trans }} {{ hebergement.capaciteHebergement | trans | nl2br }}<br />{% endif %}
            {% if hebergement.dimensions %}{{ hebergement.dimensions | trans }}<br />{% endif %}
            {% if hebergement.remarque2 %}{{ hebergement.remarque2 | trans }}{% endif %}</strong></p>
            <br />
            <p class="clearboth">{{ hebergement.presentation | trans | nl2br }}</p>
            </div>
        </div>
    {% endfor %}
    {% endif %}

    <nav class="paginationTabs clear">
        <button class="bt trans left triggerClick" data-triggerLink="#tabCamp" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Precedent']);">{{ "fiche.le_camping" | trans }}</button>
        <button class="bt trans right triggerClick" data-triggerLink="#tabProximite" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Suivant']);">{{ "fiche.a_proximite" | trans }}</button>
    </nav>
</div>
<!-- tab A Proximité -->
<div id="tabProximite" class="tabs">
    <div id="proxMap" class="gmap" style="width:616px;height:326px;">
        <script>
            function proxInit() {
                var proxMap;
                var proxMkrs = [
                    //['title', lat, lont, zindex, 'idAjaxCamping', couleurMarker]
                    ['{{ etab.name }}', {{ etab.geoCoordinateX }}, {{ etab.geoCoordinateY }}, 5, '{#{{ path('infobox_camping', {idResalys: etab.code}) }}#}', markerFushia]
                    {% for poi in sitesAVisiter %}
                    ,['{{ poi.name }}', {{ poi.geoCoordinateX }}, {{ poi.geoCoordinateY }}, 1, '', markerVert]
                    {% endfor %}
                    {% for event in events %}
                    ,['{{ event.name }}', {{ event.geoCoordinateX }}, {{ event.geoCoordinateY }}, 1, '', markerBleu]
                    {% endfor %}

                ];
                var centerproxMkr = new google.maps.LatLng({{ etab.geoCoordinateX }},{{ etab.geoCoordinateY }}),
                        mapOptions = {
                            zoom: 11,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            center: centerproxMkr
                        };
                proxMap = new google.maps.Map(document.getElementById('proxMap'), mapOptions);
                setMarkers(proxMap, proxMkrs);
            }
        </script>
    </div>
    {% if sitesAVisiter | length %}
    <h3>{{ "fiche.activites_et_sites_a_visiter" | trans }}</h3>
    <div class="activites clear">
        {% for poi in sitesAVisiter %}
            <div class="miniEncart left clear">
                <img src="{{ poi.image }}" width="101" height="101" alt="{{ poi.name }}" class="left boxborder" />
                <div class="details left">
                    <span class="h5-like">{{ poi.name }}</span>
                    <p>{{ poi.address }}<br>
                        {{ poi.address2 }}<br>
                        <span>{{ poi.zipcode }} {{ poi.city }}</span><br>
                        {% if poi.distanceForEtablissement(etab) > 0 %}{{ "fiche.distance_camping" | trans }} {{ (poi.distanceForEtablissement(etab) / 1000) | number_format(0, ',', ' ') }} {{ "fiche.km" | trans }}<br>{% endif %}
                        <a href="{{ path('poi', {slug: poi.slug}) }}" class="bt sombre left" title="{{ "general.en_savoir_plus" | trans }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_A-Proximite', 'Clic_-_Detail-Activite-Sites-a-Visiter']);">{{ "general.en_savoir_plus" | trans }}</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
    {% if events | length %}
    <h3>{{ "fiche.agenda_culturel_et_sorties" | trans }}</h3>
    <div class="agenda clear">
        {% for event in events %}
            <div class="miniEncart left clear">
                <img src="{{ event.image }}" width="101" height="101" alt="{{ event.name }}" class="left boxborder" />
                <div class="details left">
                    <span class="h5-like">{{ event.name }}</span>
                    <strong class="date">{{ event.strDate }}</strong>
                    <p>{{ event.address }}<br>
                        {{ event.address2 }}<br>
                    <span>{{ event.zipcode }} {{ event.city }}</span><br>
                        {% if event.distanceForEtablissement(etab) > 0 %}{{ "fiche.distance_camping" | trans }} {{ (event.distanceForEtablissement(etab) / 1000) | number_format(0, ',', ' ') }} {{ "fiche.km" | trans }}<br>{% endif %}
                        <a href="{{ path('event', {slug: event.slug}) }}" class="bt sombre left" title="{{ "general.en_savoir_plus" | trans }}" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_A-Proximite', 'Clic_-_Detail-Agenda-culturel-et-sorties']);">{{ "general.en_savoir_plus" | trans }}</a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
	
	{% if app.context.get('language') != 'nl' %}
    <div class="infoDestination bloc sombre">
        <h3>{{ etab.ville.region.name }}</h3>
        <p>{{ etab.ville.region.description | raw}}</p>

        <img class="iDestImg1 boxborder" src="{{ asset(etab.ville.region.imageEncartPath | media('file')) }}" width="211" height="93" alt="{{ etab.ville.region.name }}">
        <img class="iDestImg2 boxborder" src="{{ asset(etab.ville.region.imageEncartPetitePath | media('file')) }}" width="146" height="65" alt="{{ etab.ville.region.name }}">
    </div>
	{% endif %}
	
    <nav class="paginationTabs clear">
        <button class="bt trans left triggerClick" data-triggerLink="#tabLocations" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Precedent']);">{{ "fiche.les_locations" | trans }}</button>
        <button class="bt trans right triggerClick" data-triggerLink="#tabInfos" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Suivant']);">{{ "fiche.infos_pratiques" | trans }}</button>
    </nav>
</div>
<!-- tab Infos pratiques -->
<div id="tabInfos" class="tabs">
    <div id="infoMap" class="gmap" style="width:616px;height:326px;">
        <script>
            function infoInit() {
                var infoMap;
                var infoMkrs = [
                    //['title', lat, lont, zindex, 'idAjaxCamping', couleurMarker]
                    ['{{ etab.name }}', {{ etab.geoCoordinateX }}, {{ etab.geoCoordinateY }}, 1, '{{ path('infobox_camping', {idResalys: etab.code}) }}', markerFushia]
                ];
                var centerinfoMkr = new google.maps.LatLng({{ etab.geoCoordinateX }},{{ etab.geoCoordinateY }}),
                        mapOptions = {
                            zoom: 11,
                            mapTypeId: google.maps.MapTypeId.ROADMAP,
                            center: centerinfoMkr
                        };
                infoMap = new google.maps.Map(document.getElementById('infoMap'), mapOptions);
                setMarkers(infoMap, infoMkrs);
            }
        </script>
    </div>
    <div id="infoContent">
        <h3 class="clearboth">{{ "fiche.coordonnees_du_camping" | trans }} {{ etab.name }}</h3>
        <div class="blCoordGps left">
        <span class="gps">
            {{ "fiche.gps" | trans }} {{ etab.getDmsCoordinates.latitude.d }}° {{ etab.getDmsCoordinates.latitude.m }}' {{ etab.getDmsCoordinates.latitude.s }}", {{ etab.getDmsCoordinates.longitude.d }}° {{ etab.getDmsCoordinates.longitude.m }}' {{ etab.getDmsCoordinates.longitude.s }}"
        </span>
            {{ etab.address1 }}<br />
            {{ etab.address2 }}<br />
            {{ etab.zip }} {{ etab.city }}
        </div>
        <div class="blCoordTel left">
            {# TODO {{ "fiche.tel" | trans }} {{ etab.phone1 }}<br />
            {{ "fiche.fax" | trans }} {{ etab.phone2 }} #}
        </div>
        <h3 class="clearboth">{{ "fiche.horaires_ouverture" | trans }}</h3>
        <dl class="blHoraire hRecept left">
            <dt>{{ "fiche.reception" | trans }}</dt>
            <dd>{{ etab.ouvertureReception | trans | nl2br }}</dd>
        </dl>
        <dl class="blHoraire hCamp left">
            <dt>{{ "fiche.camping" | trans }}</dt>
            <dd>{{ etab.ouvertureCamping | trans | nl2br }}</dd>
        </dl>
        <h3 class="clearboth">{{ "fiche.arrivees_departs" | trans }}</h3>
        <p>{{ etab.arriveesDeparts | trans | nl2br }}</p>
    </div>

    <nav class="paginationTabs clear">
        <button class="bt trans left triggerClick" data-triggerLink="#tabProximite" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Precedent']);">{{ "fiche.a_proximite" | trans }}</button>
        <button class="bt trans right triggerClick" data-triggerLink="#tabCamp" onclick="javascript:_gaq.push(['_trackEvent', 'Nav-VD_-_Page_-_Fiche-Camping', 'Contenu_-_Footer', 'Clic_-_Lien-Suivant']);">{{ "fiche.le_camping" | trans }}</button>
    </nav>
</div>

{#  Contenu Onglets dédiés NL #}
{% if app.context.get('language') == 'nl' %}
	{% if etab.pays.description | trans != "" %}
	<!-- tab Pays -->
	<div id="tabPays" class="tabs">
	<h3>{{ etab.pays.name | trans }}</h3>
		<div class="richText campDesc">{{ etab.pays.description | raw }}</div>
	</div>
	{% endif %}
	{% if etab.region.description | trans != "" %}
	<!-- tab Region -->
	<div id="tabRegion" class="tabs">
	<h3>{{ etab.region.name | trans }}</h3>
		<div class="richText campDesc">{{ etab.region.description | raw }} </div>
		<!-- <img class="iDestImg1 boxborder" src="{{ asset(etab.ville.region.imageEncartPath | media('file')) }}" width="211" height="93" alt="{{ etab.ville.region.name }}">
        <img class="iDestImg2 boxborder" src="{{ asset(etab.ville.region.imageEncartPetitePath | media('file')) }}" width="146" height="65" alt="{{ etab.ville.region.name }}"> -->
	</div>
	{% endif %}
	{% if etab.ville.description | trans != "" %}
	<!-- tab Ville -->
	<div id="tabVille" class="tabs">
	<h3>{{ etab.ville.name | trans }}</h3>
		<div class="richText campDesc">{{ etab.ville.description | raw }}</div>
	</div>
	{% endif %}
{% endif %}{# /Onglets dédiés NL #}