{% extends "base.twig" %}

{% block content %}
<div id="wrap" class="fixed-width clear">

    <div itemscope itemtype="http://schema.org/Place">
        <h1 itemprop="name">{{ etab.name }}{{ etab.categorie.stars }}</h1>
        <p class="keywordsFiche">Club enfants - Parc aquatique - Plage de mer - Accès wifi - Animaux acceptés</p>

        <h2>Camping {{ etab.city }}</h2>
        <div class="geoDataFiche" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressCountry">{{ etab.country }}</span> |
            <span itemprop="addressRegion">{{ etab.ville.region }}</span> |
            <span itemprop="postalCode">{{ etab.zip }}</span>
            <span itemprop="addressLocality">{{ etab.ville }}</span>
            <button class="bt trans cfushia">Situer sur la carte</button>
        </div>
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{ etab.geoCoordinateX }}">
            <meta itemprop="longitude" content="{{ etab.geoCoordinateY }}">
        </div>
    </div>

    <ul class="tabControls clear">
        <li><a href="#tabCamp" class="active">Le camping</a></li>
        <li><a href="#tabLocation">Les locations</a></li>
        <li><a href="#tabSurplace">Sur place</a></li>
        <li><a href="#tabProximite">A proximité</a></li>
        <li><a href="#tabAvis">Avis</a></li>
        <li><a href="#tabInfos">Infos pratiques</a></li>
    </ul>

    <div id="tabCamp" class="tabs">
        <div class="tabCampDiapo">
            <div class="slider"><div class="slide clear">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 1" class="camping">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 1" class="locations">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 2" class="camping">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 1" class="activites">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 1" class="regions">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 4" class="regions">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 3" class="camping">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 4" class="camping">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 3" class="locations">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 3" class="activites">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 2" class="locations">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 3" class="regions">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 4" class="locations">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 5" class="locations">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 2" class="activites">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 4" class="activites">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 2" class="regions">
            </div></div>
            <form class="tabCampDiapoOptions clear" action="#_">
                <fieldset class="left">
                    <span>Photos</span>
                    <label for="photosToutes"><input type="radio" id="photosToutes" name="affPhoto" value="all" checked="checked">Toutes</label>
                    <label for="photosCamping"><input type="radio" id="photosCamping" name="affPhoto" value="camping">Camping</label>
                    <label for="photosLocations"><input type="radio" id="photosLocations" name="affPhoto" value="locations">Locations</label>
                    <label for="photosActivites"><input type="radio" id="photosActivites" name="affPhoto" value="activites">Activités</label>
                    <label for="photosRegions"><input type="radio" id="photosRegions" name="affPhoto" value="regions">Régions</label>
                </fieldset>
                <fieldset class="right">
                    <a class="popinVideo tabCampVideo" href="{{ etab.videoPath }}" title="Titre de la popin : vidéo">Vidéo</a>
                    <a class="popin360 tabCamp360" href="#_">360°</a>
                </fieldset>
            </form>
        </div>
        <div class="tabCampDesc">
            <h3>Le camping Le Petit-Mousse, le paradis de l'eau</h3>
            <p><strong>364 emplacements | Ouvert du 27 avril 2012 au 16 septembre 2012</strong></p>
            <p>Depuis plus de 35 ans, Vacances directes propose la location en camping de mobil-homes tout confort et de qualité. Venez découvrir plus de 120 destinations sélectionnées avec soin en France, Espagne et Italie pour des vacances conviviales et reposantes. Apud has gentes, quarum exordiens initium ab Assyriis ad Nili cataractas porrigitur et confinia Blemmyarum, omnes pari sorte sunt bellatores seminudi coloratis sagulis pube tenus amicti, equorum adiumento pernicium graciliumque camelorum.</p>
        </div>

        <a href="#semainier" class="bt big fushia right goto">Tarifs & disponibilités</a>

        <div class="temoignFiche bloc gris">
            <h3>Vous aimerez</h3>
            <h4>comme...</h4>
            <div class="temoignFicheIt fish">
                <span class="perso">Amélie</span>
                <span class="age">10 ans</span>
                <ul>
                    <li>les activités du club enfant (5-12 ans)</li>
                    <li>le toboggan aquatique</li>
                    <li>l'équitation (2 km)</li>
                </ul>
            </div>
            <div class="temoignFicheIt drink">
                <span class="perso">Pierre</span>
                <span class="age">36 ans</span>
                <ul>
                    <li>la location de vélos</li>
                    <li>les barbecues collectifs</li>
                    <li>le restaurant et le snacks</li>
                </ul>
            </div>
            <div class="temoignFicheIt glass">
                <span class="perso">Isabelle</span>
                <span class="age">48 ans</span>
                <ul>
                    <li>l'accès direct à la plage</li>
                    <li>l'accès wifi dans tout le camping</li>
                    <li>la laverie</li>
                </ul>
            </div>
            <a href="#_" class="bt trans right">Tous les plus du camping</a>
            <hr class="clearboth">
            <h4>Les vacances à Vias</h4>
            <dl>
                <dd class="img"><img src="../web/images/vacancesdirectes/dyn/miniCartes/languedoc-roussillon.png" alt="France > Languedoc-Roussillon"></dd>
                <dt>A proximité<br> nous avons listé :</dt>
                <dd class="list">
                   <ul>
                       <li>14 sites à visiter</li>
                       <li>24 activités sportives</li>
                       <li>14 événements culturels</li>
                   </ul>
                </dd>
            </dl>
            <dl>
                <dt>L'événement à ne pas manquer :</dt>
                <dd class="img"><img src="http://pimg.devlint.fr/76x75" alt="France > Languedoc-Roussillon"></dd>
                <dd class="list event">
                   <strong>FERIA DE BÉZIERS<br> Du vendredi 10 août 2012<br> au mercredi15 août 2012</strong>
                   avenue Jean-Constans<br> 34500 BEZIERS<br> Distance du camping : 15 km<br>
                </dd>
            </dl>
            <a href="#_" class="bt trans right">Tout savoir</a>
        </div>
        <nav class="paginationTabs clear">
            <button class="bt trans right triggerClick" data-triggerLink="#tabLocations">Les locations</button>
        </nav>
    </div>
</div>
{% endblock %}
