{% extends "base.twig" %}

{% block content %}
<div id="wrap" class="fixed-width clear">

    <div itemscope itemtype="http://schema.org/Place">
        <h1 itemprop="name">{{ etab.name }}{{ etab.categorie.stars }}</h1>
        <p class="keywordsFiche">Club enfants - Parc aquatique - Plage de mer - Accès wifi - Animaux acceptés</p>

        <h2>Camping {{ etab.city }}</h2>
        <div class="geoDataFiche" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressCountry">{{ etab.country }}</span> |
            <span itemprop="addressRegion">{{ etab.ville.region }}</span> |
            <span itemprop="postalCode">{{ etab.zip }}</span>
            <span itemprop="addressLocality">{{ etab.ville }}</span>
            <button class="bt trans cfushia">Situer sur la carte</button>
        </div>
        <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
            <meta itemprop="latitude" content="{{ etab.geoCoordinateX }}">
            <meta itemprop="longitude" content="{{ etab.geoCoordinateY }}">
        </div>
    </div>

    <ul class="tabControls clear">
        <li><a href="#tabCamp" class="active">Le camping</a></li>
        <li><a href="#tabLocation">Les locations</a></li>
        <li><a href="#tabSurplace">Sur place</a></li>
        <li><a href="#tabProximite">A proximité</a></li>
        <li><a href="#tabAvis">Avis</a></li>
        <li><a href="#tabInfos">Infos pratiques</a></li>
    </ul>

    <div id="tabCamp" class="tabs">
        <div class="tabCampDiapo">
            <div class="slider"><div class="slide clear">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 1" class="camping">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 1" class="locations">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 2" class="camping">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 1" class="activites">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 1" class="regions">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 4" class="regions">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 3" class="camping">
                <img src="http://pImg.devlint.fr/616x326/ff9191" width="616" height="326" alt="Camping 4" class="camping">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 3" class="locations">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 3" class="activites">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 2" class="locations">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 3" class="regions">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 4" class="locations">
                <img src="http://pImg.devlint.fr/616x326/ddd448" width="616" height="326" alt="Location 5" class="locations">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 2" class="activites">
                <img src="http://pImg.devlint.fr/616x326/b7b2ab" width="616" height="326" alt="Activité 4" class="activites">
                <img src="http://pImg.devlint.fr/616x326/3bbd38" width="616" height="326" alt="Régions 2" class="regions">
            </div></div>
            <form class="tabCampDiapoOptions clear" action="#_">
                <fieldset class="left">
                    <span>Photos</span>
                    <label for="photosToutes"><input type="radio" id="photosToutes" name="affPhoto" value="all" checked="checked">Toutes</label>
                    <label for="photosCamping"><input type="radio" id="photosCamping" name="affPhoto" value="camping">Camping</label>
                    <label for="photosLocations"><input type="radio" id="photosLocations" name="affPhoto" value="locations">Locations</label>
                    <label for="photosActivites"><input type="radio" id="photosActivites" name="affPhoto" value="activites">Activités</label>
                    <label for="photosRegions"><input type="radio" id="photosRegions" name="affPhoto" value="regions">Régions</label>
                </fieldset>
                <fieldset class="right">
                    <a class="popinVideo tabCampVideo" href="{{ etab.videoPath }}" title="Titre de la popin : vidéo">Vidéo</a>
                    <a class="popin360 tabCamp360" href="#_">360°</a>
                </fieldset>
            </form>
        </div>
        <div class="tabCampDesc">
            <h3>{{ etab.title}}</h3>
            <p><strong>{{ etab.capacite }} emplacements | Ouvert du {{ etab.openingDate | date('d M Y') }} au {{ etab.closingDate | date('d M Y') }}</strong></p>
            <p>{{ etab.description }}</p>
        </div>

        <div class="temoignFiche bloc gris">
            <h3>Vous aimerez</h3>
            <h4>comme...</h4>
            {% for personnage in personnages %}
                <div class="temoignFicheIt fish">
                    <span class="perso">{{ personnage.prenom | trans }}</span>
                    <span class="age">{{ personnage.age }} ans</span>
                    <ul>
                        <li>{{ personnage.interet1 }}</li>
                        <li>{{ personnage.interet2 }}</li>
                        <li>{{ personnage.interet3 }}</li>
                    </ul>
                </div>
            {% endfor %}
            <a href="#_" class="bt trans right">Tous les plus du camping</a>
            <hr class="clearboth">
            <h4>Les vacances à Vias</h4>
            <dl>
                <dd class="img"><img src="{{ asset(etab.ville.region.imagePath) }}"></dd>
                <dt>A proximité<br> nous avons listé :</dt>
                <dd class="list">
                   <ul>
                       <li>{{ nbSiteAVisiter }} sites à visiter</li>
                       <li>{{ nbActivitesSportives }} activités sportives</li>
                       <li>{{ nbEvenementsCulturels }} événements culturels</li>
                   </ul>
                </dd>
            </dl>
            <dl>
                <dt>L'événement à ne pas manquer :</dt>
                <dd class="img"><img src="{{ eventPrioritaire.image }}" /></dd>
                <dd class="list event">
                    <strong>{{ eventPrioritaire.name }}<br />
                    {{ eventPrioritaire.strDate }}</strong> {{ eventPrioritaire.address }}<br />
                    {{ eventPrioritaire.zipcode }} {{ eventPrioritaire.city }}<br />
                    Distance du camping : 15 km
                </dd>
            </dl>
            <a href="#_" class="bt trans right">Tout savoir</a>
        </div>
        <nav class="paginationTabs clear">
            <button class="bt trans right triggerClick" data-triggerLink="#tabLocations">Les locations</button>
        </nav>
    </div>
</div>
{% endblock %}
