<div id="infoBloc" class="clear radiusBox greyF">
    <h3>{{ "encart_informations.title" | trans }}</h3>
    <div class="content">
        <p>
            <a class="tel" href="tel:{{ "footer.contact.tel" | trans }}">{{ "footer.contact.tel" | trans }}</a>
        </p>
        <span class="price">{{ "encart_informations.price" | trans }}</span>
        <p class="small">
            {{ "encart_informations.dates_1" | trans }}<br />
            {{ "encart_informations.dates_2" | trans }}
        </p>
    </div>
</div>