<div id="greyBoxes">
    {# Bloc "Vacances directes un séjour réussi" #}
    <div id="assetsBloc" class="clear radiusBox greyC">
        <div class="no stamp">
            <h2>{{ "encart_vacances_directes.title" | trans }} = <br> {{ "encart_vacances_directes.subtitle" | trans }}</h2>
        </div>
        <ul>
            <li class="asset"><span>{{ "encart_vacances_directes.item_1" | trans }}</span></li>
            <li class="asset"><span>{{ "encart_vacances_directes.item_2" | trans }}</span></li>
            <li class="asset"><span>{{ "encart_vacances_directes.item_3" | trans }}</span></li>
            <li class="asset"><span>{{ "encart_vacances_directes.item_4" | trans }}</span></li>
        </ul>
    </div>
</div>